<div class="content-details">
  <div class="row">

    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
      <% if user_signed_in? %>
        <div class="edit-btn row margin-none mb20">
          <div class="btn-edit-wrapper pull-right">
            <% if is_blocked == 0 %>
              <a href="<%= mediawiki_api_base_url %>index.php?title=<%= URI.escape(project.wiki_page_name.gsub(' ', '_')) %>&useskin=weserve&veaction=edit&redirect=<%= URI.encode(taskstab_project_url(project.id)) %>" class="btn-root">
                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;<%= t('commons.edit') %>
              </a>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="edit-btn row margin-none mb20">
          <div class="btn-edit-wrapper pull-right">
            <a class="sign_in_a btn-root" data-modal="#registerModal" class="btn-edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;<%= t('commons.edit') %>
            </a>
          </div>
        </div>
      <% end %>

      <div class="clearfix"></div>
      <div class="project-summary">
        <%= contents.html_safe %>
      </div>

      <div class="project-idea">
        <strong><%= t('.project_idea') %>:&nbsp;</strong>
        <% if user_signed_in? && can?(:update, @project) %>
          <%= best_in_place project, :short_description, :ok_button => "Save", :cancel_button => "Cancel", id: 'sd_pencil', :cancel_button_class => "pencil_cancel", activator: "#sd_pencil" %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% else %>
          <%= @project.short_description %>
        <% end %>
      </div>

    </div>

  </div>
</div>

<script>
  $(document).ready(function() {
    $('.best_in_place').best_in_place();

    $(document)
        .on('click.showRevisions', '#editSource', function() {
              $.ajax({
                  url: "/projects/<%= project.id %>/revisions",
                  dataType: "script"
              }).success(function() {
                  if (!$('.approval-switch input').is(':checked')) {
                      $('.revision-history__mark').addClass('_hide');
                  }
              });
        })
  })
</script>
