<div class="content-details">
  <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <% if user_signed_in? %>
        <div class="row margin-none mb20">
          <div class="btn-edit-wrapper pull-right">
            <% if is_blocked == 0 %>
              <% if can? :revisions, project %>
                <%= link_to revisions_project_path(id: project.id), remote: true, class: "btn-root", id: "editSource" do %>
                  Revisions
                <% end %>
              <% else %>
                <a href="<%= mediawiki_api_base_url %>index.php?title=<%= URI.escape(project.wiki_page_name.gsub(' ', '_')) %>&useskin=weserve&veaction=edit&redirect=<%= URI.encode(taskstab_project_url(project.id)) %>" class="btn-root">
                  <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
                </a>
              <% end %>
            <% else %>
              <!-- TODO: for blocked users -->
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="row margin-none mb20">
          <div class="btn-edit-wrapper pull-right">
            <a class="sign_in_a" data-modal="#registerModal" class="btn-edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
            </a>
          </div>
        </div>
      <% end %>

      <div class="clearfix"></div>
      <div class="project-summary">
        <%= contents.html_safe %>
      </div>

      <div class="project-idea">
        <strong>Project Idea: &nbsp;&nbsp;</strong>
        <% if user_signed_in? && current_user.is_project_leader?(project) %>
          <%= best_in_place project, :short_description, :ok_button => "Save", :cancel_button => "Cancel", id: 'sd_pencil', :cancel_button_class => "pencil_cancel", activator: "#sd_pencil" %>
          <span id="str_length"></span>
        <% else %>
          <%= @project.short_description %>
        <% end %>
      </div>

    </div>

    <div class="requests col-md-7">
      <% if current_user && current_user.is_project_leader?(project) %>
        <% apply_requests.find_each do |apply| %>
          <div class="content-details__request">
              <span class="content-details__username"><%= apply.user_name %></span>
              <span>sent you</span>
              <span class="content_details__request-type"><%= apply.request_type %></span>
              <span>Request</span>
              <div class="content-details__request-btn">
                <%= link_to "Accept", accept_apply_request_path(apply), class: "btn-root", method: :post %>
                <%= link_to "Reject", reject_apply_request_path(apply), class: "btn-root", method: :post %>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.best_in_place').best_in_place();
  })
</script>
