<div class="content-details">
  <div class="row">

    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
      <% if user_signed_in? %>
        <div class="row margin-none mb20">
          <div class="btn-edit-wrapper pull-right">
            <% if is_blocked == 0 %>
              <% if current_user.id == project.user_id %>
                <%= link_to revisions_project_path(id: project.id), remote: true, class: "btn-edit", id: "editSource" do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
                <% end %>
              <% else %>
                <a href="<%= mediawiki_api_base_url %>index.php?title=<%= URI.escape(project.wiki_page_name.gsub(' ', '_')) %>&useskin=weserve&veaction=edit&redirect=<%= URI.encode(taskstab_project_url(project.id)) %>" class="btn-edit">
                  <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
                </a>
              <% end %>
            <% else %>
              <!-- TODO: for blocked users -->
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="row margin-none mb20">
          <div class="btn-edit-wrapper pull-right">
            <a id="sign_up_nav" data-toggle="modal" data-target="#registerModal" class="btn-edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
            </a>
            <a id="sign_up_nav" data-toggle="modal" data-target="#registerModal" class="btn-edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit Image
            </a>
          </div>
        </div>
      <% end %>

      <div class="clearfix"></div>
      <div class="project-summary">
        <%= contents.html_safe %>
      </div>

      <div class="project-idea">
        <strong>Project Idea: &nbsp;&nbsp;</strong>
        <%= best_in_place_if user_signed_in? && project.user_id == current_user.id, project, :short_description, :ok_button => "Save", :cancel_button => "Cancel", :activator => "#sd_pencil" %>
        <% if user_signed_in? && current_user.id == project.user_id %>
          <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="sd_pencil"></span>
          <span id="str_length"></span>
        <% end %>
      </div>

    </div>

    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
      <div class="tasks-summary">
        <div class="summary-header">
          <strong>Tasks</strong>
          <a href="javascript:void(0)" class="pull-right">View All</a>
        </div>

        <div id="tasks_cards">
          <% sourcing_tasks.first(5).each do |task| %>
              <div class="summary-cards">
                <div class="card-wrapper">
                  <div class="card-title">
                    <p><%= task.description %></p>
                  </div>
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 pt15">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="<%= task.funded %>;">
                        </div>
                      </div>
                      <div class="report-banner-table tab-task-report mt10">
                        <table>
                          <tr class="value">
                            <td><%= task.funded %></td>
                            <td><%= @tasks_count %></td>
                            <td><%= task.donations.count %></td>
                            <td><%= task.funded_in_btc %></td>
                          </tr>
                          <tr class="items">
                            <td>Funded</td>
                            <td>Tasks</td>
                            <td>Backers</td>
                            <td>Raised</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="fund-do-btns">
                        <a href="javascript:void(0)" title="DO" onclick="doPopup(<%= task.id %>)" data-toggle="modal" data-target="#taskDoModal">
                          DO
                        </a>
                        <a href="javascript:void(0)" title="FUND" name="fund-button" onclick="fundPopup(<%= task.id %>)" id="<%= task.id %>" data-toggle="modal" data-target="#taskFundModal">
                          FUND
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class="requests col-md-7">
      <% if current_user && current_user.is_admin_for?(project) %>
        <% apply_requests.find_each do |apply| %>
          <%= apply.user_name %> sent you <%= apply.request_type %> Request
          <%= link_to "Accept", accept_apply_request_path(apply), method: :post %>
          <%= link_to "Reject", reject_apply_request_path(apply), method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>