<div class="content-details revision-wrapper">
  <h4 class="mb20">Approve Revisions for "My project"</h4>

  <a class="btn btn-default revisions-compare-button">Compare selected revisions</a>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Edit revision</th>
          <th>Compare</th>
          <th>Time</th>
          <th>Contributer</th>
          <th></th>
          <th></th>
          <th>Approve changes</th>
          <th>Current</th>
        </tr>
      </thead>
      <tbody>
        <% histories.each_with_index do |history, index| %>
          <tr class="<%= "unapproved" if history['status'] == 'approved' %>"
            data-revision="<%= history['revision_id'] %>"
            data-revision-date="<%= history["datetime"] %>"
            data-revision-user-picture="<%= history['user'] ? (history['user'].picture? ? history['user'].picture? : gravatar_image_url(history['user'].email) ) : ''  %>"
            data-revision-user="<%= (history['user']) ? history['user'].name : 'Anonymous' %>"
            data-revision-user-id="<%= (history['user']) ? history['user'].id : '' %>"
            data-revision-user-link="<%= history['user'] ? user_path(history['user']) : '' %>"
          >
            <td>
              <a class="revisions-compare-edit-link" data-revision="<%= history['revision_id'] %>" >
                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit
              </a>
            </td>
            <td class="revisions-compare">
              <label class="revision-compare-custom-radio" for="input_revision_<%= history['revision_id'] %>">
                <input type="checkbox" value="<%= history['revision_id'] %>" id="input_revision_<%= history['revision_id'] %>" />
              </label>
            </td>
            <td>
              <%= history["datetime"] %>
            </td>
            <td class="contributer">
              <% if history['user'] %>
                <% if history['user'].picture? %>
                  <%= image_tag(history['user'].picture, size: "30x30") %>
                <% else %>
                  <%= gravatar_for_user(history['user'])%>
                <%end%>
                <%= link_to history['user'].name, user_path(history['user']) %>
              <% else %>
                <%= link_to 'Anonymous', '' %>
              <% end %>
            </td>
            <td>
              <a href="javascript:void(0)">
                <i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;Message
              </a>
            </td>
            <td>
              <a href="javascript:void(0)">
                <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;Block
              </a>
            </td>
            <td>
              <% if history['status'] == 'approved' %>
                <a href="javascript:void(0)" class="mr10">
                  <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Unapprove
                </a>
              <% else %>
                <a href="javascript:void(0)">
                  <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Mark as approved
                </a>
              <% end %>
            </td>
            <td class="current">
              <% if history['status'] == 'approved' %>
                <a href="javascript:void(0)">
                  <i class="fa fa-star"></i>
                </a>
              <% end %>
            </td>
          </tr>
        <% end %>
        <!-- <tr class="current-version">
          <td colspan="7">
            Current Version
          </td>
        </tr>
        <tr class="unapproved">
          <td>
            <a href="javascript:void(0)">
              <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Preview
            </a>
          </td>
          <td>
            7:30 PM Oct 28, 2016
          </td>
          <td class="contributer">
            <% if current_user.picture? %>
              <%= image_tag(current_user.picture, size: "30x30") %>
            <% else %>
              <%= gravatar_for_user(current_user)%>
            <%end%>
            <%= link_to current_user.name, user_path(current_user) %>
          </td>
          <td>
            <a href="javascript:void(0)">
              <i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;Message
            </a>
          </td>
          <td>
            <a href="javascript:void(0)">
              <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;Block
            </a>
          </td>
          <td>
            <a href="javascript:void(0)" class="mr10">
              <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Unapprove
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Mark as approved
            </a>
          </td>
          <td class="current">
            <a href="javascript:void(0)">
              <i class="fa fa-star"></i>
            </a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
