<div class="content-details revision-wrapper">
  <h4 class="mb20">Revisions for "<%= project.title %>"</h4>

  <div class="row">
    <div class="col-md-6">
      <a class="btn-default-weserve revisions-compare-button">Compare selected revisions</a>

      <%= link_to plan_project_path(id: project.id), remote: true, class: "btn-default-weserve", onclick: "openTab(event, 'Plan')" do %>
        Back
      <% end %>
    </div>

    <div class="col-md-6">
      <div class="approval-switch">
        <label class="switch">
          <input type="checkbox" <%= project.is_approval_enabled? ? "checked='checked'" : "" %>>
          <div class="slider round"></div>
        </label>
      </div>
    </div>
  </div>

  <div class="revision-histories-body">
    <%= render partial: "projects/revision_history", locals: {histories: histories, project: project, mediawiki_api_base_url: mediawiki_api_base_url } %>
  </div>
</div>

<script type="text/javascript">
  $(".approval-switch input").click(function() {
    var confirmContent = "Are you sure you want to turn manual verification on? You will have to review every user's contribution in order for them to be implemented.";

    if ($(this).is(':checked') == false) {
      confirmContent = "Are you sure you want to turn manual verification off? Users will be able to edit your project without your approval. You will still be able to edit text, cancel contributions, and block users.";
    }

    if (confirm(confirmContent)) {
      $(".revision-histories-body").html("<div class='center'><h4>Please wait....</h4></div>");
      $.ajax({
        url: "/projects/<%= project.id %>/switch_approval_status",
        type: "POST",
        data: {is_approval_enabled: $(this).is(':checked')},
        dataType: "script"
      });
    } else {
      if ($(this).is(':checked')) {
        $(this).prop("checked", "");
      } else {
        $(this).prop("checked", "checked")
      }
    }
  });
</script>