<div id="new-message-form">
  <%= form_for [conversation, conversation.messages.new], remote: true, html: {class: "new-message-form"} do |f| %>
    <div class="small-11 columns">
     <%= f.text_area :body, class: "form-control", placeholder: "Type message" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <!-- <div class="small-1 columns">
      <label for="message_image">
        <span class="postfix">
          <i class="fa fa-paperclip fa-2x" title="Attach file" aria-hidden="true"></i>
        </span>
      </label>
      <input type="file" name="message[image]" id="message_image" style="display: none">
    </div> -->
    <%= f.file_field :image %>
    <div>
     <%= f.submit "Send", class: "ui blue labeled submit icon button" %>
    </div>
    <span class="send-hint">
      Hit "Enter" to send
    </span>
  <% end %>
</div>