<% unless @group_messages.blank? %>
    <ul class="l-messages__list">
    <% @group_messages.each do |message| %>
        <li class="row l-messages__item">
          <div class="l-messages__sender">
            <a href="#">
              <% if message.user.picture? %>
                  <%= image_tag(message.user.picture) %>
              <% else %>
                  <%= gravatar_for_user(message.user, 35) %>
              <% end %>
            </a>
          </div>
          <div class="l-messages__content">

            <div class="l-messages__content-text">
              <%= message.message %>
              <% if message.attachment? %>
                  <br>
                  <% if %w{jpg png jpg gif bmp}.include?(message.attachment.file.extension) %>
                      <%= image_tag message.attachment.url %>
                      <br>
                      <%= t('commons.download') %>
                      image: <%= link_to message.attachment.file.filename, group_messages_download_files_path(id: message.id)%>
                  <% else %>
                      <%= t('commons.download') %>
                      file: <%= link_to message.attachment.file.filename, group_messages_download_files_path(id: message.id) %>
                  <% end %>
                  <br>
                  <br>
              <% end %>
            </div>
            <span class="l-messages__name"><%= message.user.try(:name) %></span>
            <span class="l-messages__date"><%= time_ago_in_words(message.created_at) %></span>
            <br>

          </div>
        </li>
    <% end %>
    </ul>
<% else %>
    <div class="l-messages__no-message">
      <%= t('commons.no_messages') %>
    </div>
<% end %>
