<html>
<head>
  <meta charset="utf-8">
  <title>We Serve</title>
  <link rel="stylesheet" href="/static/MESSAGES-PAGE/css/foundation.css">
  <link rel="stylesheet" type="text/css" href="/static/MESSAGES-PAGE/css/font-awesome/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Acme|Oswald:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/MESSAGES-PAGE/css/custom.css">
  <link rel="stylesheet" href="/static/MESSAGES-PAGE/css/media-queries.css">
  <script src="/static/MESSAGES-PAGE/js/vendor/modernizr.js"></script>
  <link rel="stylesheet" href="/static/MESSAGES-PAGE/css/messages.css">
</head>
<body>
<div class="main">
  <div class="row messages-page-row">
    <!-- Main nav -->
    <!-- <div class="small-2 columns full-page" id="left-nav"> -->
    <!-- </div> -->
    <%= render 'users/sidebar' %>
    <!-- Messages and projects nav -->
    <div class="row">
      <div class="small-3 columns full-page" id="messages-nav">
        <br>
        <div class="messages-nav-title">
          <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
          <span>Messages</span>
        </div>
        <div class="messages-menu" style="overflow-y: scroll; max-height: 85%;">
          <div class="messages-submenu">
            <div class="submenu-title">
              <% current_user_projects = @user_projects rescue nil %>
              <span class="menu-subtitle">PROJECTS (<%= @user_projects.count rescue 0 %>)</span>
              <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
            </div>
            <ul class="circle">
              <% unless @user_projects.blank? %>
                  <% @user_projects.each.with_index do |project, index| %>
                      <% if index == 0 %>
                          <li>
                            <a href="#" class="projects-chat"  id="<%= project.id %>"><%= project.try(:title) %></a>
                          </li>
                      <% else %>
                          <li><a href="#" class="projects-chat" id="<%= project.id %>"><%= project.try(:title) %></a></li>
                      <% end %>
                  <% end %>
              <% end %>

            </ul>
          </div>
          <hr>
          <div class="messages-submenu" id="chatrooms_id">
            <div class="submenu-title">
              <span class="menu-subtitle">DIRECT MESSAGES</span>
              <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
            </div>
            <ul class="circle" id="project-team-members">
              <%= render 'group_messages/project_team' %>
            </ul>
          </div>
          <hr>
        </div>
      </div>
      <div class="small-9 columns" id="page-message-content">
        <br>
        <div id="chat-name">
        <%= render partial: 'group_messages/chatroom_info', locals: {chat_id: @chatroom} %></div>
        <hr>
        <div id="messages">
          <%= render 'group_messages/all_messages' %>
        </div>
        <hr>
        <div id='message-form-div'>
          <% unless @user_projects.blank? %>
              <%= render 'group_messages/form' %>
          <% else %>
              <div> you are not member of any chat room</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="/static/MESSAGES-PAGE/js/vendor/jquery.js"></script>
<script src="/static/MESSAGES-PAGE/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
<script>
  function load_messages() {
    var chatroom_id = $("#group_message_chatroom_id").val();
    $.ajax({
      url: "/group_messages/load_group_messages",
      type: "post",
      data: {id: chatroom_id},
      success: function () {
        $('#messages').scrollTop(1E10)
      }
    });
  }
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $.ajaxSetup({cache: false});
    window.setInterval(function () {
      load_messages();
    }, 3000);
    $(".projects-chat").click(function () {
      project_id = $(this).attr('id')
      $("div#message-load-image").show();
      callAjax(project_id);
    });

    function callAjax(project_id) {
      $.ajax({
        url: "/group_messages/get_messages_by_room",
        type: "post",
        data: {id: project_id},
        success: function () {
        }
      });
    }
  });
</script>
</html>
