<div class="row s-group-messages margin-none">
  <div class="s-group-messages__nav">

    <div class="s-group-messages__nav-title"><%= t('.team_channels') %>:</div>
    <div class="s-group-messages__menu">
      <div class="s-group-messages__submenu">
        <div class="s-group-messages__submenu-title"><%= t('commons.my_projects') %>:</div>
        <ul class="s-group-messages__submenu-list">
          <% if @user_projects.present? %>
              <% @user_projects.each.with_index do |project, index| %>
                <li class="s-group-messages__submenu-item"><a href="#" class="projects-chat" id="<%= project.id %>"><%= project.try(:title) %></a></li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="s-group-messages__menu">
      <div class="s-group-messages__submenu">
        <div class="s-group-messages__submenu-title"><%= t('.team_members') %>:</div>
        <ul class="s-group-messages__submenu-list">
            <%= render 'group_messages/project_team' %>
        </ul>
      </div>
    </div>
    <div class="s-group-messages__menu">
        <div class="s-group-messages__submenu">
            <div class="s-group-messages__submenu-title"><%= t('.direct_messages') %>:</div>
            <ul class="s-group-messages__submenu-list _project-team-members">
              <%= render 'group_messages/one_to_one_members' %>
            </ul>
        </div>
    </div>

    <div class="s-group-messages__user-search">
        <span data-toggle="modal" data-target="#searchUser"><i class="fa fa-plus"></i>&nbsp;&nbsp;<%= t('.search_for_user') %></span>
    </div>

    <div class="s-group-messages__search-form">
        <%= form_tag(group_messages_search_user_path, :method => "get", remote: true, id: "search-form") do %>
            <%= text_field_tag :search, params[:search], class: "search-query", placeholder: t('.find_start_conversation'), data: { autocomplete: autocomplete_user_name_group_messages_path, :id_element => '#some_element' } %>
        <% end %>
    </div>
  </div>
  <div class="s-group-messages__content">
    <div class="s-group-messages__chat-title">
      <%= render partial: 'group_messages/chatroom_info', locals: { chatroom: @chatroom } %>
    </div>
    <div class="s-group-messages__messages">
      <%= render 'group_messages/all_messages' %>
    </div>
    <div id='message-form-div'>
      <% if @chatroom.present? %>
          <%= render 'group_messages/form' %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $messageRooms = $('.s-group-messages__submenu-item');

        var userId = window.location.href.match(/user_id=(\d+)/);

        if (userId && userId[1]) {
            $('a[id=' + userId[1] + ']').parent().addClass('_active');
        } else {
            $messageRooms.first().addClass('_active');
        }

        $(document)
            .on('click.openProjectChat', '.projects-chat', function() {
                var projectId = $(this).attr('id'),
                    userId = $(this).attr('name'),
                    dataToSend = { project_id: projectId };

                if (userId) {
                    dataToSend.user_id = userId;
                }

                $('.s-group-messages__submenu-item').removeClass('_active');
                $(this).parent().addClass('_active');
                $("div#message-load-image").show();
                callAjax(dataToSend);
            })

        $.ajaxSetup({cache: false});
        window.setInterval(function () {
            load_messages();
        }, 5000);
        $(".s-group-messages__user-search").click(function () {
            $(".s-group-messages__search-form").toggle();
        });
        $('#search').bind('railsAutocomplete.select', function (event, data) {
            if (data.item.id != '') {
                $("div#message-load-image").show();
                user_id = data.item.id;
                $.ajax({
                    url: "/group_messages/get_chatroom",
                    type: "post",
                    data: {user_id: user_id},
                    success: function () {}
                });
            }
        });
        function load_messages() {
            var chatroom_id = $("#group_message_chatroom_id").val();
            if (chatroom_id != undefined) {
                $.ajax({
                    url: "/group_messages/refresh_chatroom_messages",
                    type: "post",
                    data: {id: chatroom_id},
                    success: function () {
                        $('#messages').scrollTop(1E10)
                    }
                });
            }
        }
        function callAjax(dataToSend) {
            $.ajax({
                url: "/group_messages/get_chatroom",
                type: "post",
                data: dataToSend,
                success: function () {}
            });
        }
    });
</script>
