<div class="row s-group-messages margin-none">
  <div class="s-group-messages__nav">

    <div class="s-group-messages__nav-title">Team messages</div>
    <div class="s-group-messages__menu">
      <div class="s-group-messages__submenu">
        <div class="s-group-messages__submenu-title">My project</div>
        <ul class="s-group-messages__submenu-list">
          <% unless @user_projects.blank? %>
              <% @user_projects.each.with_index do |project, index| %>
                <li class="s-group-messages__submenu-item"><a href="#" class="projects-chat" id="<%= project.id %>"><%= project.try(:title) %></a></li>
              <% end %>
          <% end %>
        </ul>
      </div>
      <div class="s-group-messages__submenu">
        <div class="s-group-messages__submenu-title">My another project</div>
        <ul class="s-group-messages__submenu-list _project-team-members">
          <%= render 'group_messages/project_team' %>
        </ul>
      </div>
    </div>
    <div class="s-group-messages__nav-title">Direct messages</div>
    <div class="s-group-messages__menu">
        <div class="s-group-messages__submenu">
            <ul class="s-group-messages__submenu-list _project-team-members">
              <%= render 'group_messages/one_to_one_members' %>
            </ul>
        </div>
    </div>

    <div class="s-group-messages__user-search">
        <span data-toggle="modal" data-target="#searchUser"><i class="fa fa-plus"></i>&nbsp;&nbsp;Search for user</span>
    </div>

    <div class="s-group-messages__search-form">
        <%= form_tag(group_messages_search_user_path, :method => "get", remote: true, id: "search-form") do %>
            <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Find or Start a conversation", data: {autocomplete: autocomplete_user_name_group_messages_path, :id_element => '#some_element'} %>
        <% end %>
    </div>
  </div>
  <div class="s-group-messages__content">
    <div class="s-group-messages__chat-title">
      <%= render partial: 'group_messages/chatroom_info', locals: {chatroom: @chatroom} %>
    </div>
    <div class="s-group-messages__messages">
      <%= render 'group_messages/all_messages' %>
    </div>
    <div id='message-form-div'>
      <% unless @chatroom.blank? %>
          <%= render 'group_messages/form' %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  function load_messages() {
    var chatroom_id = $("#group_message_chatroom_id").val();
    if (chatroom_id != undefined) {
      $.ajax({
        url: "/group_messages/refresh_chatroom_messages",
        type: "post",
        data: {id: chatroom_id},
        success: function () {
          $('#messages').scrollTop(1E10)
        }
      });
    }
  }
  $(document).ready(function () {
    $.ajaxSetup({cache: false});
    window.setInterval(function () {
      load_messages();
    }, 5000);
    $(".s-group-messages__user-search").click(function () {
      $(".s-group-messages__search-form").toggle();
    });
    $(".projects-chat").click(function () {
      project_id = $(this).attr('id')
      $("div#message-load-image").show();
      callAjax(project_id);
    });
    function callAjax(project_id) {
      $.ajax({
        url: "/group_messages/get_chatroom",
        type: "post",
        data: {project_id: project_id},
        success: function () {
        }
      });
    }
  });
  $('#search').bind('railsAutocomplete.select', function (event, data) {
    if (data.item.id != '')
      $("div#message-load-image").show();
      user_id = data.item.id;
      $.ajax({
        url: "/group_messages/get_chatroom",
        type: "post",
        data: {user_id: user_id},
        success: function () {
        }
      });
  });

</script>
