<div id="editProfileModal" class="modal-default modal-edit-profile" role="dialog" tabindex="-1">
  <div class="modal-default__content">
    <button type="button" class="modal-default__close"></button>
    <h2 class="modal-default__title "><%= t('.title') %></h2>

    <form class="modal-edit-profile__form">
        <div class="modal-edit-profile__row _general">
            <% if @user.picture? %>
                <div class="modal-edit-profile__avatar" style="background-image: url('<%= @user.picture %>')">
                    <button class="modal-edit-profile__avatar-edit" data-modal="#profile-img-edit">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <a class="modal-edit-profile__background-edit" data-modal="#profile-bcg-edit"><i class="fa fa-pencil" aria-hidden="true"></i> <%= t('.edit_bg_img') %></a>
                </div>
            <% else %>
                <div class="modal-edit-profile__avatar" style="background-image: url('<%= image_url(t('commons.default_user_pic')) %>')">
                    <button class="modal-edit-profile__avatar-edit" data-modal="#profile-img-edit">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <a class="modal-edit-profile__background-edit" data-modal="#profile-bcg-edit"><i class="fa fa-pencil" aria-hidden="true"></i> <%= t('.edit_bg_img') %></a>
                </div>
            <% end %>
            <div class="modal-edit-profile__general">
                <div class="modal-edit-profile__title"><%= t('commons.general') %></div>
                <div class="modal-edit-profile__row-wrapper">
                    <div class="modal-edit-profile__col">
                        <div class="modal-edit-profile__subtitle"><%= t('commons.first_name') %></div>
                        <input type="text" class="modal-edit-profile__input _first-name" value="<%= @user.first_name %>">
                    </div>
                    <div class="modal-edit-profile__col">
                        <div class="modal-edit-profile__subtitle"><%= t('commons.last_name') %></div>
                        <input type="text" class="modal-edit-profile__input _last-name" value="<%= @user.last_name %>">
                    </div>
                </div>
                <div class="modal-edit-profile__row-wrapper">
                    <div class="modal-edit-profile__col">
                        <div class="modal-edit-profile__subtitle"><%= t('commons.city') %></div>
                        <input type="text" class="modal-edit-profile__input _city" value="<%= @user.city %>">
                    </div>
                    <div class="modal-edit-profile__col">
                        <div class="modal-edit-profile__subtitle"><%= t('commons.state') %></div>
                        <input type="text" class="modal-edit-profile__input _state" value="<%= @user.state %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-edit-profile__row">
            <div class="modal-edit-profile__title"><%= t('commons.social') %></div>
            <div class="modal-edit-profile__row-wrapper _three-col">
                <div class="modal-edit-profile__col">
                    <div class="modal-edit-profile__subtitle"><%= t('commons.linkedin') %></div>
                    <input type="text" class="modal-edit-profile__input _linkedin" value="<%= @user.linkedin_id %>">
                </div>
                <div class="modal-edit-profile__col">
                    <div class="modal-edit-profile__subtitle"><%= t('commons.facebook') %></div>
                    <input type="text" class="modal-edit-profile__input _facebook" value="<%= @user.facebook_id %>">
                </div>
                <div class="modal-edit-profile__col">
                    <div class="modal-edit-profile__subtitle" ><%= t('commons.twitter') %></div>
                    <input type="text" class="modal-edit-profile__input _twitter" value="<%= @user.twitter_id %>">
                </div>
            </div>
        </div>
        <div class="modal-edit-profile__row">
            <div class="modal-edit-profile__title"><%= t('commons.contacts') %><span> (<%= t('commons.contacts_privacy') %>)</span></div>
            <div class="modal-edit-profile__row-wrapper _three-col">
                <div class="modal-edit-profile__col">
                    <div class="modal-edit-profile__subtitle"><%= t('commons.email') %></div>
                    <input type="text" class="modal-edit-profile__input _email" value="<%= @user.email %>" disabled>
                </div>
                <div class="modal-edit-profile__col">
                    <div class="modal-edit-profile__subtitle"><%= t('commons.phone') %></div>
                    <input type="text" class="modal-edit-profile__input _phone" value="<%= @user.phone_number %>">
                </div>
                <div class="modal-edit-profile__col">
                    <div class="modal-edit-profile__subtitle"><%= t('commons.skype') %></div>
                    <input type="text" class="modal-edit-profile__input _skype" value="<%= @user.skype_id %>">
                </div>
            </div>
        </div>
        <div class="modal-edit-profile__row">
            <div class="modal-edit-profile__row-wrapper">
                <div class="modal-edit-profile__bio">
                    <div class="modal-edit-profile__subtitle"><%= t('commons.bio') %></div>
                    <textarea class="modal-edit-profile__textarea _bio"><%= @user.bio %></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="modal-edit-profile__save btn-root"><%= t('commons.save') %></button>
    </form>
  </div>
</div>

<script>
    $(document).ready(function() {
        $(document)
            .on('click.saveUserData', '.modal-edit-profile__save', function(e) {
                e.preventDefault();

                var $this = $(this),
                    $form = $('.modal-edit-profile__form'),
                    userId =  '<%= @user.id %>',
                    userNewData = {
                        user: {
                            first_name: $form.find('._first-name').val(),
                            last_name: $form.find('._last-name').val(),
                            state: $form.find('._state').val(),
                            city: $form.find('._city').val(),
                            phone_number: $form.find('._phone').val(),
                            skype_id: $form.find('._skype').val(),
                            facebook_id: $form.find('._facebook').val(),
                            linkedin_id: $form.find('._linkedin').val(),
                            twitter_id: $form.find('._twitter').val(),
                            bio: $form.find('._bio').val()
                        }
                    }

                $.ajax({
                    url: '/users/' +  userId,
                    method: 'PUT',
                    data: userNewData,
                    success: function(res) {
                        $('#profileEditResponse').find('.modal-profile-edit-response__title').text("<%= t('.update_success_message') %>");
                        location.reload();
                        $('#editProfileModal').fadeOut();
                        $('#profileEditResponse').fadeIn();
                    },
                    error: function(res) {
                        $('#profileEditResponse').find('.modal-profile-edit-response__title').text("<%= t('.update_fail_message').html_safe %>");
                        $('#profileEditResponse').fadeIn();
                    }
                })
            })

    })
</script>
