
<div id="registerModal" class="modal-default modal-sign" role="dialog" tabindex="-1">
  <div class="modal-default__content">
    <button type="button" class="modal-default__close"></button>
    <h2 class="modal-default__title _sign-up"><%= t('.join_weserve_today') %></h2>
    <h2 class="modal-default__title _sign-in"><%= t('commons.sign_in') %></h2>

    <div class="modal-sign__col-wrap">
      <div class="modal-sign__col _sign-up">
        <%= render "modal/social_register" %>
      </div>
      <div class="modal-sign__col _sign-in">
        <%= render "modal/social_sign_in" %>
      </div>

      <div class="modal-sign__col">
        <div class="_sign-up" id="sign_up_show">
          <%= render 'devise/registrations/form' %>
        </div>
        <div class="_sign-in" id="sign_in_show">
          <%= render 'devise/sessions/form' %>
        </div>
      </div>
    </div>
    <p hidden><%= t('.password_not_match') %></p>
    <div class="_sign-up">
      <p class="modal-default__text"><%= t('.agree_term_html').html_safe %></p>
      <p class="modal-default__text"><%= t('.already_have_account?') %> <a href="javascript:void(0)" class="sign_in_a"><%= t('commons.sign_in') %></a></p>
    </div>
    <p class="modal-default__text _sign-in"><%= t('.donot_have_account?') %> <a href="javascript:void(0)" class="sign_up_a"><%= t('commons.sign_up') %></a></p>
  <br>
    <p class="modal-default__text _sign-in"><a href="/users/confirmation/new" > <%= t('.not_receive_confirmation?') %></a></p>
  </div>
</div>
