<div id="taskDoModal" class="modal-default modal-do-task" role="dialog" tabindex="-1">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <div class="modal-do-task__wrapper _border-bottom">
            <div class="modal-do-task__row _project">
                <%= t('.project') %>: <span class="modal-do-task__project"></span>
            </div>
            <div class="modal-do-task__row _task">
                <%= t('.task') %>: <span class="modal-do-task__task"></span>
            </div>
            <div class="modal-do-task__row _description">
                <%= t('.description') %>: <span class="modal-do-task__description"></span>
            </div>
            <div class="modal-do-task__row _amount">
                <%= t('.amount_per_volunteer') %>: <span class="modal-do-task__amount"></span>
            </div>
        </div>
        <div class="modal-do-task__wrapper">
            <div class="modal-do-task__subtitle"><%= t('.why_right_person?') %></div>
            <%= form_for @do_request=DoRequest.new, :remote => true, html: {id: 'Do-request-form', multipart: true}, method: :post do |form| %>
                <%= form.hidden_field :task_id, value:'' , id:'task-do-request-popup'%>
                <%= form.text_area :application, class:'f-default__textarea' %>
                <%= form.hidden_field :free, value: false %>
                <br />
                <% if user_signed_in? %>
                  <button  type="submit" id="do-request-button" class="btn-root"><%= t('.submit') %></button>
                <% else %>
                  <a href="/users/sign_in" class="btn-root"><%= t('commons.login') %></a>
                <% end %>
            <% end %>

            <div class="modal-do-task__question">
                <%= t('.read_our') %>
                <%= link_to t('commons.faq'), 'https://weservehelp.zendesk.com/hc/en-us/categories/115000785847-FAQ' %>
            </div>
        </div>
    </div>
</div>
