<div id="taskDoModal" class="modal-default modal-do-task" role="dialog" tabindex="-1">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <div class="modal-do-task__wrapper _border-bottom">
            <div class="modal-do-task__row _project">
                Project: <span class="modal-do-task__project"></span>
            </div>
            <div class="modal-do-task__row _task">
                Task: <span class="modal-do-task__task"></span>
            </div>
            <div class="modal-do-task__row _description">
                Description: <span class="modal-do-task__description"></span>
            </div>
            <div class="modal-do-task__row _amount">
                Amount to be received per volunteer: <span class="modal-do-task__amount"></span>
            </div>
        </div>
        <div class="modal-do-task__wrapper">
            <div class="modal-do-task__subtitle">Why are you the right person to complete this task?</div>
            <%= form_for @do_request=DoRequest.new, :remote => true, html: {id: 'Do-request-form', multipart: true}, method: :post do |form| %>
                <%= form.hidden_field :task_id, value:'' , id:'task-do-request-popup'%>
                <%= form.text_area :application, class:'f-default__textarea' %>
                <%= form.hidden_field :free, value: false %>
                <br />
                <% if user_signed_in? %>
                  <button  type="submit" id="do-request-button" class="btn-root">Submit Application</button>
                <% else %>
                  <a href="/users/sign_in" class="btn-root">Login</a>
                <% end %>
            <% end %>

            <div class="modal-do-task__question">
                Questions? Read our
                <a href="<%= t('commons.faq_landing_link') %>">FAQ</a>
            </div>
        </div>
    </div>
</div>
