<div class="large-3 medium-6 small-12 columns">
  <div class="box">
    <center>
      <div class="team-member-img">
        <% if team_member.picture? %>
          <%= image_tag(team_member.picture.url, size: "35x35") %>
        <% else %>
          <%= gravatar_for(team_member, 35)%>
        <%end%>
      </div>
    </center>
    <center><h5><%= link_to team_member.name, user_path(team_member) %></h5></center>
    <center><h6>Project Owner/ Administrator <a href="#">Edit role</a></h6></center>
    <center><h4><%= "#{team_member.institution.try(:name) }" %></h4></center>
    <p>
      <%= team_member.try(:bio)[0..80] rescue nil %>..<%= link_to "See full bio", user_path(team_member) %>
    </p>

    <center>
      <ul class="inline-list social-net-links">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
      </ul>
    </center>
  </div>
</div>
