<div class="col-lg-3 col-md-3 col-sm-3">
  <div class="team-member-wrapper">
    <center>
      <div class="member-picture">
        <% if team_member.picture? %>
          <%= image_tag(team_member.picture.url, size: "35x35") %>
        <% else %>
          <%= gravatar_for(team_member, 35)%>
        <%end%>
      </div>
    </center>
    <center class="name"><%= link_to team_member.name, user_path(team_member) %></center>
    <center class="role">
      <p>Project Owner/ Administrator</p>
      <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Edit role</a>
    </center>

    <p class="bio">
      <%= team_member.try(:bio)[0..80] rescue nil %>..<%= link_to "See full bio", user_path(team_member) %>
    </p>

    <center>
      <ul class="inline-list social-net-links">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
      </ul>
    </center>
  </div>
</div>
