<div class="top-bar top-bar-landing">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu="" role="menubar" data-dropdownmenu="54s4jx-  dropdownmenu">
      <li>
        <%= link_to root_path, class: 'weserve' do %>
          <h3>WeServe</h3>
        <% end %>
      </li>
      <li>
        <%= link_to new_project_path do %>
          Start a project
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to 'Dashboard', dashboard_path %></li>
      <% end %>
      <li>
        <%= link_to projects_path do %>
          Active projects
        <% end %>
      </li>
      <% if current_user.try(:admin?) %>
        <li><%= link_to 'Directory', users_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu="" role="menubar" data-dropdownmenu="54s4jx- dropdownmenu">
      <li>
        <%= form_tag projects_search_projects_path , :method => :post , :id => 'search-form' do  %>
          <div class="large-12 columns">
            <!--<div class="large-6 columns">
              <%= select_tag "data", "<option>User</option><option>Task</option><option>Project</option>".html_safe %>
            </div>-->
            <div class="large-8 columns">
              <%= autocomplete_field_tag :title ,nil,autocomplete_project_name_projects_path%>
            </div>
            <div class="large-4 columns">
              <button class="btn" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <!--<i class="fa fa-search"></i>-->
          </div>
        <% end %>
      </li>
      <% if user_signed_in? %>
          <% unless current_user.name.blank? %>
        <li><%= link_to current_user.name.split(' ')[0] , current_user %></li> <% end %>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'signup_buttons' %></li>
      <% else %>
        <li>
          <a href="#" data-reveal-id="SignInModal" class="signup_buttons">
            Sign In
          </a>
        </li>

        <li>
          <a href="#" data-reveal-id="SignUpModal" class="signup_buttons">
            Sign Up
          </a>
        </li>
      <%end%>
    </ul>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
    alert();
    $('#search-form').submit()
  });
</script>