<div class="content landing">
  <div class="hero-wrapper">
    <div class="hero-text">Transform your network into a task-force designed to solve local public issues.</div>

    <% if !user_signed_in? %>
      <%= link_to "Get Started", new_user_registration_path, class: "hero-button sign-up" %>
    <%else%>
      <%= link_to "View Projects", projects_path, class: "hero-button projects" %>
    <%end%>
  </div>

  <div class="how-it-works">
    <div class="give-money">
      <h3>Help fund projects.</h3>
      <div class="info">
        You can make things happen by funding projects that your community needs. You choose the project and the task, and 100% of your money goes directly to the people who complete the tasks.
      </div>
      <%= link_to "Get involved today.", projects_path, class: "hide-mobile" %>
    </div>
    <div class="separator-or"></div>
    <div class="give-time">
      <h3>Do tasks for money.</h3>
      <div class="info">
        Put your time towards your community, and you'll be rewarded. Every task you complete will give you a payout, and there's no limit to the number of projects you can get involved in.
      </div>
     <%= link_to "See all active projects.", projects_path, class: "hide-mobile" %>
    </div>

    <%= link_to "See active projects", projects_path, class: "mobile-only hero-button" %>
  </div>

  <% if @project %>
    <div class="project-wrapper">
      <div class="project-showcase">
        <div class="picture-wrapper">
            <a href="<%= project_path(@project)%>"><img src="/assets/garbage.jpg"></a>
        </div>

        <div class="project-info">

          <h4 class="project-title"><%=link_to @project.title, project_path(@project) %><span class="project-country"><%= @project.country %></span></h4>
          <div class="tasks">
            <% @project.tasks.each do |task| %>
            <div class="task">
              <p class="task-description"><%= task.description %></p>
              <div class="progress-bar">
                <div class="current-progress" style="width: <%= 100 * (task.current_fund/task.budget) %>%"></div>
              </div>
              <span class="left">
                <strong>$<%= task.current_fund.to_i %></strong> funded
              </span>
              <span class="right">
                <strong><%= (100 * (task.current_fund/task.budget)).to_i %></strong>% of goal
              </span>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
