<div class="content landing">
  <div class="hero-wrapper">

    <div class="hero-text">Turn your audience into a task force.</div>

    <% if !user_signed_in? %>
      <%= link_to "Get Started", new_user_registration_path, class: "hero-button sign-up" %>
    <%else%>
      <%= link_to "View Projects", projects_path, class: "hero-button projects" %>
    <%end%>
  </div>

  <div class="how-it-works">
    <div class="give-money">
      <h3>Help fund projects.</h3>
      <div class="info">
        You can make things happen by funding projects that your community needs. You choose the project and the task, and 100% of your money goes directly to the people who complete the tasks.
      </div>
      <%= link_to "Get involved today.", projects_path, class: "hide-mobile" %>
    </div>
    <div class="separator-or"></div>
    <div class="give-time">
      <h3>Do tasks for money.</h3>
      <div class="info">
        Put your time towards your community, and you'll be rewarded. Every task you complete will give you a payout, and there's no limit to the number of projects you can get involved in.
      </div>
     <%= link_to "See all active projects.", projects_path, class: "hide-mobile" %>
    </div>

    <%= link_to "See active projects", projects_path, class: "mobile-only hero-button" %>
  </div>

  <% if @project %>
    <div class="project-wrapper landing">
      <h3>Project spotlight</h3>
      <div class="project-showcase">
        <div class="picture-wrapper">
          <% if @project.picture? %>
            <a class="image-with-title" href="<%= project_path(@project)%>" style="background: linear-gradient(rgba(0,0,0,0.5), transparent 20%, transparent 50%, rgba(0,0,0,0.25) 80%, rgba(0, 0, 0, 0.5)), url(<%= @project.picture.url %>) no-repeat center center">
          <% else %>
            <a class="image-with-title" href="<%= project_path(@project)%>" style="background: linear-gradient(rgba(0,0,0,0.5), transparent 20%, transparent 50%, rgba(0,0,0,0.25) 80%, rgba(0, 0, 0, 0.5)), url(assets/garden.jpeg) no-repeat 30% 60%">
          <% end %>
            <h4 class="project-title"><%= @project.title %></h4>
            <span class="project-country"><%= @project.country %></span>
          </a>
        </div>

        <div class="project-info">
          <p class="short-description"><%= @project.short_description %></p>

          <% if @project.tasks.count > 0 %>
            <% task = @project.tasks.first %>
            <div class="tasks">
              <p class="example-task">Example task</p>
              <div class="task">
                <p class="task-description"><%= task.description %></p>
                <div class="progress-bar">
                  <div class="current-progress" style="width: <%= 100 * (task.current_fund/task.budget) %>%"></div>
                </div>
                <span class="left">
                  <strong>$<%= task.current_fund.to_i %></strong> funded
                </span>
                <span class="right">
                  <strong><%= (100 * (task.current_fund/task.budget)).to_i %></strong>% of goal
                </span>
              </div>
            </div>
          <% end %>
          <%= link_to "Learn more.", project_path(@project), class: "hide-mobile" %>
        </div>
      </div>
    </div>
  <% end %>

</div>
