
<div class="landing-content">
  <div class="hero-banner">
    <div class="row margin-none">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="hero-promo">
          <div class="promo-wrapper">
            <h1><%= t('landing.hero-title') %></h1>
            <p><%= t('landing.hero-subtitle') %></p>
            <div class="hero-start">
                <% if user_signed_in? %>
                    <button class="btn-root _transparent" data-modal="#startProjectModal"><%= t('commons.start_a_project') %></button>
                <% else %>
                    <button class="btn-root _transparent sign_up_a" data-modal="#registerModal"><%= t('commons.start_a_project') %></a>
                <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= image_tag("landing_hero.jpg") %>
      </div>
    </div>
  </div>

  <section class="s-how-work">
    <div class="s-how-work__container">
      <h2 class="s-how-work__title"><%= t('landing.hero-collaboration-title') %></h2>
      <div class="s-how-work__item-wrap">
        <div class="s-how-work__item">
          <div class="s-how-work__item-content">
            <div class="s-how-work__img-wrap">
              <%= image_tag("icons/icon_people.png", :class => "s-how-work__img") %>
            </div>
            <p class="s-how-work__text"><%= t('landing.hero-collaboration-item-expand') %></p>
          </div>
        </div>
        <div class="s-how-work__item">
          <%= image_tag("icons/icon_arrow.png", :class => "s-how-work__arrow") %>
          <div class="s-how-work__item-content">
            <div class="s-how-work__img-wrap">
              <%= image_tag("icons/icon_page.png", :class => "s-how-work__img") %>
            </div>
            <p class="s-how-work__text"><%= t('landing.hero-collaboration-item-breakdown') %></p>
          </div>
        </div>
        <div class="s-how-work__item">
          <%= image_tag("icons/icon_arrow.png", :class => "s-how-work__arrow") %>
          <div class="s-how-work__item-content">
            <div class="s-how-work__img-wrap">
              <%= image_tag("icons/icon_bmoney.png", :class => "s-how-work__img") %>
            </div>
            <p class="s-how-work__text"><%= t('landing.hero-collaboration-item-fund') %></p>
          </div>
        </div>
        <div class="s-how-work__item">
          <%= image_tag("icons/icon_arrow.png", :class => "s-how-work__arrow") %>
          <div class="s-how-work__item-content">
            <div class="s-how-work__img-wrap">
              <%= image_tag("icons/icon_checklist.png", :class => "s-how-work__img") %>
            </div>
            <p class="s-how-work__text"><%= t('landing.hero-collaboration-item-complete') %></p>
          </div>
        </div>
        <div class="s-how-work__item">
          <%= image_tag("icons/icon_arrow.png", :class => "s-how-work__arrow") %>
          <div class="s-how-work__item-content">
            <div class="s-how-work__img-wrap">
              <%= image_tag("icons/icon_chacklist_look.png", :class => "s-how-work__img") %>
            </div>
            <p class="s-how-work__text"><%= t('landing.hero-collaboration-item-review') %></p>
          </div>
        </div>
      </div>
      <div class="s-how-work__info">
        <%= t('landing.hero-collaboration-text') %>
      </div>
    </div>
  </section>

  <div class="b-landing-plan">
      <div class="s-landing__wrapper">
          <ul class="b-landing-plan__list">
              <li class="b-landing-plan__item">
                  <div class="b-landing-plan__title"><%= t('landing.innovators.title') %></div>
                  <div class="b-landing-plan__content _center">
                      <div class="b-landing-plan__subtitle">
                        <%= t('landing.innovators.create_prototype_html').html_safe %>
                      </div>
                      <p class="b-landing-plan__info">
                        <%= t('landing.innovators.build_team') %>
                      </p>
                      <p class="b-landing-plan__info">
                        <%= t('landing.innovators.finance_task') %>
                      </p>
                      <p class="b-landing-plan__info">
                        <%= t('landing.innovators.feedback') %>
                      </p>
                  </div>
              </li>
              <li class="b-landing-plan__item">
                  <div class="b-landing-plan__title"><%= t('landing.bloggers.title') %></div>
                  <div class="b-landing-plan__content">
                      <div class="b-landing-plan__subtitle">
                        <%= t('landing.bloggers.report_on_the_future_html').html_safe %>
                      </div>
                      <p class="b-landing-plan__info">
                         <%= t('landing.bloggers.publish_idea') %>
                      </p>
                      <p class="b-landing-plan__info">
                        <%= t('landing.bloggers.generate_content') %>
                      </p>
                      <p class="b-landing-plan__info">
                        <%= t('landing.bloggers.translate_ideas') %>
                      </p>
                  </div>
              </li>
              <li class="b-landing-plan__item">
                  <div class="b-landing-plan__title"><%= t('landing.students.title') %></div>
                  <div class="b-landing-plan__content">
                      <div class="b-landing-plan__subtitle">
                        <%= t('landing.students.build_lab_html').html_safe %>
                      </div>
                      <p class="b-landing-plan__info">
                        <%= t('landing.students.theory_and_action') %>
                      </p>
                      <p class="b-landing-plan__info">
                        <%= t('landing.students.academic_projects') %>
                      </p>
                  </div>
              </li>
              <li class="b-landing-plan__item">
                  <div class="b-landing-plan__title"><%= t('landing.activists.title') %></div>
                  <div class="b-landing-plan__content">
                      <div class="b-landing-plan__subtitle">
                        <%= t('landing.activists.serve_as_leader_html').html_safe %>
                      </div>
                      <p class="b-landing-plan__info">
                        <%= t('landing.activists.supporter') %>
                      </p>
                      <p class="b-landing-plan__info">
                        <%= t('landing.activists.multiply_effectiveness') %>
                      </p>
                      <p class="b-landing-plan__info">
                        <%= t('landing.activists.emerge_leadership') %>
                      </p>
                  </div>
              </li>
          </ul>

          <% if user_signed_in? %>
              <button class="btn-root _transparent" data-modal="#startProjectModal"><%= t('commons.start_a_project') %></button>
          <% else %>
              <button class="btn-root _transparent sign_up_a" data-modal="#registerModal"><%= t('commons.start_a_project') %></a>
          <% end %>
      </div>
  </div>

    <div class="s-landing__tabs">
        <div class="s-landing__wrapper">
            <div class="s-landing__tabs-item">
                <div class="s-landing__tabs-left">
                    <%= image_tag("carousel/carousel_2.jpg") %>
                </div>
                <div class="s-landing__tabs-right">
                    <div class="s-landing__tabs-logo">
                        <svg focusable="false" version="1.1" class="svg-group" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-group"></use>
                        </svg>
                    </div>
                    <div class="s-landing__tabs-title"><%= t('landing.engage_audience.title') %></div>
                    <div class="s-landing__tabs-info">
                      <%= t('landing.engage_audience.description') %>
                    </div>
                    <div class="s-landing__tabs-button">
                      <% if user_signed_in? %>
                          <a class="btn-root" data-modal="#startProjectModal"><%= t('commons.start_a_project') %></a>
                      <% else %>
                          <button class="btn-root _transparent sign_up_a" data-modal="#registerModal"><%= t('commons.start_a_project') %></a>
                      <% end %>
                    </div>
                </div>
            </div>
            <div class="s-landing__tabs-item _reverse">
                <div class="s-landing__tabs-left">
                    <%= image_tag("carousel/carousel_3.jpg") %>
                </div>
                <div class="s-landing__tabs-right">
                    <div class="s-landing__tabs-logo">
                      <%= image_tag("icons/icon-coa.png") %>
                    </div>
                    <div class="s-landing__tabs-title"><%= t('landing.inclusive.title') %></div>
                    <div class="s-landing__tabs-info">
                        <%= t('landing.inclusive.description') %>
                    </div>
                    <div class="s-landing__tabs-button">
                      <% if user_signed_in? %>
                          <a class="btn-root" data-modal="#startProjectModal"><%= t('commons.start_a_project') %></a>
                      <% else %>
                          <button class="btn-root _transparent sign_up_a" data-modal="#registerModal"><%= t('commons.start_a_project') %></a>
                      <% end %>
                    </div>
                </div>
            </div>
            <div class="s-landing__tabs-item">
                <div class="s-landing__tabs-left">
                    <%= image_tag("carousel/carousel_1.jpg") %>
                </div>
                <div class="s-landing__tabs-right">
                    <div class="s-landing__tabs-logo">
                        <svg focusable="false" version="1.1" class="svg-market" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-market"></use>
                        </svg>
                    </div>
                    <div class="s-landing__tabs-title"><%= t('landing.test_market.title') %></div>
                    <div class="s-landing__tabs-info">
                      <%= t('landing.test_market.description') %>
                    </div>
                    <div class="s-landing__tabs-button">
                      <% if user_signed_in? %>
                          <a class="btn-root" data-modal="#startProjectModal"><%= t('commons.start_a_project') %></a>
                      <% else %>
                          <button class="btn-root _transparent sign_up_a" data-modal="#registerModal"><%= t('commons.start_a_project') %></a>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="s-landing__features">
    <div class="s-landing__wrapper">
        <div class="s-landing__title"><%= t('landing.independent.title') %></div>
        <ul class="s-landing__features-list">
             <li class="s-landing__features-item">
                 <div class="s-landing__features-logo">
                     <svg focusable="false" version="1.1" class="svg-corruption" aria-hidden="true">
                         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-corruption"></use>
                     </svg>
                 </div>
                 <div class="s-landing__features-title"><%= t('landing.independent.anti_curruption.title') %></div>
                 <div class="s-landing__features-info">
                     <%= t('landing.independent.anti_curruption.description') %>
                 </div>
             </li>
             <li class="s-landing__features-item">
                 <div class="s-landing__features-logo">
                     <svg focusable="false" version="1.1" class="svg-list-search" aria-hidden="true">
                         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-list-search"></use>
                     </svg>
                 </div>
                 <div class="s-landing__features-title"><%= t('landing.independent.transparency.title') %></div>
                 <div class="s-landing__features-info">
                     <%= t('landing.independent.transparency.description') %>
                 </div>
             </li>
             <li class="s-landing__features-item">
                 <div class="s-landing__features-logo">
                     <svg focusable="false" version="1.1" class="svg-bitcoin-logo" aria-hidden="true">
                         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bitcoin-logo"></use>
                     </svg>
                 </div>
                 <div class="s-landing__features-title"><%= t('landing.independent.bitcoin_payment.title') %></div>
                 <div class="s-landing__features-info">
                     <%= t('landing.independent.bitcoin_payment.description') %>
                 </div>
             </li>
        </ul>
    </div>
  </div>

 <div class="s-landing__start _navigation-item" id="s-landing-start">
    <div class="s-landing__wrapper">
        <div class="s-landing__start-button">
          <% if user_signed_in? %>
              <a class="btn-root _light" data-modal="#startProjectModal"><%= t('commons.start_a_project') %></a>
          <% else %>
              <button class="btn-root _light sign_up_a" data-modal="#registerModal"><%= t('commons.start_a_project') %></a>
          <% end %>
        </div>
      </div>
    </div>
</div>
