<!--<section  class='welcome-banner'>-->

<section class='welcome-banner' style="background-size:cover !important;background:url(<%= asset_path @project.picture.url rescue '::'%>)">
  <div class="mid-section">

    <% @projec_conut= if @project.tasks.count==0 then
                        1
                      else
                        @project.tasks.count
                      end %>

    <div class="row">
      <center class="project-intro">
        <ul>
          <li><h4>By: <%= @project.user.name %> </h4></li>
          <li><img src="images/profile-image.jpg"></li>
          <li><h4><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @project.user.city %></h4></li>
        </ul>

        <h2><%= @project.title %></h2>
      </center>
    </div>

    <div class="row">
      <center>
        <div class="task-progress-wrapper">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@sourcing_tasks.count / @projec_conut ) * 100 %> %">
            </div>
          </div>

          <table>
            <tr class="value">
              <td><%= (@sourcing_tasks.count / @projec_conut)*100 %> %</td>
              <td><%= @done_tasks.count.to_s + "/" + @projec_conut.to_s %></td>

              <% @particpent=0 %>
              <% @budget=0 %>
              <% @project.tasks.each do |p| %>
                  <% @particpent=@particpent+ p.number_of_participants rescue 0 %>
                  <% @budget=@budget+ p.budget %>
              <% end %>

              <td><%= @project.team.team_memberships.count %>/<%= @particpent %></td>
              <td>$<%= @budget %></td>
            </tr>
            <tr class="items">
              <td>Funded</td>
              <td>Completed Tasks</td>
              <td>Tearmates</td>
              <td>Raised</td>
            </tr>
          </table>
        </div>
      </center>
    </div>

    <div class="row">
      <center><a href="#" id="myBtn" class="button round get-invo-btn">Join Team </a></center>
    </div>

  </div>
</section>
