<!--<section  class='welcome-banner'>-->

<div class='welcome-banner'>
  <div class="project_picture">
    <%= image_tag(@project.picture, data: { 'object-fit': "cover" } ) %>
    <% if user_signed_in? && current_user.id == @project.user_id %>
      <a class="btn-edit btn-edit-image" onclick="projectImgEdit();"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit Project Image</a>
    <% end %>
  </div>
  <div class="mid-section">
    <div class="row">
      <center class="project-intro">
        <div class="text-center">
          <% if @project.user.picture? %>
              <%= image_tag(@project.user.picture, size: "50x50") %>
          <% else %>
              <%= gravatar_for_user(@project.user) %>
          <% end %>
        </div>
        <p class="project-owner">by <%= @project.user.name %></p>
        <h2 class="project-title">
          <%= best_in_place_if user_signed_in? && current_user.id == @project.user_id, @project, :title, :ok_button => "Save", :cancel_button => "Cancel", :activator => '#title-pencil' %>
          <% if user_signed_in? && current_user.is_admin_for?(@project) %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="title-pencil"></span>
          <% end %>
        </h2>
        <p class="project-city"><i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= best_in_place_if user_signed_in? && current_user.id == @project.user_id, @project, :country, :ok_button => "Save", :cancel_button => "Cancel", :activator => '#country-pencil' %>
          <% if user_signed_in? && current_user.is_admin_for?(@project) %>
              <%#= @project.country %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="country-pencil"></span>

          <% end %>
        </p>
      </center>
    </div>

    <div class="row">
      <center>
        <div class="task-progress-wrapper">
          <div class="progress mb20">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@sourcing_tasks.count / @projec_conut ) * 100 rescue 0 %> %">
            </div>
          </div>

          <table>
            <tr class="value">
              <td><%= (@sourcing_tasks.count / @tasks_count)*100 rescue 0 %> %</td>
              <td><%= @done_tasks.to_s + "/" + @tasks_count.to_s %></td>
              <td>
                <%= @project.team_relations_string %>
              </td>
              <td>$<%= @project.needed_budget %></td>
            </tr>
            <tr class="items">
              <td>Funded</td>
              <td>Completed Tasks</td>
              <td>Teammates</td>
              <td>Raised</td>
            </tr>
          </table>
        </div>
      </center>
    </div>

    <div class="row">
      <% if !user_signed_in? %>
          <center>
            <a class="button round get-invo-btn" data-toggle="modal" data-target="#projectSignupModal" }>Apply As Lead
              Editor</a>
            <a class="button round get-invo-btn" data-toggle="modal" data-target="#projectSignupModal">Apply As
              Executor</a>
          </center>
      <% elsif !current_user.is_admin_for?(@project) %>
          <center>
            <%= link_to "Apply As Lead Editor", get_in_projects_path(type: "1", id: @project.id), :class => "button round get-invo-btn", data: {confirm: "Do you want to apply as Lead Editor?"} %>
            <%= link_to "Apply As Executor", get_in_projects_path(type: "2", id: @project.id), :class => "button round get-invo-btn", data: {confirm: "Do you want to apply as Executor?"} %>
          </center>
      <% end %>
    </div>

  </div>
</div>
</div>