<div class='welcome-banner'>
  <div class="project_picture">
    <%= image_tag(@project.picture, data: { 'object-fit': "cover" } ) %>
    <% if user_signed_in? && can?(:update, @project) %>
      <a class="btn-edit btn-edit-image" onclick="projectImgEdit();"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;<%= t('.edit_project_image') %></a>
    <% end %>
  </div>
  <div class="welcome-banner__content">
    <div class="row _profile">
        <div class="col">
            <div class="b-project-info__title">
                <%= best_in_place_if user_signed_in? && can?(:update, @project), @project, :title, :ok_button => t('commons.save'), :cancel_button => t('commons.cancel'), :class => "project-title", :activator => '#title-pencil' %>
                <% if user_signed_in? && can?(:update, @project) %>
                    <span class="btn-edit glyphicon glyphicon-pencil" aria-hidden="true" id="title-pencil"></span>
                <% end %>
            </div>
            <a class="b-project-info__city">
                <svg focusable="false" version="1.1" class="svg-marker" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-marker"></use>
                </svg>
                <%= best_in_place_if user_signed_in? && can?(:update, @project), @project, :country, :ok_button => t('commons.save'), :cancel_button => t('commons.cancel'), :activator => '#country-pencil' %>
                <% if user_signed_in? && can?(:update, @project) %>
                    <span class="btn-edit glyphicon glyphicon-pencil" aria-hidden="true" id="country-pencil"></span>
                <% end %>
            </a>
            <div class="task-progress-wrapper">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @project.funded_percentages %>">
                    </div>
                </div>

                <table>
                    <tr class="value">
                      <td><%= @project.funded_percentages rescue 0 %></td>
                      <td><%= @project.team_relations_string %></td>
                      <td>฿ <%= btc_balance(@project.funded_budget) %></td>
                    </tr>
                    <tr class="items">
                      <td><%= t('commons.funded') %></td>
                      <td><%= t('commons.teammates') %></td>
                      <td><%= t('commons.raised') %></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="b-project-info__user-avatar">
                <% if @project.user.picture? %>
                    <%= image_tag(@project.user.picture, size: "36x36") %>
                <% else %>
                    <%= gravatar_for_user(@project.user) %>
                <% end %>
            </div>
            <p class="b-project-info__user-name">
              <span><%= t('commons.by') %> <%= link_to @project.user.display_name, user_path(@project.user) %></span>
            </p>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        var $bProjectInfo = $('.b-project-info');

        $bProjectInfo
            .on('click.addEditClass', '.btn-edit', function () {
                $bProjectInfo.find('input[type="text"]').prop('required', true);
                $(this).parent().toggleClass('_open-edit-form').parents('.b-project-info').addClass('_form-opened');
                var $buttons = $bProjectInfo.find('[type="submit"],[type="button"]');
                var $input_country = $bProjectInfo.find('input[name=country]');
                $input_country.geocomplete();
                $buttons.on('click.removeEditClass', function () {
                    $('._open-edit-form').removeClass('_open-edit-form').parents('.b-project-info').removeClass('_form-opened');
                    $buttons.off('click.removeEditClass');
                });
            });
    });
</script>
