<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>We Serve</title>
  <link rel="stylesheet" href="/static/task_show_page/css/foundation.css">
  <link rel="stylesheet" href="/static/task_show_page/app.css">
  <link rel="stylesheet" type="text/css" href="/static/task_show_page/css/font-awesome/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Acme|Oswald:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/task_show_page/css/glyphicon-only/glyphicon.css">
  <link rel="stylesheet" type="text/css" href="/static/task_show_page/css/Hover/css/hover-min.css">
  <link rel="stylesheet" type="text/css" href="/static/task_show_page/css/custom.css">
  <link rel="stylesheet" href="/static/task_show_page/css/media-queries.css">
  <script src="/static/task_show_page/js/vendor/modernizr.js"></script>
  <script src="/static/task_show_page/zeroclipboard.js"></script>

</head>
<body>

<%= render 'layouts/menu' %>



<!-- Banner -->
<%= render 'tasks/banner' %>

<!-- Tab section -->
<section class="tabs">
  <div class="row">
    <ul class="tabs" data-tab role="tablist">
      <li class="tab-title tab-title-class" role="presentation"><a id="project-tab-link" href="" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1">Project Menu <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
      <li class="tab-title" role="presentation"><a id="plan-tab-link" href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2">Vision</a></li>
      <li class="tab-title" role="presentation"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-3">Action <small>(353)</small></a></li>
      <li class="tab-title" role="presentation"><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-4">Team <small>(434)</small></a></li>
    </ul>
    <div class="tabs-content task-tabs-content">
      <section role="tabpanel" aria-hidden="false" class="content" id="panel2-1">
      </section>

      <!-- Plan TAB -->
      <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">

      </section>

      <!--Task tab -->
      <section role="tabpanel" aria-hidden="true" class="content active task draggle-set" id="panel2-3">
        <div class="row">
          <!--Funding / Sourcing Column -->
          <div class="large-3 medium-6 small-12 columns">

            <div class="task-box-header">
              <h6><a href="" id="myBtn2" >Funding/Sourcing</a></h6>
              <button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">...</button><br>
              <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is another</a></li>
                <li><a href="#">Yet another</a></li>
              </ul>
            </div>
            <!-- repeating member task box -->
            <div class="dragbox">
              <!-- repeating member task boxes -->
              <% @sourcing_tasks.each do |task| %>
                  <%= render "projects/cards/task", task: task %>
              <% end %>
              <% @suggested_tasks.each do |task| %>
                  <%= render "projects/cards/task", task: task %>
                  <% unless task.project.user_id != current_user.id %>
                      <%= task.user.name rescue nil %>  Suggested   This Task     <br>
                      <%= link_to "Reject", reject_task_path(task.id), :data => { :confirm => "Are you sure?" }, class: "button radius tiny alert right" %><%= link_to "Accept",accept_task_path(task.id), class: "button radius success tiny" %> <hr>
                  <%end%>
              <% end %>

              <div class="clear"></div>
              <!-- add button -->
              <div class="add-btn large-12 medium-12 small-12 columns portlet">
                <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class="button expand portlet-content btn_addtask"><i class="fa fa-plus" aria-hidden="true"></i> Add a Task</a>
              </div>
            </div>
          </div>

          <!-- Doing column -->
          <div class="large-3 medium-6 small-12 columns">
            <div class="task-box-header">
              <h6>Doing</h6>
              <button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="button dropdown">...</button><br>
              <ul id="drop2" data-dropdown-content class="f-dropdown" aria-hidden="true">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is another</a></li>
                <li><a href="#">Yet another</a></li>
              </ul>
            </div>
            <div class="dragbox">
              <!-- repeating member task box -->
              <% @doing_tasks.each do |task| %>
                  <%= render "projects/cards/task", task: task %>
              <% end %>
              <div class="clear"></div>

              <!-- add button -->
              <div class="add-btn large-12 medium-12 small-12 columns portlet">
                <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class="button expand portlet-content btn_addtask"><i class="fa fa-plus" aria-hidden="true"></i> Add a Task</a>
              </div>
            </div>

          </div>

          <!-- Reviewing column -->
          <div class="large-3 medium-6 small-12 columns">
            <div class="task-box-header">
              <h6>Reviewing</h6>
              <button href="#" data-dropdown="drop3" aria-controls="drop3" aria-expanded="false" class="button dropdown">...</button><br>
              <ul id="drop3" data-dropdown-content class="f-dropdown" aria-hidden="true">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is another</a></li>
                <li><a href="#">Yet another</a></li>
              </ul>
            </div>
            <div class="dragbox">
              <!-- repeating member task box -->
              <% @reviewing_tasks.each do |task| %>
                  <%= render "projects/cards/task", task: task %>
              <% end %>
              <div class="clear"></div>
              <!-- add button -->
              <div class="add-btn large-12 medium-12 small-12 columns portlet">
                <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class="button expand portlet-content btn_addtask"><i class="fa fa-plus" aria-hidden="true"></i> Add a Task</a>
              </div>
            </div>

          </div>

          <!-- Done Column -->
          <div class="large-3 medium-6 small-12 columns">
            <div class="task-box-header">
              <h6>Done</h6>
              <button href="#" data-dropdown="drop4" aria-controls="drop4" aria-expanded="false" class="button dropdown">...</button><br>
              <ul id="drop4" data-dropdown-content class="f-dropdown" aria-hidden="true">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is another</a></li>
                <li><a href="#">Yet another</a></li>
              </ul>
            </div>
            <div class="dragbox">
              <!-- repeating member task box -->
              <% @done_tasks.each do |task| %>
                  <%= render "projects/cards/task", task: task %>
              <% end %>
              <div class="clear"></div>
              <!-- add button -->
              <div class="add-btn large-12 medium-12 small-12 columns portlet">
                <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class="button expand portlet-content btn_addtask"><i class="fa fa-plus" aria-hidden="true"></i> Add a Task</a>
              </div>

            </div>

          </div>

        </div>
      </section>

      <!--Team tab-->
      <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
        <!-- one row of team members starts here -->
        <div class="row">
          <% @project.team.team_members.each do |team_member| %>
              <%= render "projects/cards/team_member", team_member: team_member %>
          <% end %>
        </div>
        <!-- end of row-->

      </section>

    </div>
  </div>
</section>


<!-- Task Details Window -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>

    <div class="task-details">
      <div class="row">

        <!--left side -->
        <div class="large-8 medium-12 small-12 columns">
          <div class="task-details-left-side">
            <div class="task-desc">
              <h3><%= @task.title %></h3>
              <p> <%= @task.description  %></p>
              <h4>Condition of Execution</h4>
              <p><%= @task.condition_of_execution %></p>
              <h4>Proof of Execution</h4>
              <p><%= @task.proof_of_execution %></p>
              <%= link_to 'Edit', edit_task_path(@task.id)%>

              <hr>

              <div class="comment">
                <h3><i class="fa fa-comment-o" aria-hidden="true"></i> Comments</h3>
                <% @task_comments.each do |comment| %>
                <div class="comment-view">
                  <div class="profile-image">
                    <% if comment.user.picture? %><%= link_to (image_tag comment.user.picture.url, :size => "30x30"), comment.user  %>
                    <%else%>
                        <%= gravatar_for_user(comment.user) %>
                    <%end%>
                  </div>

                  <div class="comment-text">
                    <P><%= comment.body %></P>
                    <h6><%=comment.created_at.to_formatted_s(:long) if !comment.created_at.nil?%></h6>
                  </div>
                </div>
                    <hr>
                <%end%>
                    <!--<a href="#">Reply</a>-->



              </div>
              <hr>
<!---->

              <!---->
              <% if user_signed_in? %>
                  <%= form_for  [@task.project, @task, @task.task_comments.build] do |f| %>
              <div class="post-comment">

                <%= f.text_area :body%>
                <%= f.hidden_field :task_id, value: @task.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
              <button type="submit" name="commit" value="Send"> Send</button> &nbsp;&nbsp;
                  <% end %>
                  <% end %>
                <a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
              </div>
            </div>

            <hr>

            <div class="activity">
              <h3><i class="fa fa-list" aria-hidden="true"></i> Activity</h3>

              <div class="activity-block">
                <img src="/static/manish-layout/images/profile-image.jpg">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
                <h6>May 26, 2015</h6>
                <a href="#">Reply</a>
              </div>

              <div class="activity-block">
                <img src="/static/manish-layout/images/profile-image.jpg">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
                <h6>May 26, 2015</h6>
                <a href="#">Reply</a>
              </div>

              <div class="activity-block">
                <img src="/static/manish-layout/images/profile-image.jpg">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
                <h6>May 26, 2015</h6>
                <a href="#">Reply</a>
              </div>
            </div>

          </div> <!-- end of task-details-left-side -->
        </div>

        <!-- right side -->
        <div class="large-4 medium-12 small-12 columns">
          <div class="task-details-right-side">
            <div class="fund">
              <center>
                <% unless  @task.suggested_task? %>
                <button><%= link_to "Fund", new_donation_path(task_id: @task.id) ,{:style=> "color:white"}%></button>
                <button> <%= link_to "Do", new_do_request_path(task_id: @task.id,free: false),{:style=> "color:white"}%></button>
                <% else%>
                    <button> This is Sugggested Task and  Waiting For Admin Approval  </button>
                <% end %>
              </center>
              <h6>Deadline :<span><%= @task.deadline.strftime("%d/%m/%Y") %></span></h6>
              <h6>Funded : <span class="light-blue">$<%= @task.current_fund + curent_bts_to_usd(@task.id) rescue 0.0 %></span> / Needed : <span>$<%= @task.budget %></span></h6>
              <h6>Teammates:<span class="light-blue"><%= @task.number_of_participants rescue 0  %></span> / Needed : <span><%= @task.target_number_of_participants %></span></h6>

              <div class="nice round progress alert large-12 medium-12 small-12">
                <span class="meter" style=<%= @task.funded  %>></span>
              </div>
              <h6><%= @task.funded %> <span>funded.</span></h6>
            </div>
            <hr>
            <strong>Task Specific Bit Coin Address:</strong>

            <p id='fe_text'><%=@task.wallet_address.sender_address rescue 'Available soon'%></p>
            </p>
            <hr>

            <div class="button-set">

              <div class="btn-left">

                <%= form_for @task_attachment, :url => url_for(:controller => 'task_attachments', :action => 'create'), html: { multipart: true } do |f| %>

                <%= f.hidden_field :task_id ,:value => @task.id %>
                <button  ><i class="fa fa-paperclip" aria-hidden="true"></i> Add Attachment  <%= f.file_field :attachment %> </button> <%= f.submit "upload", class: "btn btn-primary" %>
                <% end %>

                    <button><i class="fa fa-users" aria-hidden="true"></i> Add / Invite People</button>
                <button><i class="fa fa-check" aria-hidden="true"></i> Mark As Completed</button>

              </div>
              <div class="btn-right">
                <button><i class="fa fa-external-link" aria-hidden="true"></i> Share</button>
                <button><i class="fa fa-user" aria-hidden="true"></i> Edit Users</button>
                <button><i class="fa fa-arrow-right" aria-hidden="true"></i>  <%= link_to "Move",doing_task_path(@task.id) %> </button>
              </div>

            </div>
            <hr>

            <div class="attachments">
              <% @task_attachments.each do |attachment| %>

                  <h5><i class="fa fa-paperclip" aria-hidden="true"></i> Attachments</h5>
                  <div class="attachment">
                    <img src="http://placehold.it/150x150">
                    <span><%= attachment.created_at.strftime("%b  %d,%Y %r") %></span><br> <br>

                    <td><%= link_to "Open", attachment.attachment_url %></td>

                    <td><a href="#" name="delete_attachment" class="btn btn-danger" id="<%= attachment.id %>">X Remove</a></td>
                  </tr>
                  </div>

                <hr>
              <% end %>
            </div>
          </div> <!--row ends -->
        </div> <!-- task details ends -->
      </div>
  </div>
</div>


<!-- Task Details Window -->
<div id="myModal" class="modal">
</div>
  <!-- Modal content -->

  <script src="/static/task_show_page/js/vendor/jquery.js"></script>
  <script src="/static/task_show_page/js/foundation.min.js"></script>
  <script src="/static/task_show_page/js/custom.js"></script>
  <script>
    $(document).foundation();





  $(document).ready(function() {

    var clip = new ZeroClipboard($("#d_clip_button"));

    $('a[name=delete_attachment]').click(function() {
      //alert($(this).attr('id'));
     var id= $(this).attr('id')
      $.ajax({
        url: "/task_attachments/destroy_attachment",
        type: "post", //send it through get method
        data:{id:id},
        success: function(response) {
          $('a[name=delete_attachment]').val(response);
        },
        error: function(xhr) {
          alert(id);
        }
      });
    });

  });


  </script>

</div>
</body>
</html>