<div class="invitation">
  <div class="invi-head">
    <div class="caj">
      <% if !notification.origin_user.nil? %>
          <div class="simp-img">
            <% if notification.origin_user.picture? %>
                <%= link_to (image_tag notification.origin_user.picture.url, :size => "30x30"),
                            user_path(notification.origin_user) %>
            <% else %>
                <%= link_to gravatar_for_user(notification.origin_user),
                            user_path(notification.origin_user) %>
            <% end %>
          </div>
      <% end %>
      <div class="simp">
        <p class="img-caj">
          <% if !notification.origin_user.nil? %>
              <%= link_to notification.origin_user.name,
                          user_path(notification.origin_user) %>
          <% end %>
          <%= "#{notification.created_at.strftime(" %b")} #{notification.created_at.day.ordinalize}"  rescue nil %>
          <br>
        </p>
        <p class="img-cajing">
          <%= notification.action.humanize %>
        </p>
        <div class="delete-icon"><i class="fa fa-trash"></i></div>
      </div>
      <div class="caj-text">
        <p><%= yield %></p>
      </div>
    </div>
  </div>
</div>