

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<!--Front-end Developed by DulanUX |2016| dulanux@gmail.com -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>We Serve</title>
  <link rel="stylesheet" href="/static/notification-page/css/foundation.css">
  <link rel="stylesheet" href="/static/visitors/css/app.css">
  <link rel="stylesheet" type="text/css" href="/static/notification-page/css/font-awesome/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Acme|Oswald:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/notification-page/css/glyphicon-only/glyphicon.css">
  <link rel="stylesheet" type="text/css" href="/static/notification-page/css/Hover/css/hover-min.css">
  <link rel="stylesheet" type="text/css" href="/static/notification-page/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/notification-page/css/dashboard.css">
  <link rel="stylesheet" href="/static/notification-page/css/media-queries.css">
  <link rel="stylesheet" href="/static/notification-page/css/style.css">
  <script src="/static/notification-page/js/vendor/modernizr.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>


<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">WeServe</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#"><i class="fa fa-bell" aria-hidden="true"><span class="hvr-push">1</span></i></a></li>
      <li><a href="#"><img src="/static/notification-page/images/profile-image.jpg"></a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Start a Project</a></li>
      <li><a href="#">Active Projects</a></li>
    </ul>
  </section>
</nav>

<div id="side-menu-id" class="side-menu">
  <ul class="side-nav">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/profile_comments">Profile</a></li>
    <li><a href="/projects">Projects</a></li>
    <li class="active"><a href="/notifications">Notifications</a></li>
    <li><a href="/messages">Messages</a></li>
    <li><a href="#">Logout</a></li>

  </ul>
</div>

<div class="toggle-button"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
  <i id="toggle-icon" class="fa fa-toggle-on" aria-hidden="true"></i>
  Toggle Menu</a></div>

<div id="content-id" class="menu-content">
  <div class="large-3 medium-4 small-12 columns">
    <div class="row">
      <div class="not-list">
        <ul class="Notifi">
          <li class="not"><h4 class="header"> <i class="fa fa-bell-o" aria-hidden="true"></i>Notificatons <i class="fa fa-cog" aria-hidden="true"></i></h4> </li>
        </ul>
        <%if current_user.admin == true %>

              <%if !@array.nil? %>
                  <% @array.each do |d| %>
                      `<li class="not"></li>
                      </ul>
                      <% x= d.title %>
                      <%= link_to  x , notifications_path(d.id)%>
                  <% end %>
              <%end %>
        <%end %>


              <%if !@array_tasks.nil? %>
                  <% @array_tasks.each do |d| %>
                      `<li class="not"></li>
                      </ul>
                      <% x= d.title %>
                      <%= link_to  x , notifications_path(d.id)%>
                  <% end %>
              <%end %>
        <%if ! @pendding_do_request.nil? %>
            <%  @pendding_do_request.each do |d| %>
                `<li class="not"></li>
                </ul>
                <% x= d.title %>
                <%= link_to  x , notifications_path(d.id)%>
            <% end %>
        <%end %>
              </ul>
      </div>
    </div>
  </div>

  <div class="large-9 medium-8 small-12 columns">
    <div class="scrollbar" id="style-1">
      <div class="force-overflow">
        <div class="row">

          <div class="invitation">
            <div class="invi-head">
              <div class="caj">
                <div class="simp-img">
                </div>
                <div class="simp">
                  <p class="img-caj"><span>
                    <% if !@pro.nil? %>
                    <%x = @pro.user_id rescue nil %> <%y = User.find(x) %> <%= y.name %>
                        <% if @pro.user.picture? %><%= link_to (image_tag @pro.user.picture.url, :size => "30x30"), @pro.user  %>
                    <%else%>
                        <%= gravatar_for_user(@pro.user) %>
                    <%end%>
                        <% end %>
                    <%= "#{@pro.created_at.strftime(" %b")} #{@pro.created_at.day.ordinalize}"  rescue nil%>
                  <p class="img-cajing"> Invitation to join</p>
                </div>
                <div class="delete-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
              </div>
              <div class="caj-text">
                <%= render 'notifications/project_accept' %>
              </div>
              <% if @pro.nil? == false && current_user.admin == true  %>
                  <div class="caj-tab">
                    <%= link_to "ACCEPT INVITATION",accept_project_path(@pro.id), class: "button compose-btn accept fa fa-fa fa-check"  %>
                    <%=  link_to "DECLINE AND REPLY", reject_project_path(@pro.id), class: " button compose-btn decline fa fa-close"%>
              <%end%>
              <% if @tsk.nil? == false && current_user.admin == false %>
                  <div class="caj-tab">
                    <%= link_to "ACCEPT INVITATION", accept_task_path(@tsk.id), class: "button compose-btn accept fa fa-fa fa-check"  %>
                    <%=  link_to "DECLINE AND REPLY", reject_task_path(@tsk.id), class: " button compose-btn decline fa fa-close"%>
              <%end %>
              
              </div>
              </div>
            </div>
          </div>

          </hr>
        </div>
      </div>
    </div>
  </div>

  <!-- second row -->


  <!-- Favorites -->

</div>


<script src="/static/notification-page/js/vendor/jquery.js"></script>
<script src="/static/notification-page/js/foundation.min.js"></script>
<script src="/static/notification-page/js/custom.js"></script>
<script>
  $(document).foundation();
</script>
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#side-menu-id").toggleClass("toggled-side-menu");
    $("#content-id").toggleClass("toggled-content");
    $("#toggle-icon").toggleClass("fa-toggle-off");
    $("#toggle-icon").removeClass("fa-toggle-on");
  });
</script>
</body>
</html>