<div id="123123">
  <div class="small-12 medium-6 columns">
    <h1><i class="icon-user"></i>Comments</h1>
    <% @profile_comments.each do |comment| %>
      <div class="row comment-box">
        <div class="medium-2 columns">
          <% if comment.commenter.picture? %>
            <a href=<%="/users/#{comment.commenter_id}"%>><%= image_tag(comment.commenter.picture.url, size: "69x69") %></a>
          <% else %>
            <a href=<%="/users/#{comment.commenter_id}"%>><%= gravatar_for(comment.commenter, 69)%></a>
          <%end%>
          <span class="name"><%= comment.commenter.name %></span>
        </div>
        <div class="medium-10 columns">
          <p><%= comment.comment_text %></p>
          <span class="date"><%= comment.created_at.strftime('%B %Y') %></span>
        </div>
      </div>
    <% end %>
    <div id="paginator">
      <%= paginate @profile_comments, :remote => true %>
    </div>
    <div class="row">
      <%= render "users/comment_form" %>
    </div>
  </div>
</div>