<%= render 'layouts/messages' %>
<div class="myprojets-wrapper">
  <div class="myprojets-table">
    <h2><%= t('commons.my_projects') %></h2>
    <div class="table-responsive mb30 my-projects">
      <table class="table">
        <thead>
          <tr>
            <th><%= t('commons.project') %></th>
            <th><%= t('.leader') %></th>
            <th><%= t('.fund_and_needed') %></th>
            <th><%= t('.team_needed_html').html_safe %></th>
            <th><%= t('.task_reviewed_html').html_safe %></th>
            <th><%= t('.task_completed_html').html_safe %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.projects.each do |project| %>
            <tr>
              <td class="project" id="<%= "project-#{project.id}" %>">
                <%= link_to project_path(project) do %>
                  <span class="pull-left"><%= project.title %></span>
                <% end %>
              </td>
              <td class="leader">
                <span class="pull-left"><a href="<%= user_path(project.user) %>"><%= project.user.name %></a></span>
                <a class="pull-right" data-modal="#change-leader-modal" data-id="<%= project.id %>">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
              <td class="fund">
                <span class="pull-left">฿ <%= btc_balance(project.funded_budget) %></span>
                <span class="pull-right">฿ <%= btc_balance(project.needed_budget) %></span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.funded_percentages %>" >
                  </div>
                </div>
                <div class="progress-percent"><%= project.funded_percentages %></div>
              </td>
              <td class="team">
                <%= project.team_relations_string %>
              </td>
              <td class="team">
                <%= project.tasks_relations_string %>
              </td>
              <td class="team">
                <%= project.accepted_tasks.count %> / <%= project.tasks.count%>
              </td>
              <td class="delete">
                <button type="button" class="btn-reset" data-modal="#modalRemoveProject" onclick="remove_project(<%= project.id %>)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <h2>Followed Projects</h2>
    <div class="l-project-cards">
      <ul class="l-project-cards__list followed-projects">
        <% @user.followed_projects.each do |project| %>
          <li class="l-project-cards__item " id="<%= "project-#{project.id}" %>">
            <div class="b-project-card">

              <div class="b-project-card__top">
                <%= link_to taskstab_project_path(project), class: 'b-project-card__img-wrap' ,data: { no_turbolink: false } do%>
                  <%= image_tag(project.picture.url, data: { 'object-fit': "cover" }) %>
                <% end %>
                <div class="b-project-card__user-link">
                  <% if project.user.picture? %>
                    <%= image_tag(project.user.picture, size: "30x30") %>
                  <% else %>
                    <%= gravatar_for_user(project.user)%>
                  <%end%>
                  <%= link_to project.user.name, user_path(project.user)%>
                </div>

              </div>
              <div class="b-project-card__middle">
                <%= link_to project.title, taskstab_project_path(project), data: {no_turbolink: false}, class: "b-project-card__title" %>

                <div class="b-project-card__location">
                  <svg focusable="false" version="1.1" class="svg-marker" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-marker"></use>
                  </svg>
                  <%= project.country %>
                </div>

                <p class="b-project-card__description">
                  <%= project.short_description %>
                </p>
              </div>
              <div class="b-project-card__bottom">
                <div class="progress-banner">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.funded_percentages %>">
                    </div>
                  </div>
                </div>

                <div class="progress-report">
                  <table>
                    <tr class="value">
                      <td><%= project.funded_percentages %></td>
                      <td><%= project.team_relations_string %></td>
                      <td><%= project.tasks_relations_string %></td>
                      <td>฿ <%= btc_balance(project.funded_budget) %></td>
                    </tr>
                    <tr class="items">
                      <td><%= t('commons.funded') %></td>
                      <td><%= t('commons.teammates') %></td>
                      <td><%= t('commons.completed') %></td>
                      <td><%= t('commons.raised') %></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>



<div class="modal-default modal-leader" id="change-leader-modal" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-default__content">
    <button type="button" class="modal-default__close"></button>
    <h3 class="modal-default__title"><%= t('.change_role_confirmation') %></h3>
    <%= form_tag change_leader_projects_path, method: "post" do %>
        <%= hidden_field_tag(:project_id) %>
        <label class="f-default__label" for="leader_address"><%= t('.enter_email') %>:</label>
        <%= email_field(:leader, :address, :required => true) %>
        <button class="btn-root" name="commit"><%= t('commons.change') %></button>
    <% end %>
  </div>
</div>

<div id="modalRemoveProject" class="modal-default modal-remove-project" tabindex="-1">
  <div class="modal-default__content" style="max-width: 900px;">
    <button type="button" class="modal-default__close"></button>
    <h4 class="modal-default__title"><%= t('.delete_project_confirmation') %></h4>
   <a href=""  id="removeprojectpath" data-method="delete" > <button type='button' class='btn-root _agree'><%= t('commons.ok') %></button></a>

    <button type='button' class='btn-root _decline'><%= t('commons.cancel') %></button>
  </div>
</div>

<script type="text/javascript">
    var $modalRemoveProject = $('#modalRemoveProject');
    var remove_project_id = 0
    function remove_project (id){
      var remove_project_id = id
      $("#removeprojectpath").attr("href", "/projects/"+id)
    }
    $(document)
        .on('click.agree', '#modalRemoveProject ._agree', function () {
                // ToDO: Add BE to remove the current project
            if ('success') {
                $modalRemoveProject.trigger('click');
            } else {
                // ToDo: show error message
            }
        })
        .on('click.decline', '#modalRemoveProject ._decline', function () {
            $modalRemoveProject.trigger('click');
        });
</script>
