<% content_for :customhead do %>
  <link rel="stylesheet" type="text/css" href="/static/userdashboard/css/glyphicon-only/glyphicon.css">
  <link rel="stylesheet" type="text/css" href="/static/userdashboard/css/Hover/css/hover-min.css">
  <link rel="stylesheet" type="text/css" href="/static/userdashboard/css/dashboard.css">
<% end %>

<div class="table-responsive columns">
  <h4> <i class="fa fa-file-text-o" aria-hidden="true"></i> Projects</h4>
  <table class="project-table table" border="1">
    <tr>
      <td>NAME</td>
      <td>FUNDED / NEEDED</td>
      <td>TEAM / NEEDED</td>
      <td>TAKS COMPLETED</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% if @user.projects.count == 0 %>
      <tr>
        <td>
          <h4>There are no projects yet.</h4>
        </td>
      </tr>
    <% end %>
    <% @user.projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td>
          <span class="green_font">$ <%= project_funded(project)%></span>
          / $ <%= project_budget(project) %></td>
        <td>
          <%= project.team_relations_string %>
        </td>
        <td><span class="green_font"><%= project.accepted_tasks.count %> </span>/ <%= project.tasks.count%></td>
        <td>
          <a href="#">
            <i class="fa fa-bell" aria-hidden="true">
              <span class="hvr-push">1</span>
            </i>
          </a>
        </td>
        <td>
          <%= link_to edit_project_path(project) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i> 
            Edit 
          <% end %>
        </td>
        <td>
          <%= link_to project_path(project) do %>
            <i class="fa fa-external-link" aria-hidden="true"></i> 
            See Project
          <% end %>
        </td>
      </tr> 
    <% end %>
  </table>
  <br />
  <h4> <i class="fa fa-star-o" aria-hidden="true"></i>Followed projects</h4>
  <% if @user.followed_projects.count == 0 %>
    <h4>There are no followed projects yet.</h4>
  <% else %>
    <table class="project-table table" border="1">
      <tr>
        <td>NAME</td>
        <td>FUNDED / NEEDED</td>
        <td>TEAM / NEEDED</td>
        <td>TAKS COMPLETED</td>
        <td></td>
        <td></td>
      </tr>
      <% @user.followed_projects.each do |followed_project| %>
        <tr>
          <td><%= followed_project.title %></td>
          <td>
            <span class="green_font">$ <%= project_funded(followed_project)%></span>
            / $ <%= project_budget(followed_project) %></td>
          <td>
            <%= followed_project.team_relations_string %>
          </td>
          <td>
            <span class="green_font"><%= followed_project.accepted_tasks.count %> </span>
            / <%= followed_project.tasks.count%>
          </td>
          <td>
            <a href="#">
              <i class="fa fa-bell" aria-hidden="true">
                <span class="hvr-push">1</span>
              </i>
            </a>
          </td>
          <td>
            <%= link_to project_path(followed_project) do %>
              <i class="fa fa-external-link" aria-hidden="true"></i> 
              See Project
            <% end %>
          </td>
        </tr> 
      <% end %>
    </table>
  <% end %>
</div>

