<div class="profile-wrapper">
  <div class="profile-hero">
    <div class="profile-hero__img-wrapper">
      <%= image_tag(@user.background_picture, data: { 'object-fit': "cover" }) if @user.projects.count != 0 %>
    </div>
    <div class="profile-hero__content">
      <% if user_signed_in? && current_user.id == @user.id %>
        <button class="profile-hero__edit-button" type="button" data-modal="#editProfileModal"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <% end %>
        <div class="profile-hero__avatar-wrapper">
            <% if @user.picture? %>
                <div class="profile-hero__avatar" style="background-image: url('<%= @user.picture %>')">
                    <% if user_signed_in? && current_user.id == @user.id %>
                        <a class="btn-edit-image _background" data-modal="#profile-bcg-edit"><i class="fa fa-pencil" aria-hidden="true"></i> <%= t('.edit_bg_img') %></a>
                        <a class="btn-edit-image _profile" data-modal="#profile-img-edit"><i class="fa fa-pencil" aria-hidden="true"></i> <%= t('.edit_profile_img') %></a>
                    <% end %>
                </div>
            <% else %>
                <div class="profile-hero__avatar" style="background-image: url('<%= image_url(t('commons.default_user_pic')) %>')">
                    <% if user_signed_in? && current_user.id == @user.id %>
                        <a class="btn-edit-image _background" data-modal="#profile-bcg-edit"><i class="fa fa-pencil" aria-hidden="true"></i> <%= t('.edit_bg_img') %></a>
                        <a class="btn-edit-image _profile" data-modal="#profile-img-edit"><i class="fa fa-pencil" aria-hidden="true"></i> <%= t('.edit_profile_img') %></a>
                    <% end %>
                </div>
            <% end %>
        </div>
      <div class="profile-hero__user-name-wrap">
        <div class="profile-hero__user-name">
          <%= @user.name %>
        </div>
      </div>

      <div class="profile-hero__user-location-wrap">

          <% if (current_user && current_user.id == @user.id) %>
            <div class="profile-hero__user-location">
              <svg focusable="false" version="1.1" class="svg-map-icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-map-icon"></use>
              </svg>
              <%= best_in_place @user, :city, :as => :input, activator: '#edit-location-pencil', cancel_button: t('commons.cancel'), cancel_button_class: "btn btn-default button-margin-right", ok_button: t('commons.save'), ok_button_class: "btn btn-default button-margin-right" %>
              <a id="edit-location-pencil" href="javascript:void(0)" class="btn-edit glyphicon glyphicon-pencil" data-toggle="tooltip" title="<%= t('commons.edit') %>"></a>
            </div>
          <% else %>
            <% if @user.city.present? %>
              <div class="profile-hero__user-location">
                <svg focusable="false" version="1.1" class="svg-map-icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-map-icon"></use>
                </svg>
                <%= @user.city %>
              </div>
            <% end %>
          <% end %>
      </div>

      <dl class="profile-hero__dl">
        <div class="profile-hero__dl-item">
          <div class="profile-hero__dt"><%= t('.project_leads') %></div>
          <div class="profile-hero__dd"><%= @user.projects.count %></div>
        </div>
        <div class="profile-hero__dl-item">
          <div class="profile-hero__dt"><%= t('.completed_task') %></div>
          <div class="profile-hero__dd"><%= @user.completed_tasks_count %></div>
        </div>
        <div class="profile-hero__dl-item">
          <div class="profile-hero__dt"><%= t('.project_funded') %></div>
          <div class="profile-hero__dd"><%= @user.funded_projects_count %></div>
        </div>
      </dl>

      <div class="profile-hero__user-trans-btns">
        <% if current_user && current_user.id == @user.id %>
            <a class="profile-hero__btn" href="/users/<%= current_user.id %>/my_wallet"><%= t('commons.my_wallet') %></a>
        <% end %>
        <% if current_user && current_user.id != @user.id %>
          <%= link_to group_messages_path(user_id: @user.id), class: "profile-hero__btn" do %>
            <svg focusable="false" version="1.1" class="svg-envelope">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-envelope"></use>
            </svg><%= t('commons.message') %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="bio-wrapper">
    <h3 class="bio-header text-uppercase">
      <%= t('commons.bio') %>
      <% if (current_user && current_user.id == @user.id) %>
          <i class="fa fa-pencil" id="bio-edit-pencil"></i>
      <% end %>
    </h3>
    <p class="profile-bio">
      <% if (current_user && current_user.id == @user.id) %>
        <%= best_in_place @user, :bio, :as => :textarea, activator: '#bio-edit-pencil', cancel_button: t('commons.cancel'), cancel_button_class: "button", ok_button: t('commons.save'), ok_button_class: "button ok-button" %>
      <% end %>
    </p>
  </div>

  <div class="profile-projects">
    <div class="l-project-cards">
      <h3 class="l-project-cards__title"><%= t('commons.projects') %></h3>
      <ul class="l-project-cards__list">
        <% @user.projects.each do |project| %>
          <li class="l-project-cards__item">
            <div class="b-project-card">

              <div class="b-project-card__top">
                <%= link_to taskstab_project_path(project), class: 'b-project-card__img-wrap' ,data: { no_turbolink: false } do %>
                  <%= image_tag(project.picture.url, data: { 'object-fit': "cover" }) %>
                <% end %>
                <div class="b-project-card__user-link">
                  <% if project.user.picture? %>
                    <%= image_tag(project.user.picture, size: "32x32") %>
                  <% else %>
                    <%= gravatar_for_user(project.user)%>
                  <%end%>
                  <%= link_to project.user.name, user_path(project.user)%>
                </div>

              </div>
              <div class="b-project-card__middle">
                <%= link_to project.title, taskstab_project_path(project), data: { no_turbolink: false }, class: "b-project-card__title" %>

                <div class="b-project-card__location">
                  <svg focusable="false" version="1.1" class="svg-marker" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-marker"></use>
                  </svg>
                  <%= project.country %>
                </div>

                <p class="b-project-card__description">
                  <%= project.short_description %>
                </p>
              </div>
              <div class="b-project-card__bottom">
                <div class="progress-banner">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.funded_percentages %>">
                    </div>
                  </div>
                </div>

                <div class="progress-report">
                  <table>
                    <tr class="value">
                      <td><%= project.funded_percentages %></td>
                      <td><%= project.team_relations_string %></td>
                      <td><%= project.tasks_relations_string %></td>
                      <td>฿ <%= btc_balance(project.funded_budget) %></td>
                    </tr>
                    <tr class="items">
                      <td><%= t('commons.funded') %></td>
                      <td><%= t('commons.teammates') %></td>
                      <td><%= t('commons.completed') %></td>
                      <td><%= t('commons.raised') %></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

</div>

<%= render "profile_edit_dialog" %>
<%= render "profile_edit_bcg_dialog" %>
<%= render "profile_edit_bcg_dialog" %>
<%= render "modal/edit_profile_modal" %>
<%= render "modal/profile_edit_response_modal" %>

<script>

  <% if user_signed_in? && current_user.id == @user.id %>
    $('.profile-hero__avatar').addClass('_signed-in');
  <% end %>

  $('#wallet_transaction_amount').keypress(function(eve) {
    if(eve.which == 8 || eve.which == 0){
      return true;
    }
    if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57)) {
      document.getElementById("wallet_btc").innerHTML = '';
      var usd = document.getElementById("wallet_transaction_amount");
      var current_btc = '<%=  Payments::BTC::Converter.current_btc_rate  %>'
      document.getElementById("wallet_btc").innerHTML= usd.value+" USD = " +(usd.value/current_btc)+" ฿";
      eve.preventDefault();
    }

    // this part is when left part of number is deleted and leaves a . in the leftmost position. For example, 33.25, then 33 is deleted
    $('#wallet_transaction_amount').keyup(function(eve) {
      if($(this).val().indexOf('.') == 0) {    $(this).val($(this).val().substring(1));
      }
      document.getElementById("wallet_btc").innerHTML = '';
      var usd = document.getElementById("wallet_transaction_amount");
      var current_btc = '<%=  Payments::BTC::Converter.current_btc_rate  %>'
      document.getElementById("wallet_btc").innerHTML= usd.value+" USD = " +(usd.value/current_btc)+" ฿";

    });

  });

  $('#save-wallet-teansaction').click(function(){
    if ($("#wallet_transaction_user_wallet").val() != '' && $("#wallet_transaction_amount").val() != ''  ){
      $('#save-wallet-teansaction').disabled = true ;
      $('#response-from-wallet').html("");
      $('#response-from-wallet').html("Requesting ... please Wait ");}
  });

  $(".close-reveal-modal").click(function(){
    $('#response-from-wallet').html("");
  });

  function previewProfileImage(input) {
    if(input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('.f-edit-bcg__image img').attr('src', e.target.result);
        $('.jcrop-holder img').attr('src', e.target.result);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  function previewBackgroundImage(input) {
    if(input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('.f-edit-bcg__image img').attr('src', e.target.result);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

</script>
