<h1>Profile</h1>
<div class="lin2 row">
  <div class="lin2-media small-12 medium-2 columns">
    <% if @user.picture? %>
      <%= image_tag(@user.picture, size: "123x123") %>
    <% else %>
      <%= gravatar_for(@user, 123)%>
    <%end%>
  </div>
  <div class="lin2-contents medium-10 columns">
    <div>
      <h1 class="profile-title">
      </h1>        
      <div class="lin2-social">
        <a href='<%= url_for("http://#{@user.facebook_url}") %>' target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="<%= url_for("http://#{@user.linkedin_url}") %>" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="<%= url_for("http://#{@user.twitter_url}") %>" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="<%= url_for("mailto:#{@user.email}") %>" target="_blank">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <p>
      <i class="icon-map-marker margin-right-5"></i>
      <%= user_short_info(@user) %>
    </p>
    <a href="/group_messages/user_messaging?user_id=<%= @user.id %>" class="button button-send"><i class="icon-comment"></i>Send Message</a>
    <% if current_user.user_wallet_address.blank?  %>
        <a href="/user_wallet_transactions/create_wallet" class="button button-send">Create Wallet</a>
          <%else %>
            <a href="#" class="button button-send">Wallet Address: <%= @user.user_wallet_address.sender_address rescue 'not found' %></a>
        <a href="javascript:void(0)" class="button button-send" data-reveal-id="fund-transfer-wallet">Transfer coins
        </a>
    <% end %>

  </div>
</div>
<div class="lin3">
  <div class="lin-inner">
    <span class="no"><%= @user.projects.count %></span>
    <span class="tx">Project </br>Leads</span>
  </div>
  <div class="lin-inner">
    <span class="no"><%= @user.completed_tasks_count %></span>
    <span class="tx">Completed </br>Tasks</span>
  </div>
  <div class="lin-inner">
    <span class="no"><%= @user.funded_projects_count %></span>
    <span class="tx">Funded </br>Projects</span>
  </div>
</div>
<section class="bio">
    <h1>
      <i class="fa fa-user" aria-hidden="true"></i>
      <% if (current_user && current_user.id == @user.id) %>
        <i class="icon-save" id="bio-edit-save" style="display: none;"></i>
        <i class="fa fa-pencil" id="bio-edit-pencil"></i>
      <% end %>
      Bio
    </h1>
    <h4 class="profile-bio">
      <%= best_in_place_if (current_user && current_user.id == @user.id), @user, :bio, :as => :textarea, activator: '#bio-edit-pencil', cancel_button: "Cancel", cancel_button_class: "button" %>
    </h4>
    <br>
</section>
<section class="comments">
  <div class="row margin-none">
    <%= render 'users/profile_comments' %>
    <%= render 'users/profile_projects' %>
  </div>
</section>

<div id="fund-transfer-wallet" class="reveal-modal" data-reveal aria-labelledby="inviteTitle" aria-hidden="true" role="dialog">
  <div>
    <a class="close-reveal-modal" aria-label="Close">&times;</a>
    <div class="fund-do">
      <div class="row">
        <center><h4 >Transfer BTC to Any Wallet</h4></center>
        <center>  <div style="background-color: red ;font-size: large ;margin:0 3%"  id="response-from-wallet"></div></center>
        <div class="large-1 medium-1 small-0 columns"></div>
        <%= form_tag("/user_wallet_transactions/create", method: "post" ,remote:true ) do %>
            <center>   <div class="form-group" style="margin:0 3%">
              <label class="control-label" >Amount</label>
              <input type="text" id="wallet_transaction_amount" name="amount"  class="form-control" required="true" placeholder='Enter USD Amount to Send'/>
              <span id="wallet_btc"style="color: darkorange"></span>
            </div></center>
            <center><div class="form-group" style="margin:0 3%">
              <label class="control-label" >User Wallet</label>
              <input type="text" id="wallet_transaction_user_wallet" name="wallet_transaction_user_wallet"  required="true" class="form-control" placeholder='Please Enter Receiver Wallet Address' />
            </div></center>
            <div class="form-group" style="margin:0 3%">
                <button type="submit" class="  btn btn-primary btn-danger" id="save-wallet-teansaction" style="margin: 10px" value="save">Save</button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>

  $('#wallet_transaction_amount').keypress(function(eve) {
    if(eve.which == 8 || eve.which == 0){
      return true;
    }
    if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57) || (eve.which == 46 && $(this).caret().start == 0) ) {
      document.getElementById("wallet_btc").innerHTML = '';
      var usd = document.getElementById("wallet_transaction_amount");
      var current_btc = '<%=  get_current_btc_rate  %>'
      document.getElementById("wallet_btc").innerHTML= usd.value+" USD = " +(usd.value/current_btc)+" BTC";
      eve.preventDefault();
    }

    // this part is when left part of number is deleted and leaves a . in the leftmost position. For example, 33.25, then 33 is deleted
    $('#wallet_transaction_amount').keyup(function(eve) {
      if($(this).val().indexOf('.') == 0) {    $(this).val($(this).val().substring(1));
      }
      document.getElementById("wallet_btc").innerHTML = '';
      var usd = document.getElementById("wallet_transaction_amount");
      var current_btc = '<%=  get_current_btc_rate  %>'
      document.getElementById("wallet_btc").innerHTML= usd.value+" USD = " +(usd.value/current_btc)+" BTC";

    });

  });

  $('#save-wallet-teansaction').click(function(){
    if ($("#wallet_transaction_user_wallet").val() != '' && $("#wallet_transaction_amount").val() != ''  ){
      $('#save-wallet-teansaction').disabled = true ;
      $('#response-from-wallet').html("");
    $('#response-from-wallet').html("Requesting ... please Wait ");}
  });

  $(".close-reveal-modal").click(function(){
    $('#response-from-wallet').html("");
  });

  $(".profile-title").hover(
    function() {
      $("#edit-profile-pencil").show();
    },
    function() {
      $("#edit-profile-pencil").hide();
    }
  )

  $('.profile-bio .best_in_place').focusin(function(){
    $("#bio-edit-pencil").hide();
    $("#bio-edit-save").show();
  });
  
  $('.profile-bio .best_in_place').focusout(function(){
    $("#bio-edit-save").hide();
    $("#bio-edit-pencil").show();
  });

</script>


<div class="profile-wrapper">
  <div class="profile-hero">
    <%= image_tag(@user.projects.first.picture) %>
    <div class="hero-promo">
      <div class="user-name">
        <% if (current_user && current_user.id == @user.id) %>
          <%= best_in_place @user, :name, :as => :input, activator: '#edit-profile-pencil', cancel_button: "Cancel", cancel_button_class: "btn btn-default button-margin-right", ok_button: "Save", ok_button_class: "btn btn-default button-margin-right" %>
          <a id="edit-profile-pencil" href="#" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></a>
        <% else %>
          <%= @user.name %>
        <% end %>
      </div>
      <br>
      <div class="user-location">
        <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @user.city %>
        <a href="javascript:void(0)" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></a>
      </div>

      <div class="user-history">
        <table>
          <tr>
            <td>
              <span class="count"><%= @user.projects.count %></span>
              <span class="title">Project</br>Leads</span>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>

</div>


