<div class="s-wallet__top-bar">
  <div class="s-wallet__top-bar-left">
    <h3 class="s-wallet__subtitle"><%= t('.title') %></h3>
    <div class="s-wallet__btc-address"><%= @receiver_address %></div>
    <button class="s-wallet__qr">
      <div id="qrcode" class="s-wallet__qr-wrap"></div>
      <svg focusable="false" version="1.1" class="svg-qr">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-qr"></use>
      </svg>
      <script>
        $('#qrcode').qrcode("<%= @receiver_address %>");
      </script>
      <%= t('.show_qrcode') %>
    </button> <!-- todo show qr code -->
  </div>
  <div class="s-wallet__top-bar-right">
    <div class="s-wallet__btc">
      <span class="s-wallet__value"><%= satoshi_balance_in_btc(@wallet_balance) %></span> BTC
    </div>
    <div class="s-wallet__usd">
      $<span class="s-wallet__value"><%= satoshi_balance_in_usd(@wallet_balance) %></span> USD
    </div>
  </div>
</div>
