<div class="invitation">
  <div class="invi-head">
    <div class="caj">
      <div class="simp-img">
        <% if notification.origin_user.picture? %><%= link_to (image_tag notification.origin_user.picture.url, :size => "30x30")  %>
        <% end %>
      </div>
      <div class="simp">
        <p class="img-caj">
          <span>
            <%= notification.origin_user.name %>
          </span>
          <%= "#{notification.source_model.created_at.strftime(" %b")} #{notification.source_model.created_at.day.ordinalize}"  rescue nil%>
          <br>
        </p>
        <p class="img-cajing">  <%= notification.source_model.user.name %> Suggested this Task</p>
      </div>
      <div class="delete-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
    </div>
    <div class="caj-text">
      <p><%= notification.source_model.description %> </div>
    <div class="caj-tab">
      <%= link_to "ACCEPT INVITATION",accept_task_path(notification.source_model), class: "button compose-btn accept fa fa-fa fa-check"  %></a>
      <%=  link_to "DECLINE AND REPLY", reject_task_path(notification.source_model), class: " button compose-btn decline fa fa-close"%></a>
    </div>
  </div>
</div>
