<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
</head>
<body>
    <p>Dear <%= @leader.name %>,</p>
    <p>
    <%= @applicant.name %> has submitted an application as <%= @request_type %> for the project <%= link_to @project.title, project_url(@project.id) %>.
    </p>
    <p>
      please click the <%= link_to 'link', taskstab_project_url(@project, tab: 'requests') %> to review incoming requests.
    </p>
</body>
</html>
