<div class="privacy-policy container">
    <div class="privacy-policy__title _text-center"><%= t('heading') %></div>
    <div class="privacy-policy__title _text-center _font-size"><%= t('.updated') %></div>
    <p class="privacy-policy__data">
      <%= t('.description_html').html_safe %>
    </p>
    <ol class="privacy-policy__list">
        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.collected_information.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.collected_information.description') %>
            </p>
        </li>
        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.contact_information.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.contact_information.description') %>
            </p>
        </li>


        <li class="privacy-policy">
            <div class="privacy-policy__title">
                <span><%= t('.other_information.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.other_information.description_html').html_safe %>
            </p>
            <ul class="privacy-policy__sublist _letter">
                <li class="privacy-policy__item">
                    <div class="privacy-policy__title"><%= t('.other_information.from_you.heading') %></div>
                    <p class="privacy-policy__data">
                      <%= t('.other_information.from_you.description') %>
                    </p>
                </li>
                <li class="privacy-policy__item">
                    <div class="privacy-policy__title"><%= t('.other_information.from_your_activities.heading') %></div>
                    <p class="privacy-policy__data">
                      <%= t('.other_information.from_your_activities.description') %>
                    </p>
                    <ul class="privacy-policy__subsublist">
                        <li class="privacy-policy__subitem">
                            <p class="privacy-policy__data">
                              <%= t('.other_information.from_your_activities.ip_address') %>
                            </p>
                        </li>
                        <li class="privacy-policy__subitem">
                            <p class="privacy-policy__data">
                              <%= t('.other_information.from_your_activities.device') %>
                            </p>
                        </li>
                    </ul>

                </li>
                <li class="privacy-policy__item">
                    <div class="privacy-policy__title"><%= t('.other_information.from_cookies.heading') %></div>
                    <p class="privacy-policy__data">
                      <%= t('.other_information.from_cookies.description') %>
                    </p>
                </li>
                <li class="privacy-policy__item">
                    <div class="privacy-policy__title"><%= t('.other_information.third_party_analytic.heading') %></div>
                    <p class="privacy-policy__data">
                      <%= t('.other_information.from_cookies.description') %>
                    </p>
                </li>
            </ul>
            <p class="privacy-policy__data">
              <%= t('.other_information.more_info_about_analytic') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.billing_information.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.billing_information.description') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.ads_collected_information.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.ads_collected_information.description') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.access_and_modify_contact.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.access_and_modify_contact.description') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.how_your_information_shared.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.how_your_information_shared.main_description') %>
            </p>
            <p class="privacy-policy__data">
              <%= t('.how_your_information_shared.more_description.intro') %>
            </p>

            <ul class="privacy-policy__sublist _disc">
                <li class="privacy-policy__item">
                    <p class="privacy-policy__data">
                      <%= t('.how_your_information_shared.more_description.access') %>
                    </p>
                </li>

                <li class="privacy-policy__item">
                    <p class="privacy-policy__data">
                      <%= t('.how_your_information_shared.more_description.share') %>
                    </p>
                </li>

                <li class="privacy-policy__item">
                    <p class="privacy-policy__data">
                      <%= t('.how_your_information_shared.more_description.analyse') %>
                    </p>
                </li>

                <li class="privacy-policy__item">
                    <p class="privacy-policy__data">
                      <%= t('.how_your_information_shared.more_description.share_with_partners') %>
                    </p>
                </li>

                <li class="privacy-policy__item">
                    <p class="privacy-policy__data">
                      <%= t('.how_your_information_shared.more_description.law_and_safety') %>
                    </p>
                </li>
            </ul>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.information_you_share.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.information_you_share.description') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.protection.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.protection.description') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.notice_to_non_us_residents.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.notice_to_non_us_residents.description') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.children.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.children.description') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.califonia_residents.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.califonia_residents.description') %>
            </p>
            <p class="privacy-policy__data">
              <%= t('.califonia_residents.more') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.external_website.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.external_website.description') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.changes_to_this_pollicy.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.changes_to_this_pollicy.description') %>
            </p>
        </li>

        <li class="privacy-policy__item">
            <div class="privacy-policy__title">
                <span><%= t('.contact_us.heading') %></span>
            </div>
            <p class="privacy-policy__data">
              <%= t('.contact_us.description') %>
            </p>
        </li>
    </ol>
</div>
