<div class="terms-of-use container">
    <div class="terms-of-use__title _text-center"><%= t('.heading') %></div>
    <div class="terms-of-use__title _text-center _font-size"><%= t('.updated') %></div>
    <p class="terms-of-use__data">
      <%= t('.description_html').html_safe %>
    </p>
    <p class="terms-of-use__data">
      <%= t('.please_read') %>
    </p>
    <p class="terms-of-use__data">
      <%= t('.capitalized_terms') %>
    </p>
    <ol class="terms-of-use__list">
        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.description_and_use.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.description_and_use.intro') %>
            </p>
            <ul class="terms-of-use__sublist _letter">
                <li class="terms-of-use__item">
                    <div class="terms-of-use__title"><%= t('.description_and_use.visitors.heading') %></div>
                    <p class="terms-of-use__data">
                      <%= t('.description_and_use.visitors.description_html').html_safe %>
                    </p>
                </li>
                <li class="terms-of-use__item">
                    <div class="terms-of-use__title"><%= t('.description_and_use.registered_user.heading') %></div>
                    <p class="terms-of-use__data">
                      <%= t('.description_and_use.registered_user.description_html') %>
                    <p class="terms-of-use__data">
                      <%= t('.description_and_use.registered_user.more') %>
                    </p>
                </li>
            </ul>
        </li>
        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.restriction_on_use.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.restriction_on_use.intro') %>
            </p>
            <ul class="terms-of-use__sublist _disc">
                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.applicable_law') %>
                    </p>
                </li>
                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.will_not_upload') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.infringes_copyright') %>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.constitutes_promotion') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.no_invasive_another_privacy') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.sensitive_information') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.no_stalk') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.no_competition') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.no_impersonate_any_person') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.no_interfere') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.no_block') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.no_scraper') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.no_attack_site') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.inform_us') %>
                    </p>
                </li>

                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.visitor_term_html').html_safe %>
                    </p>
                </li>
                <li class="terms-of-use__item">
                    <p class="terms-of-use__data">
                      <%= t('.restriction_on_use.we_may_deactivate_account') %>
                    </p>
                </li>
            </ul>
            <p class="terms-of-use__data">
              <%= t('.restriction_on_use.may_deny_access') %>
            </p>
        </li>


        <li class="terms-of-use">
            <div class="terms-of-use__title">
                <span><%= t('.user_identification.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.user_identification.description_html').html_safe %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.intellectual_property.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.user_identification.description_html').html_safe %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.registered_user_content.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.registered_user_content.description') %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.communication_with_us.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.communication_with_us.description') %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.no_warranties.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.no_warranties.description') %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.external_site.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.external_site.description') %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.donation_and_payment.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.donation_and_payment.description') %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.indemnify.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.indemnify.description') %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.compiance_with_law.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.compiance_with_law.description') %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.termination_of_agreement.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.termination_of_agreement.description') %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.digital_copyright.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.digital_copyright.description') %>
            </p>

            <div class="terms-of-use__copyright">
                <p class="terms-of-use__data"><%= t('.digital_copyright.copyright_agent') %></p>
                <p class="terms-of-use__data">Weserve.io</p>
                <p class="terms-of-use__data _bold">info@weserve.io</p>
            </div>

            <p class="terms-of-use__data">
              <%= t('.digital_copyright.more') %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.binding_arbitration.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.binding_arbitration.description_html').html_safe %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.class_action.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.class_action.description') %>
            </p>
        </li>

        <li class="terms-of-use__item">
            <div class="terms-of-use__title">
                <span><%= t('.miscellaneous.heading') %></span>
            </div>
            <p class="terms-of-use__data">
              <%= t('.miscellaneous.description') %>
            </p>
        </li>
    </ol>
    <div class="terms-of-use__bottom"><%= t('.copyright', year: 2016) %></div>
</div>
