<% @featured_projects.each do |project| %>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb30">
    <div class="project-card">

      <div class="card-img">
        <%= link_to taskstab_project_path(project) ,data: { no_turbolink: false } do%>
          <%= image_tag(project.picture.url) %>
        <% end %>
        <div class="user-link">
          <% if project.user.picture? %>
            <%= image_tag(project.user.picture, size: "30x30") %>
          <% else %>
            <%= gravatar_for_user(project.user)%>
          <%end%>
          <%= link_to project.user.name, user_path(project.user)%>
        </div>

        <span class="favor-link">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </span>
      </div>

      <div class="title-banner">
        <%= link_to project.title, taskstab_project_path(project) ,data: { no_turbolink: false }%>
      </div>

      <ul class="info-banner">
        <li>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= project.country %>
        </li>
      </ul>

      <div class="summary-banner mb20">
        <p>
          <%= project.short_description%>
        </p>
      </div>

      <div class="progress-banner mb20">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.funded_percentages%>" >
          </div>
        </div>
      </div>

      <div class="progress-report">
        <table>
          <tr class="value">
            <td><%= project.funded_percentages %></td>
            <td><%= project.team_relations_string %></td>
            <td><%= project.tasks_relations_string %></td>
            <td>$<%= project.funded_budget %></td>
          </tr>
          <tr class="items">
            <td>Funded</td>
            <td>Team</td>
            <td>Tasks</td>
            <td>Raised</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
<% end %>

<script type="text/javascript">
  $('.project-card').each(function() {
    if ($(this).height() > 386) {
      $(this).slimScroll({
        height: "386px"
      });
    }
  });
</script>
