<%= render 'modal/suggested_task_model' %>
<div class="trello-board">
  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Suggestions
        </a>
      </div>

      <div class="section-content">
        <% @suggested_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), class:'pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">
                    <%= render partial: 'task_card', locals: { task: task } %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
      <% if current_user %>
        <% unless current_user.is_project_leader_or_coordinator?(@project) %>
          <div class="section-add-task">
            <button id="suggest-new-task" type="button" title="FUND" data-modal="#newTaskModal">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Suggest a Task
            </button>
          </div>
        <% end %>
      <% else %>
        <div class="section-add-task">
            <a class="sign_up_a" data-modal="#registerModal"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Suggest a Task</a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Funding &amp; Sourcing
        </a>
      </div>

      <div class="section-content">
        <% @sourcing_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), class:'pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">
                    <%= render partial: 'task_card', locals: { task: task } %>

                    <% if user_signed_in? %>
                      <div class="fund-do-btns">
                        <button type="button" title="FUND" class='btn-root' onclick="fundPopup(<%= task.id %>)" id="<%= task.id %>" data-modal="#taskFundModal">FUND</button>
                        <button type="button" title="DO" class='btn-root _dark _do-model-popup' id="<%= task.id %>" onclick="doPopup(<%= task.id %>)" data-modal="#taskDoModal">DO</button>
                      </div>
                    <% else %>
                      <div class="fund-do-btns">
                        <button type="button" title="FUND" class='btn-root sign_in_a' data-modal="#registerModal">FUND</button>
                        <button type="button" title="DO" class='btn-root _dark _do-model-popup sign_in_a' data-modal="#registerModal">DO</button>
                      </div>
                    <% end %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <% if current_user.is_project_leader?(@project) || current_user.is_coordinator_for?(@project) %>
            <div class="section-add-task">
                <button id="add-new-task" type="button" title="FUND" data-modal="#newTaskModal">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add a Task
                </button>
            </div>
        <% end %>
      <% end %>

    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Doing
        </a>
      </div>

      <div class="section-content">
        <% @doing_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), class:'pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">
                    <%= render partial: 'task_card', locals: { task: task } %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Reviewing
        </a>
      </div>

      <div class="section-content">
        <% @reviewing_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), class:'pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">
                    <%= render partial: 'task_card', locals: { task: task } %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Done
        </a>
      </div>

      <div class="section-content">
        <% @done_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), class:'pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">
                    <%= render partial: 'task_card', locals: { task: task } %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $("#suggest-new-task").click(function() {
    $("#newTaskModal #task_state").val('suggested_task');
  });

  $("#add-new-task").click(function() {
    $("#newTaskModal #task_state").val('accepted');
  });
</script>

<div id="removeTask" class="modal-default modal-remove-task" tabindex="-1">
  <div class="modal-default__content" style="max-width: 900px;">
    <button type="button" class="modal-default__close"></button>
    <h4 class="modal-default__title">Are you sure you want to delete this task?</h4>
    <button type="button" class="btn-root _agree">Ok</button>
    <button type="button" class="btn-root _decline">Cancel</button>
  </div>
</div>


<script type="text/javascript">
    var $modalRemoveTask = $('#removeTask'),
        currentTaskUrl = null;

    $(document)
        .on('click.setCurrentTaskUrl', '[data-modal="#removeTask"]', function () {
            currentTaskUrl = $(this).data('deleteUrl');
        })
        .on('click.agreeRemoveTask', '#removeTask ._agree', function () {
            $.get(currentTaskUrl, function(data) {
                window.location.reload();
            });
        })
        .on('click.declineRemoveTask', '#removeTask ._decline', function () {
            $modalRemoveTask.trigger('click');
        })
</script>
