<div class="trello-board">
  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Pending Approval
        </a>
      </div>

      <div class="section-content">
        <% @suggested_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">

                    <div class="card-title">
                      <h5><%= task.title %></h5>
                      <p><%= task.description %></p>
                    </div>
                    <div class="comment-wrapper">
                      <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                      <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                      </div>
                    </div>

                    <div class="card-report">
                      <table>
                        <tr class="value">
                          <td><%= task.funded %></td>
                          <td><%=  @tasks_count %></td>
                          <td><%= task.donations.count %></td>
                          <td><%= task.funded_in_btc %></td>
                        </tr>
                        <tr class="items">
                          <td>Funded</td>
                          <td>Tasks</td>
                          <td>Backers</td>
                          <td>Raised</td>
                        </tr>
                      </table>
                    </div>

                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

      <div class="section-add-task">
        <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class=""><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Suggest a Task</a>
      </div>
    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Funding &amp; Sourcing
        </a>
      </div>

      <div class="section-content">
        <% @sourcing_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">

                    <div class="card-title">
                      <h5><%= task.title %></h5>
                      <p><%= task.description %></p>
                    </div>
                    <div class="comment-wrapper">
                      <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                      <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                      </div>
                    </div>

                    <div class="card-report">
                      <table>
                        <tr class="value">
                          <td><%= task.funded %></td>
                          <td><%=  @tasks_count %></td>
                          <td><%= task.donations.count %></td>
                          <td><%= task.funded_in_btc %></td>
                        </tr>
                        <tr class="items">
                          <td>Funded</td>
                          <td>Tasks</td>
                          <td>Backers</td>
                          <td>Raised</td>
                        </tr>
                      </table>
                    </div>

                    <div class="fund-do-btns">
                      <a href="javascript:void(0)" title="FUND" data-toggle="modal" class='fund-model-popup modal-link' onclick="fundPopup(<%= task.id %>)" id="<%= task.id %>" data-target="#taskFundModal">
                        FUND
                      </a>
                      <a href="javascript:void(0)" title="DO" data-toggle="modal" class='do-model-popup modal-link' id="<%= task.id %>" onclick="doPopup(<%= task.id %>)"  data-target="#taskDoModal">
                        DO
                      </a>
                      <% if user_signed_in? %>
                          <% if @project.user_id == current_user.id || task.is_leader(current_user.id) %>
                              <%= link_to 'Destroy', task, method: :delete ,class:'fund-model-popup modal-link' , data: { confirm: 'Are you sure?' } ,title:"Delete"%></td>
                          <% end %>
                      <% end %>
                      </a>
                    </div>

                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

      <% if user_signed_in? %>
          <% if @project.user_id == current_user.id %>
              <div class="section-add-task">
                <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class=""><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add a Task</a>
              </div>
          <% end %>
      <% end %>

    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Doing
        </a>
      </div>

      <div class="section-content">
        <% @doing_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">

                    <div class="card-title">
                      <h5><%= task.title %></h5>
                      <p><%= task.description %></p>
                    </div>
                    <div class="comment-wrapper">
                      <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                      <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                      </div>
                    </div>

                    <div class="card-report">
                      <table>
                        <tr class="value">
                          <td><%= task.funded %></td>
                          <td><%=  @tasks_count %></td>
                          <td><%= task.donations.count %></td>
                          <td><%= task.funded_in_btc %></td>
                        </tr>
                        <tr class="items">
                          <td>Funded</td>
                          <td>Tasks</td>
                          <td>Backers</td>
                          <td>Raised</td>
                        </tr>
                      </table>
                    </div>

                    <% if user_signed_in? %>
                        <% if @project.user_id == current_user.id %>
                            <%= link_to reviewing_task_path(task.id) do %>
                                <button onClick="window.location.reload()">
                                  <i class="fa fa-arrow-right" aria-hidden="true"></i> Submit Task for Review
                                </button>
                            <% end %>
                        <% end %>
                    <% end %>

                  </div>
                </div>
            <%end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Reviewing
        </a>
      </div>

      <div class="section-content">
        <% @reviewing_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">

                    <div class="card-title">
                      <h5><%= task.title %></h5>
                      <p><%= task.description %></p>
                    </div>
                    <div class="comment-wrapper">
                      <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                      <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                      </div>
                    </div>

                    <div class="card-report">
                      <table>
                        <tr class="value">
                          <td><%= task.funded %></td>
                          <td><%=  @tasks_count %></td>
                          <td><%= task.donations.count %></td>
                          <td><%= task.funded_in_btc %></td>
                        </tr>
                        <tr class="items">
                          <td>Funded</td>
                          <td>Tasks</td>
                          <td>Backers</td>
                          <td>Raised</td>
                        </tr>
                      </table>
                    </div>

                    <% if user_signed_in? %>

                        <% if @project.user_id == current_user.id %>
                            <div style="margin-top: 1%">
                              <%= link_to completed_task_path(task.id) do %>
                                  <button>
                                    <i class="fa fa-check" aria-hidden="true"></i>Task Completed
                                  </button>
                              <% end %>
                            </div>
                        <% end %>
                    <% end %>

                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Done
        </a>
      </div>

      <div class="section-content">
        <% @done_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">

                    <div class="card-title">
                      <h5><%= task.title %></h5>
                      <p><%= task.description %></p>
                    </div>
                    <div class="comment-wrapper">
                      <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                      <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                      </div>
                    </div>

                    <div class="card-report">
                      <table>
                        <tr class="value">
                          <td><%= task.funded %></td>
                          <td><%=  @tasks_count %></td>
                          <td><%= task.donations.count %></td>
                          <td><%= task.funded_in_btc %></td>
                        </tr>
                        <tr class="items">
                          <td>Funded</td>
                          <td>Tasks</td>
                          <td>Backers</td>
                          <td>Raised</td>
                        </tr>
                      </table>
                    </div>

                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
