<!-- Autocomplete tag is only used in this page -->
<%= javascript_include_tag "autocomplete-rails.js"%>

<main class="main-wrapper">
  <div class="project-wrapper">

    <div class="heading-banner">
      <div class="project-header">
        <h2>Browse Projects</h2>
        <div id="paginator">
          <%= paginate @featured_projects, remote: true %>
        </div>
      </div>

      <!-- <div class="search-box-wrapper pull-right">
        <%= form_tag projects_user_search_path , :method => :post , :remote => true , :id => 'search-form',:class => "search-project-box" do  %>
            <%= autocomplete_field_tag :title ,nil,autocomplete_user_search_projects_path , :placeholder =>"Search Causes, Places, or Keyword"%>
            <button type="button" name="" type="submit" >
              <i class="fa fa-search"></i>
            </button>
        <% end %>
      </div> -->

    </div>

    <div class="projects-cards"  id="search-results-show">
      <div id="error-message-show" style="background-color: red"> </div>
      <div class="row margin-none show-projects">
        <%= render "projects_page" %>
      </div>
    </div>

    <div class="load-more">
      <h5>Scroll Down To Load More</h5>
    </div>

  </div>
</main>
<% if  @download_keys  %>
    <%= render "modal/created_wallet_modal" %>
    <script type="text/javascript">
      $('#walletModal').modal('toggle');
    </script>
    <script>
      //      window.setTimeout(function(){download_keys() },5000);
      //      function  download_keys(){
      //        window.location = "";
      //        $("#backupkeys_popup").hide();
      //      }
    </script>
<% end %>

<% if @download_keys && @start_project %>
    <script type="text/javascript">
      $('#wallet_button').click(function() {
          $('#walletModal').modal('hide');
          $('#startProjectModal').modal('toggle');
          localStorage.removeItem('start_project');
      });
    </script>
<% end %>