<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="project-page-info">
  <h3>Active projects</h3>
  <p>See what other people are doing with YouServe, and get involved.</p>
  <%= link_to 'Make a new project', new_project_path, class: "hero-button" %>
</div>
<div class="separator"></div>

<div class="content projects">
  <% @projects.each do |project| %>
  <div class="project-wrapper">
    <div class="project-showcase">
      <div class="picture-wrapper">
          <% if project.picture? %>
            <a class="image-with-title" href="<%= project_path(project)%>" style="background: linear-gradient(rgba(0,0,0,0.5), transparent 20%, transparent 50%, rgba(0,0,0,0.25) 80%, rgba(0, 0, 0, 0.5)), url(<%= @project.picture.url %>) no-repeat center center">
          <% else %>
            <a class="image-with-title" href="<%= project_path(project)%>">
          <% end %>
            <h4 class="project-title"><%= project.title %></h4>
            <span class="project-country"><%= project.country %></span>
          </a>
      </div>

     <div class="project-info">
        <p><%= project.short_description %></p>

        <% if project.tasks.count > 0 %>
          <% task = project.tasks.first %>
          <div class="tasks">
            <p class="example-task">Example task</p>
            <div class="task">
              <p class="task-description"><%= task.description %></p>
              <div class="progress-bar">
                <div class="current-progress" style="width: <%= 100 * (task.current_fund/task.budget) %>%"></div>
              </div>
              <span class="left">
                <strong>$<%= task.current_fund.to_i %></strong> funded
              </span>
              <span class="right">
                <strong><%= (100 * (task.current_fund/task.budget)).to_i %></strong>% of goal
              </span>
            </div>
          </div>
        <% end %>
        <%= link_to "Learn more.", project_path(project), class: "hide-mobile" %>
      </div>
    </div>
  </div>
  <% end %>

</div>
