<!DOCTYPE html>
<html lang="en">
<head>
  <title>Start New Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
   html{
      font-size: 16px !important;
    }
  </style>
  <script>$(document).keydown(function(e) {
    // ESCAPE key pressed
    if (e.keyCode == 27) {
      $("#myModal").modal('hide');
    }
  });

  $( document ).ready(function() {
    $('html body').css({'font-size':'16px !important'});
    $('#project-status').hide();
    $('form').submit(function() {
      $('#project-status').html('');
      $('#project-status').hide();

      var valuesToSubmit = $(this).serialize();
      $.ajax({
        type: "POST",
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
        console.log("success", json);
        $('#project-status').html("");
        $('#project-status').show();
        $('#project-status').html(json);
      });
      $('#project-status').html("");
      $('#project-status').show();
      $('#project-status').html('Project has been created Successsfully');

//      Open second popup!

      return false; // prevents normal behaviour
    });

  });



  </script>
</head>
<body>

<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#create-new-project-popup">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="create-new-project-popup" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&#10006</button>
          <h4 class="modal-title">Start New Project</h4>
        </div>
        <div class="modal-body">
          <div id="project-status" class="alert alert-danger">
          </div>
          <%= simple_form_for(config_project,html: { id: 'project-form', multipart: true }) do |f| %>
              <%= f.error_notification %>

              <%#= render 'shared/error_messages', object: f.object %>
              <div class="form-group">
                  <%= f.label :title%>
                  <%= f.text_field :title, class: 'form-control', required: 'true' %>
                </div>

                <div class="form-group">
                  <%= f.label :short_description, "Short description for Project"%>
                  <%= f.text_area :short_description,size: "15x5",  class: 'form-control', required: 'true'%>
                </div>



        </div>
        <div class="modal-footer">
          <div class="form-actions" style="float: right; margin-right: 1% ">
            <%= f.button :submit, class: "btn-lg radius" %>
          </div>
        </div>
          <% end %>


      </div>

    </div>
  </div>

</div>

</body>
</html>


