<% if current_user && @project.chat_room.blank?%>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <%= javascript_include_tag 'firechat_merged' %>

    <script type='text/javascript'>
      //alert('executing code');
      var firechatRef = new Firebase('https://chatapp-f41bd.firebaseio.com');
      firechatRef.auth('<%= current_user.chat_token %>');
      var chat = new Firechat(firechatRef);
      chat.setUser('<%= current_user.id%>',  '<%= current_user.name %>', function(user) {
        console.log("Creating chatroom...");
        chat.createRoom("<%= @project.title %>", "private", function(roomId) {
          if(roomId){
            $.ajax({
              url: "/chat_rooms/create_room",
              type: "get", //send it through get method
              data:{project_id:<%=@project.id %>, room_id: roomId },
              success: function(response) {
                $("chat_success").innerHTML='seccessfully create chat room ';
              },
              error: function(xhr) {
                $("chat_success").innerHTML=' Error in  chat room creation ';
              }
            });
            console.log("Created room "+roomId);
            chat.enterRoom(roomId)
            //       console.log('Sending invitation to collaborators')
//        chat.inviteUser('1', roomId, function(invitation_id){
//          if(invitation_id){
//            console.log(invitation_id)
//            console.log('sent invitation')
//          }
//
//        });
          }
        });
      });
      // alert('executing code');
    </script>
<% end %>
<%= render 'layouts/menu' %>

<%= render 'project_top_banner' %>

<%= render 'project_menu' %>

<div class="tabs-content">
  <div class="content" id="panel1">
    <h2>Comming Soon</h2>
  </div>
  <div class="content active" id="panel2">
    <div class="row">
      <div class="medium-12 columns">
        <div class="social_bar">
          <!-- A default button-group -->
          <ul class="button-group radius ">
            <li>
              <%if user_signed_in? %>
                <%= link_to '#', :class => "button", id:'discussion-dialog-link' do %>
                  <i class="icon-edit"></i>
                  Edit
                <%end%>
                <%if current_user.is_admin_for?(@project)%>
                  <%= link_to 'Additional', edit_project_path(@project), :class => "button"%>
                <%end%>
              <%else%>
                <%= link_to edit_project_path(@project), :class => "button" do %>
                  <i class="icon-edit"></i>
                  Edit
                <%end%>
              <%end%>

            </li>
            <li><a href="#" class="button"><img src="/assets/fund.png" alt="fund icon">Fund</a></li>
            <li><a href="#" class="button"><i class="icon-check" aria-hidden="true"></i>Do a Task</a></li>
            <li><a href="javascript:void(0)" class="button">
              <div class="star-rating-sm" data-rate="<%= @rate %>">
                <% 5.times do |i| %>
                    <i class="icon-star <%= 'seleted' if i < @rate %>" aria-hidden="true"></i>
                <% end %>
              </div>&nbsp;Rank it</a></li>
            <% if @project.user_id != @current_user_id %>
                <li>
                  <%= link_to follow_project_path(@project, follow: !@followed), class: 'button add-fav', method: :post do %>
                      <i class="icon-star" aria-hidden="true"></i>
                      &nbsp;
                      <%= @followed ? "Unfollow" : "Follow" %>
                  <% end %>
                </li>
            <% end %>
            <li><a href="#" class="button">Share:
              <div class="share_img" style="display: inline-block;">
                <img src="/assets/fb.jpg">
                <img src="/assets/twitter.jpg">
                <img src="/assets/linkedin.jpg">
              </div>
            </a></li>
            <% if user_signed_in? %>
                <li>
                  <%= render 'favorite_projects/favorite_button' %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <section class="blog" id="project_description">
      <div class="row">
        <div class="small-12 medium-7 columns">
          <div class="text_blog">
            <%= @project.description%>
          </div>
        </div>
        <div id="project_video" class="small-12 medium-5 columns">
          <div class="flex-video">
            <iframe width="460" height="250" src="<%= @project.video_url%>" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <br />
    <div class="row">
      <div class="small-12 medium-8 columns">
        <div class="table_contents">
          <h3 class="table_border">Table of Contents</h3>
          <div class="table_body">
            <ul>
              <li>
                <a href="#project_menu">Project Menu</a>
              </li>
              <li>
                <a href="#top_banner">Get Involved</a>
              </li>
              <li>
                <a href="#project_tasks">Tasks</a>
              </li>
              <li>
                <a href="#project_description">Description</a>
              </li>
              <li>
                <a href="#project_video">Project Video</a>
              </li>
              <li class="section-details-content">
                <%=render 'project_section_details_content'%>
              </li>
            </ul>
          </div>
        </div>

        <div class="section-details">
          <%=render 'project_section_details'%>
        </div>
      </div>
      <div class="small-12 medium-4 columns" id="project_tasks">
        <div class="task_border ">
          <h3 class="task_title left">Tasks</h3>
          <a href="/projects/<%=@project.id%>/taskstab" class="button round task_btn btn-see-all right" data-no-turbolink="true">See all</a>
        </div>
        <% @project.tasks.each do |task| %>
            <div class="task_content clearfix">
              <h3><%= task.title%></h3>
              <p><%=task.description %></p>

              <div class="row">
                <div class="small-12 medium-9 columns">
                  <div class="progress task_bar">
                    <span class="meter" style="width:<%= task.funded%>"></span>
                  </div>
                  <div class="prgress_values_block">
                    <div class="progress_values tasks_values">
                      <p style="float: none;">$<%= task.funded%>
                        <span>Funded</span></p>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">State
                        <span><%= task.state%></span>
                      </p>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">
                        <%= task.team_relations_string%>
                        <span>Teamates</span>
                      </p>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">
                        <%= task.budget%>
                        <span>Needed</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="small-12 medium-3 columns">
                  <a href="#" class="pull-right button round task_btn fund_btn">FUND</a>
                  <a href="#" class="pull-right button round task_btn do_btn">DO</a>
                </div>
              </div>
            </div>
            <hr class="custom_hr">
        <% end %>
        <% if @project.tasks.count == 0 %>
            <h4>There are no tasks yet!</h4>
        <% end %>
      </div>
    </div>
  </div>
  <div class="content" id="panel3">
    <h2>Comming Soon: I have a feeling there should be tasks here!</h2>
    <%= render "projects/tabcontent/tasks", layout: "manish", locals: {project: @project} %>
  </div>
  <div class="content" id="panel4">
    <h2>Comming Soon</h2>
  </div>
</div>
<%= render 'visitors/sitewide_footer' %>

<div class="discussion-dialog hide">Loading...</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#tasks-tab-link").click(function() {
      window.location = "http://" + window.location.host + "/projects/<%= @project.id %>/taskstab";
    });
    window.mycheck = function () {
      console.log("this checks some stuff");
    };
    $(".discussion-dialog").dialog({
      dialogClass: 'no-dialog-padding', show : "slide",  hide : "toggle",  width: 980,  height: 800,  modal: true,autoOpen:false,
      beforeClose: function( event, ui ) {
        //tinymce.remove();
        $('.discussion-dialog').empty();
        $('#refresh').load('/projects/<%=@project.id%>.js');},
      open: function(){
        $('.discussion-dialog').load('/projects/<%=@project.id%>/discussions.js');
        $('.ui-widget-overlay').bind('click',function(){ $('.discussion-dialog').dialog('close'); })
      }
    });
    $("#discussion-dialog-link").click(function(e) {
      e.preventDefault();
      $(".discussion-dialog").dialog("open");
    });
  });
  projectId = <%= @project.id%>;
</script>
<div id="refresh" class="hide"></div>