<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<!--Front-end Developed by DulanUX |2016| dulanux@gmail.com -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>We Serve</title>
  <link rel="stylesheet" href="/static/manish-layout/css/foundation.css">
  <link rel="stylesheet" href="/static/manish-layout/css/app.css">
  <link rel="stylesheet" type="text/css" href="/static/manish-layout/css/font-awesome/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Acme|Oswald:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/manish-layout/css/glyphicon-only/glyphicon.css">
  <link rel="stylesheet" type="text/css" href="/static/manish-layout/css/Hover/css/hover-min.css">
  <link rel="stylesheet" type="text/css" href="/static/manish-layout/css/custom.css">
  <link rel="stylesheet" href="/static/manish-layout/css/media-queries.css">
  <script src="/static/manish-layout/js/vendor/modernizr.js"></script>
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">WeServe</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">

        <!-- replicate this part from the main layout menu -->
        <li class="has-dropdown ">
         <a href="#" class="no-line-height">
           <div class="badge-wrap">
             <i class="icon-bell-alt" aria-hidden="true"></i>
             <span class="count">3</span>
           </div>
         </a>
         <ul class="dropdown">
           <li><a href="#">Notifications</a></li>
           <li class="active"><a href="#">Messages</a></li>
         </ul>
         </li>
          <li class="has-dropdown">
         <% if user_signed_in? %>
           <a href="<%= user_path(current_user) %>">
             <% if current_user.picture? %>
               <%= image_tag(current_user.picture.url, size: "35x35") %>
             <% else %>
               <%= gravatar_for(current_user, 35)%>
             <%end%>
           </a>
         <% else %>
           <a href="/" data-no-turbolink="true">Home</a>
         <% end %>
           <ul class="dropdown right">
             <% if user_signed_in? %>
               <li><%= link_to 'My Profile', user_path(current_user), data: { no_turbolink: true } %></li>
               <li><%= link_to 'Edit Profile', edit_user_registration_path, data: { no_turbolink: true } %></li>
               <li class="active"><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
             <% else %>
               <li class="active"><%= link_to 'Sign in', new_user_session_path, data: { no_turbolink: true } %></li>
             <% end %>
           </ul>
         </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#" id="myBtn2" >Start a Project</a></li>
        <li><a href="/projects" data-no-turbolink="true">Active Projects</a></li>
      </ul>
    </section>
  </nav>

  <!-- Banner -->
  <section class="welcome-banner" style="background: url(<%= @project.picture%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 470px; background-repeat: no-repeat; text-align: center; ">
    <div class="middle-sec">
      <!--first row-->
      <div class="row">
        <center>
          <ul class="line1">
            <li><h4>By <%= link_to @project.user.name, user_path(@project.user), style: 'color:white' %></h4></li>
            <li>
              <% if @project.user.picture? %>
                <%= image_tag(@project.user.picture.url, size: "35x35") %>
              <% else %>
                <%= gravatar_for(@project.user, 35)%>
              <%end%>
            </li>
            <li> <h4> <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @project.institution_location || "London" %></h4></li>
          </ul>
        </center>
      </div>
      <!--2nd row-->
      <div class="row banner-header">
        <center><h2><%= @project.title %></h2></center>
      </div>
      <!--3rd row -->
      <div class="row">
        <center>
          <div class="nice round progress alert large-5 medium-5 small-5">
            <span class="meter" style="<%= @project.funded_percentages%>"></span>
          </div>
        </center>
      </div>

      <div class="row 4rd-row">
        <center>
          <table>
            <tr>
              <th><%= @project.funded_percentages || "40%" %></th>
              <th><%= @project.tasks_relations_string || "55/80" %></th>
              <th><%= @project.team_relations_string || "19/30" %></th>
              <th>$<%= @project.funded_budget || "8000" %></th>
            </tr>
            <tr>
              <td>Funded</td>
              <td>Completed Tasks</td>
              <td>Teamates</td>
              <td>Raised</td>
            </tr>
          </table>
        </center>
      </div>

      <div class="row">
        <center><a href="#" id="myBtn" class="button round get-invo-btn"><%= @project.team.team_members.include?(current_user) ? "Leave Project" : "Join Project" %></a></center>
      </div>

    </div>
  </section>

  <!-- Tab section -->
  <section class="tabs">
    <div class="row">
      <ul class="tabs" data-tab role="tablist">
        <li class="tab-title tab-title-class" role="presentation"><a id="project-tab-link" href="" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1">Project Menu <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        <li class="tab-title" role="presentation"><a id="plan-tab-link" href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2">Plan</a></li>
        <li class="tab-title active" role="presentation"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-3">Tasks <small>(353)</small></a></li>
        <li class="tab-title" role="presentation"><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-4">Team <small>(434)</small></a></li>
      </ul>
      <div class="tabs-content task-tabs-content">
        <section role="tabpanel" aria-hidden="false" class="content" id="panel2-1">
        </section>

        <!-- Plan TAB -->
        <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">

        </section>

        <!--Task tab -->
        <section role="tabpanel" aria-hidden="true" class="content active task draggle-set" id="panel2-3">
          <div class="row">
            <!--Funding / Sourcing Column -->
            <div class="large-3 medium-6 small-12 columns">

              <div class="task-box-header">
                <h6><a href="" id="myBtn2" >Funding/Sourcing</a></h6>
                <button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">...</button><br>
                <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                  <li><a href="#">This is a link</a></li>
                  <li><a href="#">This is another</a></li>
                  <li><a href="#">Yet another</a></li>
                </ul>
              </div>
              <!-- repeating member task box -->
        			<div class="dragbox">
                <!-- repeating member task boxes -->
                <% @sourcing_tasks.each do |task| %>
                  <%= render "projects/cards/task", task: task %>
                <% end %>
          			<div class="clear"></div>
                <!-- add button -->
                <div class="add-btn large-12 medium-12 small-12 columns portlet">
                  <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class="button expand portlet-content btn_addtask"><i class="fa fa-plus" aria-hidden="true"></i> Add a Task</a>
                </div>
        			</div>
            </div>

            <!-- Doing column -->
            <div class="large-3 medium-6 small-12 columns">
              <div class="task-box-header">
                <h6>Doing</h6>
                <button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="button dropdown">...</button><br>
                <ul id="drop2" data-dropdown-content class="f-dropdown" aria-hidden="true">
                  <li><a href="#">This is a link</a></li>
                  <li><a href="#">This is another</a></li>
                  <li><a href="#">Yet another</a></li>
                </ul>
              </div>
	            <div class="dragbox">
                <!-- repeating member task box -->
                <% @doing_tasks.each do |task| %>
                  <%= render "projects/cards/task", task: task %>
                <% end %>
  			        <div class="clear"></div>

                <!-- add button -->
                <div class="add-btn large-12 medium-12 small-12 columns portlet">
                  <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class="button expand portlet-content btn_addtask"><i class="fa fa-plus" aria-hidden="true"></i> Add a Task</a>
                </div>
			        </div>

            </div>

            <!-- Reviewing column -->
          <div class="large-3 medium-6 small-12 columns">
            <div class="task-box-header">
              <h6>Reviewing</h6>
              <button href="#" data-dropdown="drop3" aria-controls="drop3" aria-expanded="false" class="button dropdown">...</button><br>
              <ul id="drop3" data-dropdown-content class="f-dropdown" aria-hidden="true">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is another</a></li>
                <li><a href="#">Yet another</a></li>
              </ul>
            </div>
            <div class="dragbox">
              <!-- repeating member task box -->
              <% @reviewing_tasks.each do |task| %>
                <%= render "projects/cards/task", task: task %>
              <% end %>
		          <div class="clear"></div>
              <!-- add button -->
              <div class="add-btn large-12 medium-12 small-12 columns portlet">
                <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class="button expand portlet-content btn_addtask"><i class="fa fa-plus" aria-hidden="true"></i> Add a Task</a>
              </div>
		         </div>

            </div>

            <!-- Done Column -->
            <div class="large-3 medium-6 small-12 columns">
              <div class="task-box-header">
                <h6>Done</h6>
                <button href="#" data-dropdown="drop4" aria-controls="drop4" aria-expanded="false" class="button dropdown">...</button><br>
                <ul id="drop4" data-dropdown-content class="f-dropdown" aria-hidden="true">
                  <li><a href="#">This is a link</a></li>
                  <li><a href="#">This is another</a></li>
                  <li><a href="#">Yet another</a></li>
                </ul>
              </div>
            	<div class="dragbox">
                <!-- repeating member task box -->
                <% @done_tasks.each do |task| %>
                  <%= render "projects/cards/task", task: task %>
                <% end %>
  		          <div class="clear"></div>
                <!-- add button -->
                <div class="add-btn large-12 medium-12 small-12 columns portlet">
                  <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class="button expand portlet-content btn_addtask"><i class="fa fa-plus" aria-hidden="true"></i> Add a Task</a>
                </div>

            	</div>

            </div>

          </div>
        </section>

        <!--Team tab-->
        <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">

          <!-- one row of team members starts here -->
          <div class="row">
            <div class="large-3 medium-6 small-12 columns">
              <div class="box">
                <center><div class="team-member-img"><img src="/static/manish-layout/images/profile-image.jpg"></div></center>
                <center><h5>Caju Costa</h5></center>
                <center><h6>Project Owner/ Administrator <a href="#">Edit role</a></h6></center>
                <center><h4>Institution Name</h4></center>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since..<a href="#"> See full bio</a>
                </p>

                <center>
                  <ul class="inline-list social-net-links">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                  </ul>
                </center>
              </div>
            </div>


            <div class="large-3 medium-6 small-12 columns">
              <div class="box">
                <center><div class="team-member-img"><img src="/static/manish-layout/images/profile-image.jpg"></div></center>
                <center><h5>Caju Costa</h5></center>
                <center><h6>Project Owner/ Administrator <a href="#">Edit role</a></h6></center>
                <center><h4>Institution Name</h4></center>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since..<a href="#"> See full bio</a>
                </p>

                <center>
                  <ul class="inline-list social-net-links">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                  </ul>
                </center>
              </div>
            </div>


            <div class="large-3 medium-6 small-12 columns">
              <div class="box">
                <center><div class="team-member-img"><img src="/static/manish-layout/images/profile-image.jpg"></div></center>
                <center><h5>Caju Costa</h5></center>
                <center><h6>Project Owner/ Administrator <a href="#">Edit role</a></h6></center>
                <center><h4>Institution Name</h4></center>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since..<a href="#"> See full bio</a>
                </p>

                <center>
                  <ul class="inline-list social-net-links">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                  </ul>
                </center>
              </div>
            </div>


            <div class="large-3 medium-6 small-12 columns">
              <div class="box">
                <center><div class="team-member-img"><img src="/static/manish-layout/images/profile-image.jpg"></div></center>
                <center><h5>Caju Costa</h5></center>
                <center><h6>Project Owner/ Administrator <a href="#">Edit role</a></h6></center>
                <center><h4>Institution Name</h4></center>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since..<a href="#"> See full bio</a>
                </p>

                <center>
                  <ul class="inline-list social-net-links">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                  </ul>
                </center>
              </div>
            </div>
          </div>
          <!-- end of row-->

          <!-- one row of team members starts here -->
          <div class="row">
            <% 3.times do |team_member| %>
              <%= render "projects/cards/team_member", team_member: team_member %>
            <% end %>
          </div>
          <!-- end of row-->

        </section>

      </div>
    </div>
  </section>


  <!-- Task Details Window -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">x</span>

      <div class="task-details">
        <div class="row">

          <!--left side -->
          <div class="large-8 medium-12 small-12 columns">
            <div class="task-details-left-side">
              <div class="task-desc">
                <h3>Here goes the task name</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <h4>Condition of Execution</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                <h4>Proof of Execution</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>

                <a href="#">Edit</a>

                <hr>

                <div class="comment">
                  <h3><i class="fa fa-comment-o" aria-hidden="true"></i> Comments</h3>
                  <div class="comment-view">
                    <div class="profile-image">
                      <img src="/static/manish-layout/images/profile-image.jpg">
                    </div>
                    <div class="comment-text">
                      <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'</P>
                      <h6>May 20, 2015</h6>
                      <a href="#">Reply</a>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="post-comment">
                  <img src="/static/manish-layout/images/profile-image.jpg">
                  <textarea> </textarea>

                  <button>Send</button> &nbsp;&nbsp;
                  <a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                </div>
              </div>

              <hr>

              <div class="activity">
                <h3><i class="fa fa-list" aria-hidden="true"></i> Activity</h3>

                <div class="activity-block">
                  <img src="/static/manish-layout/images/profile-image.jpg">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
                  <h6>May 26, 2015</h6>
                  <a href="#">Reply</a>
                </div>

                <div class="activity-block">
                  <img src="/static/manish-layout/images/profile-image.jpg">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
                  <h6>May 26, 2015</h6>
                  <a href="#">Reply</a>
                </div>

                <div class="activity-block">
                  <img src="/static/manish-layout/images/profile-image.jpg">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
                  <h6>May 26, 2015</h6>
                  <a href="#">Reply</a>
                </div>
              </div>

            </div> <!-- end of task-details-left-side -->
          </div>

          <!-- right side -->
          <div class="large-4 medium-12 small-12 columns">
            <div class="task-details-right-side">
              <div class="fund">
                <center>
                  <button>FUND</button>
                  <button>DO</button>
                </center>
                <h6>Deadline :<span>28/12/2015</span></h6>
                <h6>Funded : <span class="light-blue">$300</span> / Needed : <span>$600</span></h6>
                <h6>Teammates:<span class="light-blue">6</span> / Needed : <span>3</span></h6>

                <div class="nice round progress alert large-12 medium-12 small-12">
                  <span class="meter" style="width: 40%"></span>
                </div>
                <h6>40% <span>funded.</span></h6>
              </div>
              <hr>

              <div class="button-set">

                <div class="btn-left">
                  <button><i class="fa fa-paperclip" aria-hidden="true"></i> Add Attachment</button>
                  <button><i class="fa fa-users" aria-hidden="true"></i> Add / Invite People</button>
                  <button><i class="fa fa-check" aria-hidden="true"></i> Mark As Completed</button>

                </div>
                <div class="btn-right">
                  <button><i class="fa fa-external-link" aria-hidden="true"></i> Share</button>
                  <button><i class="fa fa-user" aria-hidden="true"></i> Edit Users</button>
                  <button><i class="fa fa-arrow-right" aria-hidden="true"></i> Move</button>
                </div>

              </div>
              <hr>

              <div class="attachments">
                <h5><i class="fa fa-paperclip" aria-hidden="true"></i> Attachments</h5>

                <div class="attachment">
                  <img src="http://placehold.it/150x150">
                  <h4>Project_Overview.ppt</h4>
                  <span>Added May 20, 2015 9:50pm</span><br>
                  <div class="attachment-actions">
                    <a href="#">Open</a>
                    <a href="#">X Remove</a>
                  </div>
                </div>
                <hr>

                <div class="attachment">
                  <img src="http://placehold.it/150x150">
                  <h4>Project_Overview.ppt</h4>
                  <span>Added May 20, 2015 9:50pm</span><br>
                  <div class="attachment-actions">
                    <a href="#">Open</a>
                    <a href="#">X Remove</a>
                  </div>
                </div>

                <hr>
                <div class="attachment">
                  <img src="http://placehold.it/150x150">
                  <h4>Project_Overview.ppt</h4>
                  <span>Added May 20, 2015 9:50pm</span><br>
                  <div class="attachment-actions">
                    <a href="#">Open</a>
                    <a href="#">X Remove</a>
                  </div>
                </div>

                <hr>

              </div>
            </div>




          </div> <!--row ends -->

        </div> <!-- task details ends -->

      </div>
    </div>
    </div>

  <!-- Task Details Window -->
  <div id="myModal2" class="modal2">

    <!-- Modal content -->
    <div class="modal-content2">
      <span class="close2">x</span>

      <div class="fund-do">
        <div class="row">
        <center><h4>Here goes the title of this task</h4></center>
        <center><h6>Choose the best option for you to do this task.</h6></center>

        <div class="large-1 medium-1 small-0 columns"></div>
        <div class="large-5 medium-5 small-12 columns">
          <button class="button round expand modal-btn1">Do this task for FREE</button>
          <p>By choosing this option, you will become a team member and you will recieve an e-mail, confirming that you joined this team.</p>
        </div>
        <div class="large-5 medium-5 small-12 columns">
          <button class="button round expand modal-btn2">Get compensation to do this task</button>
          <p>Your individual compensation for this task will be <strong>$200</strong> divided by number of compensated teammates.</p>
        </div>
        <div class="large-1 medium-1 small-0 columns"></div>
          </div> <!--row ends -->

        </div> <!-- task details ends -->

      </div>
    </div>


    <script src="/static/manish-layout/js/vendor/jquery.js"></script>
    <script src="/static/manish-layout/js/foundation.min.js"></script>
    <script src="/static/manish-layout/js/custom.js"></script>
    <script>
      $(document).foundation();
    </script>
	  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
		<script type="text/javascript">


 $(document).ready(function(){
    $( ".dragbox" ).sortable({
      connectWith: ".dragbox",
      handle: ".btn_movecard, .btn_addtask",
      cancel: ".portlet-toggle",
      placeholder: "portlet-placeholder ui-corner-all"
    });

    $( ".portlet" )
      .addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
      .find( ".portlet-content" )
        .addClass( "ui-widget-header ui-corner-all" )
        .prepend( "<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>");

    $( ".portlet-toggle" ).on( "click", function() {
      var icon = $( this );
      icon.toggleClass( "ui-icon-minusthick ui-icon-plusthick" );
      icon.closest( ".portlet" ).find( ".portlet-content" ).toggle();
    });
  } );


		</script>

				<style type="text/css">


 .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 233px;
	 width: 100%;
  }


					.dragbox {
						min-height: 233px;
						width: 100%;
						padding-bottom: 100px;
					}
.draggle-set .column,
.draggle-set .columns {
		position: inherit;
}
		.add-btn button {
			margin-bottom: 10px;
			display: block;
			float: left;
			width: 100%;
		}
 .clear {
		clear: both;
	}
.task-box {
    clear: both;
}

		</style>


    <script type="text/javascript">
    $(document).ready(function(){

      $("#project-tab-link").click(function() {
        window.location = "http://" + window.location.host + "/projects/<%= @project.id %>";
      });
      $("#plan-tab-link").click(function() {
        window.location = "http://" + window.location.host + "/projects/<%= @project.id %>";
      });
      window.mycheck = function () {
        console.log("this checks some stuff");
      };

    });
    projectId = <%= @project.id%>;
    </script>

  </body>
  </html>
