<%= stylesheet_link_tag 'social-share' %>
<!-- <%= javascript_include_tag 'social-share' %> -->

<% if @change_leader_invitation && @change_leader_invitation.is_valid? %>
  <div class="center-block">
    <p class="bg-info lead text-center">
      You were invited as a leader for this project. Please review the project and accept.
      <br/>
      <%= link_to "Accept", accept_change_leader_invitation_path(@change_leader_invitation), :class => "btn btn-primary btn-sm"%>
      <%= link_to "Reject", reject_change_leader_invitation_path(@change_leader_invitation), :class => "btn btn-primary btn-sm"%>
    </p>
  </div>
<% end %>

<div id="loading-mask1">
  <div class="modal-content2">
    <center><h3>Loading...</h3></center>
    <center>
      <%= image_tag "hourglass.gif" %>
    </center>
  </div>
</div>

<div class="project-page-container">
  <div id="product-modal"></div>

  <div id="Project-Invite-Model" class="reveal-modal" data-reveal aria-labelledby="inviteTitle" aria-hidden="true" role="dialog">
    <div>
      <a class="close-reveal-modal" aria-label="Close">&times;</a>
      <div class="fund-do">
        <div class="row">
          <center><h4>Invite People To Participate</h4></center>
          <div class="large-1 medium-1 small-0 columns"></div>
          <%= form_tag(projects_send_project_email_path, remote: true, id: 'send-project-email') do %>
              <div class="large-10 medium-10 small-12 columns cold">
                <div class="row row-custom">
                  <div class="large-8 medium-12 small-12 columns cold">
                    <input type="hidden" name="project_id" value="<%= @project.id rescue nil %>">
                    <% session[:idd] = @project.id %>
                    <% session[:project_id] = nil %>
                    <input type="email" name="email" placeholder="E-mail address" class="add-email" id="guest-email" required>
                  </div>
                  <div class="large-4 medium-12 small-12 columns cold pl10">
                    <button class="round modal-btn1 btn-add normal-button" id="send-project-email-button">Add / Invite
                    </button>
                  </div>
                </div>

                <div class="row" id="contacts">
                  <div class="contact-importers" id="tab">
                    <span>Import your contacts from
                      <span class="contact-importer">
                         <span class="loading-trigger" data-source="gmail" id="gmail-icon">
                           <%= link_to image_tag("gmail.png", :alt => "Image Description", :class => "css"), contacts_gmail_path %>
                           <a href="/contacts/gmail" class="loading-indicator email-import-btn gmail-icon">Gmail</a>
                         </span>
                      </span>
                      <span class="mini-divider"></span>
                         <span class="contact-importer">
                           <span class="loading-trigger" data-source="yahoo" id="yahoo">
                              <%= image_tag("yahoo.png", :class => "img_preview") %>
                             <a href="/contacts/yahoo" class="loading-indicator email-import-btn yahoo-icon">Yahoo!
                               Mail</a>
                          </span>
                         </span>
                      <span class="mini-divider"></span>
                    </span>
                  </div>
                  <% unless session[:failure_contacts].blank? %>
                      <p id="response-failure"><%= session[:failure_contacts] %></p>
                  <% end %>
                  <% unless session[:success_contacts].blank? %>
                      <p id="response-success"><%= session[:success_contacts] %></p>
                  <% end %>
                </div>
                <%= session[:failure_contacts] = nil %>
                <%= session[:success_contacts] = nil %>

                <div class="or-container">
                  <hr class="or-hr">
                  <div id="or">or</div>
                </div>

                <div class="social-icons col-sm-6" data-title="<%= @task.title rescue nil %>" data-url="<%= task_path(@task.id) rescue nil %>" data-img="" data-desc="" data-popup="" data-via="">
                  <ul>
                    <li>
                      <div class="facebook-wrapper">
                        <a href="#" data-site="facebook" title="Share to Facebook" onclick="return SocialShareButton.share(this);"><i class="fa fa-facebook"></i>
                          <span>Share on Facebook</span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="twitter-wrapper">
                        <a rel="nofollow " data-site="twitter" title="Share to Twitter" href="#" onclick="return SocialShareButton.share(this);">
                          <i class="fa fa-twitter"></i>
                          <span>Share on twitter</span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="pinterest-wrapper">
                        <a rel="nofollow " data-site="google_plus" class="social-share-button-google_plus" onclick="return SocialShareButton.share(this);" title="Share to Google+" href="#">
                          <i class="fa fa-google-plus"></i>
                          <span>Share on Google Plus</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                  <div class="row share-link">
                    <hr/>
                    <b>URL: </b><span id="project-url"></span>
                  </div>
                </div>
              </div>
          <% end %>
          <div class="large-1 medium-1 small-0 columns"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="md-overlay"></div>

  <%= render "tasks/banner" %>

  <div class="project-detail-wrapper">
    <div class="project-tab-wrapper">
      <div class="row tabs-menu">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <ul class="nav nav-pills nav-left">
            <li>
              <a href="javascript:void(0)" class="tablinks border-right-none" onclick="openTab(event, 'Plan')">Plan</a>
            </li>
            <li>
              <%= link_to projects_show_all_tasks_path(id: @project.id), remote: true, class: "tablinks border-right-none ", onclick: "openTab(event, 'Tasks')" do %>
                  Tasks<span class="count"><%= @tasks_count %></span>
              <% end %>
            </li>
              <% if user_signed_in? %>
                  <% if @project.user_id == current_user.id %>
                    <li>
                      <%= link_to revisions_project_path(id: @project.id), remote: true, class: "tablinks border-right-none ", onclick: "openTab(event, 'Revision')" do %>
                          Revisions<span class="count"><%= @histories.count %></span>
                      <% end %>                  </li>
                <% end %>
            <% end %>
            <li>
              <%= link_to projects_show_all_teams_path(id: @project.id), remote: true, class: "tablinks border-right-none ", onclick: "openTab(event, 'Team')" do %>
                  Team<span class="count">12</span>
              <% end %>
            </li>
          </ul>

          <div class="project-btn-group">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#projectInviteModal" class="btn-invite border-link plan-show">
              Invite
            </a>
            <% if user_signed_in? %>
              <% if @project.user_id != current_user.id %>
                <%= link_to follow_project_path(@project, follow: !@followed), class: 'btn-invite border-link plan-show', method: :post do %>
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;&nbsp;
                  <%= @followed ? "Unfollow" : "Follow" %>
                <% end %>
              <% end %>
            <% end %>

            <div class="btn-wrapper plan-show">
              <div class="rank-group">
                <input type="hidden" id="stars" name="stars">
                <% for i in 1..5 %>
                    <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>

            <div class="btn-wrapper plan-show">
              <a href="javascript:void(0)" data-site="facebook" title="Share to Facebook" onclick="return SocialShareButton.share(this);" class="btn-share">
                <i class="fa fa-facebook"></i>&nbsp;&nbsp;Share
              </a>
            </div>

            <div class="btn-wrapper plan-show">
              <a href="javascript:void(0)" data-site="twitter" title="Share to Twitter" onclick="return SocialShareButton.share(this);" class="btn-share">
                <i class="fa fa-twitter"></i>&nbsp;&nbsp;Tweet
              </a>
            </div>

            <div class="btn-wrapper plan-show">
              <a href="javascript:void(0)" data-site="google_plus" onclick="return SocialShareButton.share(this);" title="Share to Google+" class="btn-share">
                <i class="fa fa-google-plus"></i>&nbsp;&nbsp;Share
              </a>
            </div>

            <div class="btn-alt-wrapper plan-show">
              <div class="rank-group">
                <input type="hidden" id="stars" name="stars">
                <% for i in 1..5 %>
                    <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>

            <div class="btn-alt-wrapper plan-show">
              <a href="javascript:void(0)" data-site="facebook" title="Share to Facebook" onclick="return SocialShareButton.share(this);">
                <i class="fa fa-facebook"></i>
              </a>
            </div>

            <div class="btn-alt-wrapper plan-show">
              <a href="javascript:void(0)" data-site="twitter" title="Share to Twitter" onclick="return SocialShareButton.share(this);">
                <i class="fa fa-twitter"></i>
              </a>
            </div>

            <div class="btn-alt-wrapper plan-show">
              <a href="javascript:void(0)" data-site="google_plus" onclick="return SocialShareButton.share(this);" title="Share to Google+">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>

            <div class="btn-wiki-wrapper pull-right plan-hide" id='save-content'>
              <a href="javascript:void(0)" class="btn-visual">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;
                Save
              </a>
            </div>

            <div class="btn-wiki-wrapper pull-right plan-hide">
              <a href="http://wiki.weserve.io/index.php?title=<%= @project.title.strip.gsub(' ', '_') %>&useskin=weserve&veaction=edit&redirect=<%= URI.encode(taskstab_project_url(@project.id)) %>" class="btn-visual">
                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;
                Visual Editor
              </a>
            </div>
          </div>

        </div>

      </div>

      <div class="tabs-wrapper">
        <div id="Plan" class="tabcontent">
          <div class="content-details">
            <div class="row">

              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">

                <!-- TODO: Should have registration popup for non signed-in users try to edit project. Removed for now-->

                <% if user_signed_in? %>
                  <div class="row margin-none mb20">
                    <div class="btn-edit-wrapper pull-right">
                      <% if current_user.id == @project.user_id %>
                        <button type="button" class="btn-edit" id="editSource">
                          <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
                        </button>
                      <% else %>
                        <a href="http://wiki.weserve.io/index.php?title=<%= URI.escape(@project.title.strip.gsub(' ', '_')) %>&useskin=weserve&veaction=edit&redirect=<%= URI.encode(taskstab_project_url(@project.id)) %>" class="btn-edit">
                          <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Go to Visual Editor
                        </a>
                      <% end %>

                      <% if current_user.is_admin_for?(@project)%>
                        <button class="btn-edit" onclick="projectImgEdit();"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit Image</button>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <div class="row margin-none mb20">
                    <div class="btn-edit-wrapper pull-right">
                      <a id="sign_in_nav" data-toggle="modal" data-target="#registerModal" class="btn-edit">
                        <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
                      </a>
                      <a id="sign_in_nav" data-toggle="modal" data-target="#registerModal" class="btn-edit">
                        <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit Image
                      </a>
                    </div>
                  </div>
                <% end %>

                <div class="clearfix"></div>
                <div class="project-summary">
                  <%= @contents.html_safe %>
                </div>

                <div class="project-idea">
                  <strong>Project Idea: &nbsp;&nbsp;</strong>
                  <%= best_in_place_if user_signed_in? && @project.user_id == current_user.id, @project, :short_description, :ok_button => "Save", :cancel_button => "Cancel", :activator => "#sd_pencil" %>
                  <% if user_signed_in? && current_user.id == @project.user_id %>
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="sd_pencil"></span>
                    <span id="str_length"></span>
                  <% end %>
                </div>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="tasks-summary">
                  <div class="summary-header">
                    <strong>Tasks</strong>
                    <a href="javascript:void(0)" class="pull-right">View All</a>
                  </div>

                <div id="tasks_cards">
                  <% @sourcing_tasks.first(5).each do |task| %>
                      <div class="summary-cards">
                        <div class="card-wrapper">
                          <div class="card-title">
                            <p><%= task.description %></p>
                          </div>
                          <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9 pt15">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="<%= task.funded %>;">
                                </div>
                              </div>
                              <div class="report-banner-table tab-task-report mt10">
                                <table>
                                  <tr class="value">
                                    <td><%= task.funded %></td>
                                    <td><%= @tasks_count %></td>
                                    <td><%= task.donations.count %></td>
                                    <td><%= task.funded_in_btc %></td>
                                  </tr>
                                  <tr class="items">
                                    <td>Funded</td>
                                    <td>Tasks</td>
                                    <td>Backers</td>
                                    <td>Raised</td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                              <div class="fund-do-btns">
                                <a href="javascript:void(0)" title="DO" onclick="doPopup(<%= task.id %>)"  data-toggle="modal" data-target="#taskDoModal">
                                  DO
                                </a>
                                <a href="javascript:void(0)" title="FUND" name="fund-button" id="<%= task.id %>" data-toggle="modal" data-target="#taskFundModal">
                                  FUND
                                </a>
                              </div>
                            </div>
                          </div>

                          </div>
                        </div>
                    <% end %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="Tasks" class="tabcontent">
          <div class="center">
            <%= image_tag("loading.gif", :alt => "rss feed") %>
          </div>
        </div>

        <!-- Available for project owner -->
        <% if user_signed_in? %>
          <% if current_user.id == @project.user_id %>
            <div id="Revision" class="tabcontent">
              <%= render partial: "projects/tabcontent/revision", locals: {histories: @histories, project: @project} %>
            </div>
          <% end %>
        <% end %>

        <div id="Team" class="tabcontent">
          <div class="center">
            <%= image_tag("loading.gif", :alt => "rss feed") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "projects/source_edit" %>

<%= render "modal/task_fund_modal" %>
<%= render "modal/task_do_modal" %>
<%= render "modal/project_invite_modal" %>

<%= render "modal/revisions_diff_modal" %>

<script>
  window.onload = function () {
    $('#project-url').html(window.location.href);
    document.getElementById("loading-mask1").style.display = "none";
  }

  function doPopup(id){
    $('#task-do-request-popup').val(id);
    // document.getElementsById('task-do-request-popup').val(id);
  }
</script>

<script>
  // There are lot of javascript behaviors on site, so we should think about exposing
  // necessary information into global javascript objects accessible to the client
  // This code below is ugly, please feel free to rework it in a better way:
  window.weserve_user = {};
  window.weserve_user.isLoggedIn = false;
  window.weserve_user.isProjectOwner = false;
  <% if user_signed_in? %>
    window.weserve_user.isLoggedIn = true;
    <% if @project.user_id == current_user.id %>
      window.weserve_user.isProjectOwner = true;
    <% end %>
  <% end %>
</script>

<script type="text/javascript">
  $(document).ready(function () {
    document.getElementById("loading-mask1").style.display = "none";

    $("#send-project-email").submit(function () {
      $('#response').empty();
      $('#response').html("loading...")
    });

    $("#send-project-email-button").click(function () {
      $('#response').empty();
    });

    $('.btn_movecard').click(function () {
      var loading = document.getElementById('loading-mask1');
      loading.style.display = "block";
      //  $("#loading-mask1").show();
    });

    $("#inviteclose").click(function () {
      $('#response').empty();
      $('#response-failure').empty();
      $("#response-success");
      $("#guest-email").val("");
    });

    $("#guest-email").keyup(function () {
      $('#response').empty();
      $('#response-failure').empty();
      $("#response-success");
    });
    // $('#invite-people-on-project').click(function(){
    //   var modalteam = document.getElementById('Project-Invite-Model');
    //   modalteam.style.display = "block";
    // });
    // var project_span_team= document.getElementById("inviteclose");
    // project_span_team.onclick = function() {
    //   modalteam.style.display = "none";
    // }
  });
</script>

<script type="text/javascript">
  $('.best_in_place').on("input",function() {
    strlength = $(".form_in_place > input").val().length;
    string = "(" + strlength + "/60)";
    if (strlength < 2 || strlength > 60) {
      $('#str_length').addClass("alert_red");
      string = string + "Input between 2 ~ 60 characters";
    }
    else
      $('#str_length').removeClass("alert_red");

    $('#str_length').text(string);
  });

  function projectImgEdit(e) {
    $('#project-img-edit').modal('show');
    if (!e) var e = window.event;
    e.cancelBubble = true;
    if (e.stopPropagation) e.stopPropagation();
  };

  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    if( evt && evt.currentTarget ) {
      evt.currentTarget.className += " active";
    }

    $('#sourceEditor').hide();
    $('.plan-hide').hide();
    $('.plan-show').show();
  }

  $(function(){

    $('#tasks_cards').slimScroll({
      height: '500px'
    });
    $('[data-toggle="tooltip"]').tooltip();
    $('.nav-pills').find('li:first-child a').click();

  });

  $('#editSource').click(function(event) {
    if( window.weserve_user.isProjectOwner ) {
      openTab({
        'currentTarget': $('.tab-revisions').get(0)
      }, 'Revision');
    }else{
      showSourceEditor();
    }
  });

  $('#save-content').click(function() {
    $.ajax({
      type: "POST",
      url: "/projects/<%= @project.id %>/write_to_mediawiki",
      data: {"data": $("#sourceEditor #textarea-editor").val()},
      dataType: "script"
    });
  });

  $('.do-model-popup').click(function () {
    $('#task-do-request-popup').val($(this).attr('id'));
  });

  var invitePeople = localStorage.getItem("invite_people");
  if( invitePeople == "true" ) {
    $('#projectInviteModal').modal('toggle');
    localStorage.removeItem('invite_people');
  }

  // Disable Source Editor
  // $(document).on('click', '.revisions-compare-edit-link', function() {
  //   var revision = $(this).data('revision');
  //   showSourceEditor( revision );
  // });

  // Compare revisions button click handler
  $(document).on('click', '.revisions-compare-button', function(e) {
    var selectedRevisions = window.revisionSelectorInstance.getValues().sort();
    if( selectedRevisions.length > 1 ) {

      populateModalRevisionInfo(selectedRevisions[0], '#revisionsDiffModal .modal-revision-info--left');
      populateModalRevisionInfo(selectedRevisions[1], '#revisionsDiffModal .modal-revision-info--right');

      $('#revisionsDiffModal .modal-body-diff').html('Loading, please wait..');
      $('#revisionsDiffModal').modal('show');
    }
  });

  // Compare revisions button click handler
  $(document).on('click', '#revisionsDiffModal a.modal-revision-edit-link', function(e) {
    var revision = $(this).parents('.modal-revision-info').data('revision');
    if( revision ) {
      $('#revisionsDiffModal').modal('hide');
      showSourceEditor(revision);
    }
  });

  function populateModalRevisionInfo( revision_id, selector )
  {
    var revisionTr = $('#Revision tr[data-revision="'+revision_id+'"]');
    var rDate = $(revisionTr).data('revision-date');
    var rUser = $(revisionTr).data('revision-user');
    var rUserPic = $(revisionTr).data('revision-user-picture');
    var rUserLink = $(revisionTr).data('revision-user-link');
    var rUserId = $(revisionTr).data('revision-user-id');

    $(selector).data('revision', revision_id);
    $(selector).data('revision-user-id', rUserId);

    $(selector).find('.modal-revision-title span').html(rDate);
    $(selector).find('.modal-revision-title span').html(rDate);

    if( rUserPic ) {
      $(selector).find('.modal-revision-user img').attr('src', rUserPic);
      $(selector).find('.modal-revision-user img').show();
    }else{
      $(selector).find('.modal-revision-user img').attr('src', '');
      $(selector).find('.modal-revision-user img').hide();
    }

    $(selector).find('.modal-revision-user .modal-revision-user-link').attr('href', rUserLink);
    $(selector).find('.modal-revision-user .modal-revision-user-link').html(rUser);
  }

  function showSourceEditor( revision_id ) {

    $('.tab-revisions').removeClass('active');
    $('.tabcontent').hide();

    var rev = null;
    if( revision_id != undefined ) {
      rev = revision_id;
    }

    $.ajax({
      type: "GET",
      url: "/projects/<%= @project.id %>/read_from_mediawiki?rev=" + rev,
      dataType: "script"
    });

  }

</script>

 <!-- RevisionSelector input -->
<script>
  $(function(){

    function RevisionSelector( selector ) {
      this.$nodes = $(selector);
      this.values = [];
      this.init();
    }

    RevisionSelector.prototype.init = function() {
      var self = this;
      this.$nodes.each(function(index, element){
          self.prepareInput( $(element) );
      });
    };

    RevisionSelector.prototype.prepareInput = function( $input ) {
      $input.find('input').change(this.onChange.bind(this));
    };

    RevisionSelector.prototype.onChange = function(e) {
      if( $(e.currentTarget).is(':checked') ) {
        $(e.currentTarget).parent().addClass('revision-compare-custom-radio--checked');
      }else{
        $(e.currentTarget).parent().removeClass('revision-compare-custom-radio--checked');
      }
      this.updateValues();
      this.updateStates();
    };

    RevisionSelector.prototype.updateStates = function() {
      if( this.values.length > 1 ) {
        this.$nodes.each(function(index, element){
          if( !$(element).find('input').is(':checked') ) {
            $(element).addClass('revision-compare-custom-radio--disabled');
            $(element).find('input').attr('disabled', true);
          }
        });
      }else{
        this.$nodes.each(function(index, element){
          if( !$(element).find('input').is(':checked') ) {
            $(element).removeClass('revision-compare-custom-radio--disabled');
            $(element).find('input').attr('disabled', false);
          }
        });
      }
    };

    RevisionSelector.prototype.updateValues = function() {
      var self = this;
      this.values = [];
      this.$nodes.each(function(index, element) {
        if( $(element).find('input').is(':checked') ) {
          self.values.push( $(element).find('input').val() );
        }
      })
    };

    RevisionSelector.prototype.getValues = function() {
      return this.values;
    };

    window.revisionSelector = RevisionSelector;

  });
</script>

<!-- Revision selector input initialization for rendered Revisions tab -->
<script>
  //This is ugly, but, there is no other way to initialize inputs because Revision tab contents
  //gets both loaded via AJAX and rendered on page load
  $(function(){
    window.revisionSelectorInstance = new window.revisionSelector('.revision-compare-custom-radio');
  });
</script>

<!-- Diff modal scripts -->
<script>
  $(function(){
    $('#revisionsDiffModal').on('shown.bs.modal', function(){
      var selectedRevs = window.revisionSelectorInstance.getValues().sort(); // Note, we're sorting revs to make diff in incremental direction
      // Not so elegant, duplication, but at least we already know that there are 2 revisions are selected
      var origin = window.location.protocol+'//'+window.location.hostname+(window.location.port ? ':'+window.location.port: '');
      $.get('http://wiki.weserve.io/api.php?action=compare&fromrev='+selectedRevs[0]+'&torev='+selectedRevs[1]+'&format=json&origin='+origin, function(data) {
        var $diffTable = $('<table>' + data.compare['*'] + '</table>');
        // We will receive table contents from API, so wrap it into table
        $('#revisionsDiffModal .modal-body-diff').html('').append($diffTable);
      });
    });
  });
</script>