<link rel="stylesheet" href="/static/task_show_page/css/foundation.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/task_show_page/css/glyphicon-only/glyphicon.css">
<link rel="stylesheet" type="text/css" href="/static/task_show_page/css/Hover/css/hover-min.css">
<link rel="stylesheet" type="text/css" href="/static/task_show_page/css/custom.css">
<link rel="stylesheet" type="text/css" href="/static/task_show_page/task_detail.css">
<link rel="stylesheet" href="/static/task_show_page/css/media-queries.css">
<script src="/static/task_show_page/js/vendor/modernizr.js"></script>
<%= stylesheet_link_tag 'social-share' %>
<%= javascript_include_tag 'social-share' %>
<div id="loading-mask1" class="modal" style="display: block">
  <!-- Modal content -->
  <div class="modal-content2" style="width:25%">
    <div class="fund-do">
      <div class="row">
        <center><h3>Loading...</h3></center>
        <center>  <%= image_tag "hourglass.gif", :style => "width : 80px;" %>
        </center>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function() {
    $('#project-url').html(window.location.href);
    //
     var modalteam = document.getElementById('Project-Invite-Model');
     modalteam.style.display = "block";

    // Get the <span> element that closes the modal
    // var project_span_team = document.getElementById("inviteclose");
    // var modalteam = document.getElementById('Project-Invite-Model')
    // // When the user clicks on <span> (x), close the modal
    // project_span_team.onclick = function () {
    //   modalteam.style.display = "none";
    // }
    document.getElementById("loading-mask1").style.display = "none";
  }

  // $(document).keydown(function(e) {
  //   if (e.keyCode == 27) {
  //     $('#response').empty();
  //     $("#guest-email").val("");
  //     $('#response-failure').empty();
  //     $("#response-success");
  //     $("#Project-Invite-Model").hide();
  //   }
  // });
</script>

<div id="product-modal"></div>

<div id="Project-Invite-Model" class="reveal-modal" data-reveal aria-labelledby="inviteTitle" aria-hidden="true" role="dialog">
  <div>
    <a class="close-reveal-modal" aria-label="Close">&times;</a>
    <div class="fund-do">
      <div class="row">
        <h4 id = 'middle'>Invite People To Participate</h4>
        <div class="alert"  id="response"></div>
        <div class="large-1 medium-1 small-0 columns"></div>
        <%= form_tag(projects_send_project_email_path, remote: true, id:'send-project-email')  do %>
            <div class="large-10 medium-10 small-12 columns cold">
              <div class="row row-custom">
                <div class="large-8 medium-12 small-12 columns cold">
                  <input type="hidden" name="project_id" value="<%= @project.id rescue nil%>">
                  <%session[:idd] = @project.id  %>
                  <% session[:project_id] = nil %>
                  <input type="email" name="email" placeholder="E-mail address" class="add-email" id="guest-email" required>
                </div>
                <div class="large-4 medium-12 small-12 columns cold pl10">
                  <button class="button round expand modal-btn1 btn-add normal-button" id="send-project-email-button" >Add / Invite</button>
                </div>
              </div>

              <div class="row" id="contacts">
                <div class="contact-importers" id ="tab">
                  <span >Import your contacts from
                    <span class="contact-importer">
                       <span class="loading-trigger" data-source="gmail"  id="gmail-icon">
                         <%= link_to image_tag("gmail.png", :alt => "Image Description", :class => "css"),  contacts_gmail_path %>
                         <a href="/contacts/gmail" class="loading-indicator email-import-btn gmail-icon">Gmail</a>
                       </span>
                    </span>
                    <span class="mini-divider"></span>
                       <span class="contact-importer">
                         <span class="loading-trigger" data-source="yahoo" id="yahoo">
                            <%= image_tag("yahoo.png" ,:class => "img_preview") %>
                            <a href="/contacts/yahoo" class="loading-indicator email-import-btn yahoo-icon">Yahoo! Mail</a>
                        </span>
                       </span>
                    <span class="mini-divider"></span>
                  </span>
                </div>

                <%unless session[:failure_contacts].blank? %>
                  <p id="response-failure"><%= session[:failure_contacts] %></p>
                <%end%>
                <%unless session[:success_contacts].blank? %>
                  <p  id="response-success"><%= session[:success_contacts] %></p>
                <%end%>
              </div>
              <%= session[:failure_contacts] = nil %>
              <%= session[:success_contacts] = nil %>

              <div class="or-container">
                <hr class="or-hr">
                <div id="or">or</div>
              </div>

              <div class="social-icons col-sm-6" data-title="<%= @task.title rescue nil%>" data-url="<%= task_path(@task.id) rescue nil%>" data-img="" data-desc="" data-popup="" data-via="" >
                <ul>
                  <li>
                    <div class="facebook-wrapper" >
                      <a href="#" data-site="facebook" title="Share to Facebook" onclick="return SocialShareButton.share(this);">
                        <i class="fa fa-facebook"></i>
                        <span>Add from Facebook</span>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="twitter-wrapper">
                      <a rel="nofollow " data-site="twitter" title="Share to Twitter" href="#" onclick="return SocialShareButton.share(this);">
                        <i class="fa fa-twitter"></i>
                        <span>Add from twitter</span>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="pinterest-wrapper">
                      <a rel="nofollow " data-site="google_plus" class="social-share-button-google_plus" onclick="return SocialShareButton.share(this);" title="Share to Google+" href="#">
                        <i class="fa fa-google-plus"></i>
                        <span>Add from Google Plus</span>
                      </a>
                    </div>
                  </li>
                </ul>
                <div class="row share-link">
                  <hr />
                  <b>URL: </b><span id="project-url"></span>
                </div>
              </div>
            </div>
        <% end %>
        <div class="large-1 medium-1 small-0 columns"></div>
      </div>
    </div>
  </div>
</div>



<div class="md-overlay"></div>
<script src="/static/task_show_page/js/vendor/jquery.js"></script>
<script src="/static/task_show_page/js/foundation.min.js"></script>
<script src="/static/task_show_page/js/custom.js"></script>
<script>
  $(document).foundation();
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    document.getElementById("loading-mask1").style.display = "none";

    $( "#send-project-email" ).submit(function( ) {
      $('#response').empty();
      $('#response').html("loading...")
    });
    $( "#send-project-email-button" ).click(function( ) {
      $('#response').empty();
    });
    $('.btn_movecard').click(function(){
      var loading = document.getElementById('loading-mask1');
       loading.style.display = "block";
    //  $("#loading-mask1").show();

    });
    $( "#inviteclose" ).click(function( ) {
     $('#response').empty();
      $('#response-failure').empty();
      $("#response-success");
      $("#guest-email").val("");
    });
    $("#guest-email").keyup(function(){
      $('#response').empty();
      $('#response-failure').empty();
      $("#response-success");
    });
    // $('#invite-people-on-project').click(function(){
    //   var modalteam = document.getElementById('Project-Invite-Model');
    //   modalteam.style.display = "block";
    // });
    // var project_span_team= document.getElementById("inviteclose");
    // project_span_team.onclick = function() {
    //   modalteam.style.display = "none";
    // }
  } );
</script>
<script src="/static/task_show_page/js/classie.js"></script>
<script src="/static/task_show_page/js/modalEffects.js"></script>
<script src="/static/task_show_page/js/cssParser.js"></script>
<script src="/static/task_show_page/js/jquery.slimscroll.js" type="text/javascript"></script>
<script type="text/javascript">
</script>





<%= render "tasks/banner" %>

<div class="project-detail-wrapper">
  <div class="project-tab-wrapper">
    <ul class="nav nav-pills nav-justified">
      <li><a href="javascript:void(0)" class="tablinks border-right-none" onclick="openTab(event, 'Plan')">Plan</a></li>
      <li><a href="javascript:void(0)" class="tablinks border-right-none" onclick="openTab(event, 'Tasks')">Tasks <small>(353)</small></a></li>
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Team')">Team <small>(434)</small></a></li>
    </ul>

    <div class="tabs-wrapper">
      <div id="Plan" class="tabcontent">
        <div class="btns-group">
          <div class="btn-wrapper">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#editProjectModal" class="btn-edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
            </a>
          </div>

          <div class="btn-wrapper">
            <a href="javascript:void(0)" class="btn-fund">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp;Fund
            </a>
          </div>

          <div class="btn-wrapper">
            <a href="javascript:void(0)" class="btn-task">
              <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;Do a Task
            </a>
          </div>

          <div class="btn-wrapper">
            <a href="javascript:void(0)" class="btn-follow">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;&nbsp;Follow
            </a>
          </div>

          <div class="btn-wrapper">
            <div class="rank-group">
              <input type="hidden" id="stars" name="stars">
              <% for i in 1..5 %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>

          <div class="btn-wrapper">
            <div class="social-sharelinks">
              <a href="javascript:void(0)" data-site="facebook" title="Share to Facebook" onclick="return SocialShareButton.share(this);">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="javascript:void(0)" data-site="twitter" title="Share to Twitter" onclick="return SocialShareButton.share(this);">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="javascript:void(0)" data-site="google_plus" class="social-share-button-google_plus" onclick="return SocialShareButton.share(this);" title="Share to Google+" >
                <i class="fa fa-google-plus" ></i>
              </a>
            </div>
          </div>
        </div>

        <div class="content-details">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="project-summary">
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eras volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisi or aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="tasks-summary">
                <div class="summary-header">
                  <strong>TASKS</strong>
                  <a href="javascript:void(0)" class="pull-right">View All</a>
                </div>

                <div id="tasks_cards">
                  <% for i in 1..5 %>
                    <div class="summary-cards">
                      <div class="card-wrapper">
                        <div class="card-title">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eras volutpat.</p>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                          </div>
                        </div>
                        <div class="report-banner-table">
                          <table>
                            <tr class="value">
                              <td>70</td>
                              <td>70</td>
                              <td>70</td>
                              <td>70</td>
                            </tr>
                            <tr class="items">
                              <td>Funded</td>
                              <td>Tasks</td>
                              <td>Teamates</td>
                              <td>Raised</td>
                            </tr>
                          </table>
                        </div>
                        <div class="fund-do-btns">
                          <a href="javascript:void(0)" title="FUND">
                            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp;FUND
                          </a>
                          <a href="javascript:void(0)" title="DO">
                            <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;DO
                          </a>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Tasks" class="tabcontent">
        <div class="trello-board">
          <div class="row">

            <div class="col-md-2 col-sm-2" style="width: 20%">
              <div class="trello-section">
                <div class="section-header">
                  <a href="javascript:void(0)">
                    Pending Approval
                  </a>
                </div>

                <div class="section-content">
                  <% @suggested_tasks .each do |task| %>
                      <div class="summary-cards">
                        <div class="card-wrapper">
                          <div class="card-title">
                            <p><%= task.description %></p>
                          </div>

                          <div class="comment-wrapper">
                            <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                            <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                          </div>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                            </div>
                          </div>
                          <div class="report-banner">
                            <div class="row">
                              <span>Funded</span>
                              <span class="pull-right"><%= task.funded %></span>
                            </div>
                            <div class="row">
                              <span>Tasks</span>
                              <span class="pull-right">55 / 80</span>
                            </div>
                            <div class="row">
                              <span>Teamates</span>
                              <span class="pull-right"><%= task.assignments.count %>/<%= task.target_number_of_participants %></span>
                            </div>
                            <div class="row">
                              <span>Raised</span>
                              <span class="pull-right">$ <%= task.budget %></span>
                            </div>
                          </div>
                          <%if @project.user_id == current_user.id %>
                              <div style="margin-top: 1%">
                                <%= link_to "Approve",accept_task_path(task.id), class: "btn btn-primary"  %></a>
                                <%=  link_to "Reject", reject_task_path(task.id), class: "btn btn-danger"%></a>

                              </div>
                          <% end  %>
                        </div>
                      </div>
                  <% end %>
                </div>
                <% if !(@project.user_id == current_user.id) %>
                <div class="section-add-task">
                  <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class=""><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Suggested Task</a>
                </div>
                    <% end %>
              </div>
            </div>

            <div class="col-md-2 col-sm-2" style="width: 20%">
              <div class="trello-section">
                <div class="section-header">
                  <a href="javascript:void(0)">
                    Funding / Sourcing
                  </a>
                </div>

                <div class="section-content">
                  <% @sourcing_tasks.each do |task| %>
                      <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                         <div class="summary-cards">
                      <div class="card-wrapper">

                        <div class="card-title">

                          <p><%= task.description %></p>
                        </div>
                        <div class="comment-wrapper">
                          <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                          <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                          </div>
                        </div>
                        <div class="report-banner">
                          <div class="row">
                            <span>Funded</span>
                            <span class="pull-right"><%= task.funded %></span>
                          </div>
                          <div class="row">
                            <span>Tasks</span>
                            <span class="pull-right">55 / 80</span>
                          </div>
                          <div class="row">
                            <span>Teamates</span>
                            <span class="pull-right"><%= task.assignments.count %>/<%= task.target_number_of_participants %></span>
                          </div>
                          <div class="row">
                            <span>Raised</span>
                            <span class="pull-right">$ <%= task.budget %></span>
                          </div>
                        </div>
                        <%if @project.user_id == current_user.id %>
                            <%= link_to reviewing_task_path(task.id), :remote => true do %>
                                <button>
                                  <i class="fa fa-check" aria-hidden="true"></i>Start Task
                                </button>
                            <% end %>
                        <% end  %>
                      </div>
                    </div>
                      <% end %>
                  <% end %>
                </div>
                <% if @project.user_id == current_user.id %>
                <div class="section-add-task">
                  <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class=""><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add a Task</a>
                </div>
                    <% end  %>
              </div>
            </div>


            <div class="col-md-2 col-sm-2" style="width: 20%">
              <div class="trello-section">
                <div class="section-header">
                  <a href="javascript:void(0)">
                    Doing
                  </a>
                </div>

                <div class="section-content">
                  <% @doing_tasks.each do |task| %>
                      <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                          <div class="summary-cards">
                      <div class="card-wrapper">
                        <div class="card-title">
                          <p><%= task.description %></p>
                        </div>
                        <div class="comment-wrapper">
                          <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                          <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                          </div>
                        </div>
                        <div class="report-banner">
                          <div class="row">
                            <span>Funded</span>
                            <span class="pull-right"><%= task.funded %></span>
                          </div>
                          <div class="row">
                            <span>Tasks</span>
                            <span class="pull-right">55 / 80</span>
                          </div>
                          <div class="row">
                            <span>Teamates</span>
                            <span class="pull-right"><%= task.assignments.count %>/<%= task.target_number_of_participants %></span>
                          </div>
                          <div class="row">
                            <span>Raised</span>
                            <span class="pull-right">$ <%= task.budget %></span>
                          </div>
                        </div>
                        <%if @project.user_id == current_user.id %>
                              <%= link_to doing_task_path(task.id), :remote => true do %>
                                  <button onClick="window.location.reload()">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Submit Task for Review
                                  </button>
                              <% end %>
                        <% end  %>
                      </div>
                    </div>
                      <%end %>
                  <% end %>
                </div>

              </div>
            </div>

            <div class="col-md-2 col-sm-2" style="width: 20%">
              <div class="trello-section">
                <div class="section-header">
                  <a href="javascript:void(0)">
                    Reviewing
                  </a>
                </div>

                <div class="section-content">
                  <% @reviewing_tasks.each do |task| %>
                      <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                        <div class="summary-cards">
                      <div class="card-wrapper">
                        <div class="card-title">
                          <p><%= task.description %></p>
                        </div>
                        <div class="comment-wrapper">
                          <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                          <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                          </div>
                        </div>
                        <div class="report-banner">
                          <div class="row">
                            <span>Funded</span>
                            <span class="pull-right"><%= task.funded %></span>
                          </div>
                          <div class="row">
                            <span>Tasks</span>
                            <span class="pull-right">55 / 80</span>
                          </div>
                          <div class="row">
                            <span>Teamates</span>
                            <span class="pull-right"><%= task.assignments.count %>/<%= task.target_number_of_participants %></span>
                          </div>
                          <div class="row">
                            <span>Raised</span>
                            <span class="pull-right">$ <%= task.budget %></span>
                          </div>
                        </div>
                        <%if @project.user_id == current_user.id %>
                            <div style="margin-top: 1%">
                              <%= link_to completed_task_path(task.id), :remote => true do %>
                                  <button>
                                    <i class="fa fa-check" aria-hidden="true"></i>Task Completed
                                  </button>
                              <% end %>
                            </div>
                        <% end  %>
                      </div>
                    </div>
                       <% end %>
                  <% end %>
                </div>

              </div>
            </div>

            <div class=" col-md-2 col-sm-2" style="width: 20%">
              <div class="trello-section">
                <div class="section-header">
                  <a href="javascript:void(0)">
                    Done
                  </a>
                </div>

                <div class="section-content">
                  <% @done_tasks.each do |task| %>
                      <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                         <div class="summary-cards">
                      <div class="card-wrapper">
                        <div class="card-title">
                          <p><%= task.description %></p>
                        </div>
                        <div class="comment-wrapper">
                          <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                          <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                          </div>
                        </div>
                        <div class="report-banner">
                          <div class="row">
                            <span>Funded</span>
                            <span class="pull-right"><%= task.funded %></span>
                          </div>
                          <div class="row">
                            <span>Tasks</span>
                            <span class="pull-right">55 / 80</span>
                          </div>
                          <div class="row">
                            <span>Teamates</span>
                            <span class="pull-right"><%= task.assignments.count %>/<%= task.target_number_of_participants %></span>
                          </div>
                          <div class="row">
                            <span>Raised</span>
                            <span class="pull-right">$ <%= task.budget %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                      <% end %>
                  <% end %>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div id="Team" class="tabcontent">
        <div class="row">
          <% @project.team.team_memberships.each do |team_membership| %>
              <%= render "projects/cards/team_membership", team_membership: team_membership %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "modal/edit_project_modal" %>

<script>
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }


  $(function(){
    $('#testDiv').slimScroll();
    $('#testDiv2').slimScroll({
      allowPageScroll: true
    });
    $('#tasks_cards').slimScroll({
      height: '500px'
    });
    $('[data-toggle="tooltip"]').tooltip();
    $('.nav-pills').find('li:first-child a').click();
  });

</script>
