<% content_for :customhead do %>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/userdashboard/css/foundation.css">
  <link rel="stylesheet" href="/static/userdashboard/css/app.css">
  <link rel="stylesheet" type="text/css" href="/static/userdashboard/css/font-awesome/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Acme|Oswald:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/userdashboard/css/glyphicon-only/glyphicon.css">
  <link rel="stylesheet" type="text/css" href="/static/userdashboard/css/Hover/css/hover-min.css">
  <link rel="stylesheet" type="text/css" href="/static/userdashboard/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/userdashboard/css/dashboard.css">
  <link rel="stylesheet" href="/static/userdashboard/css/media-queries.css">
  <script src="/static/userdashboard/js/vendor/modernizr.js"></script>
<% end %>



  <div class="toggle-button">
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
      <i id="toggle-icon" class="fa fa-toggle-on" aria-hidden="true"></i>
      Toggle Menu
    </a>
  </div>

  <div id="content-id" class="menu-content">

    <div class="row">
    <div class="table-responsive columns">
      <h4> <i class="fa fa-file-text-o" aria-hidden="true"></i> Projects</h4>
      <table class="project-table table" border="1">
        <tr>
          <td>NAME</td>
          <td>FUNDED / NEEDED</td>
          <td>TEAM / NEEDED</td>
          <td>TAKS COMPLETED</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% if @user.projects.count == 0 %>
          <tr>
            <td>
              <h4>There are no projects yet.</h4>
            </td>
          </tr>
        <% end %>
        <% @user.projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td>
              <span class="green_font">$ <%= project_funded(project)%></span>
              / $ <%= project_budget(project) %></td>
            <td>
              <%= project.team_relations_string %>
            </td>
            <td><span class="green_font"><%= project.accepted_tasks.count %> </span>/ <%= project.tasks.count%></td>
            <td>
              <a href="#">
                <i class="fa fa-bell" aria-hidden="true">
                  <span class="hvr-push">1</span>
                </i>
              </a>
            </td>
            <td>
              <%= link_to edit_project_path(project) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i> 
                Edit 
              <% end %>
            </td>
            <td>
              <%= link_to project_path(project) do %>
                <i class="fa fa-external-link" aria-hidden="true"></i> 
                See Project
              <% end %>
            </td>
          </tr> 
        <% end %>
      </table>
    </div>
    </div>

<!-- second row -->
    <div class="row">
    <div class="large-6 medium-6 small-12 columns">
      <h4 class="header"> <i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</h4>
      <ul class="see-all">
        <li><a href="#">See all</a></li>
        <li><a href="#">Prefenrences</a></li>
      </ul>

      <!-- drop down in mobile view -->
      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" id="dropdown-btn" class="button dropdown see-all-mobile"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></button><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown see-all-mobile" aria-hidden="true">
        <li><a href="#">See all</a></li>
        <li><a href="#">Prefenrences</a></li>
      </ul>


      <table border="2" class="notifi-table">
        <% @user.activities.last(5).each_with_index do |activity, i| %>
          <tr>
            <td><%= activity_text(activity) %></td>
            <td> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a> </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="large-6 medium-6 small-12 columns">
      <h4 class="header"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Messages</h4>
      <ul class="see-all">
        <li><a href="#">See all</a></li>
        <li><a href="#">Prefenrences</a></li>
        <li><%= link_to "Compose", conversations_path, {class: "button compose-btn"} %></li>
      </ul>

      <!-- drop down in mobile view -->
      <button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" id="dropdown-btn" class="button dropdown see-all-mobile"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></button><br>
      <ul id="drop2" data-dropdown-content class="f-dropdown see-all-mobile" aria-hidden="true">
      <li><a href="#" class="button compose-btn">Compose</a></li>
        <li><a href="#">See all</a></li>
        <li><a href="#">Prefenrences</a></li>
      </ul>

      <table border="2" class="notifi-table">
        <% conversations.last(5).each do |conversation| %>
          <tr>
            <td>
                <%= conversation_companion_name(@user, conversation) %>
                (<%= conversation.unread_messages_count(@user) %>)
            </td>
            <td> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a> </td>
          </tr>
        <% end %>
      </table>

    </div>
    </div>

<!-- Favorites -->
  <div class="row">
    <div class="table-responsive columns">
      <h4> <i class="fa fa-star-o" aria-hidden="true"></i> Favorites</h4>
      <table class="project-table table" border="1">
        <tr>
          <td>NAME</td>
          <td>FUNDED / NEEDED</td>
          <td>TEAM / NEEDED</td>
          <td>TAKS COMPLETED</td>
          <td></td>
          <td></td>
        </tr>
        <% if @user.favorite_projects.count == 0 %>
          <tr>
            <td>
              <h4>There are no favorite projects yet.</h4>
            </td>
          </tr>
        <% end %>
        <% @user.favorite_projects.each do |favorite_project| %>
          <tr>
            <td><%= favorite_project.project.title %></td>
            <td>
              <span class="green_font">$ <%= project_funded(favorite_project.project)%></span>
              / $ <%= project_budget(favorite_project.project) %></td>
            <td>
              <%= favorite_project.project.team_relations_string %>
            </td>
            <td>
              <span class="green_font"><%= favorite_project.project.accepted_tasks.count %> </span>
              / <%= favorite_project.project.tasks.count%></td>
            <td>
            <td>
              <a href="#">
                <i class="fa fa-bell" aria-hidden="true">
                  <span class="hvr-push">1</span>
                </i>
              </a>
            </td>
            <td>
              <%= link_to project_path(favorite_project.project) do %>
                <i class="fa fa-external-link" aria-hidden="true"></i> 
                See Project
              <% end %>
            </td>
            <td> 
              <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
            </td>
          </tr> 
        <% end %>
      </table>

    </div>
    </div>
  </div>
 <script>
   $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#side-menu-id").toggleClass("toggled-side-menu");
        $("#content-id").toggleClass("toggled-content");
        $("#toggle-icon").toggleClass("fa-toggle-off");
        $("#toggle-icon").removeClass("fa-toggle-on");
    });
 </script>
