<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>We Serve</title>
  <link rel="stylesheet" href="/static/MESSAGES-PAGE/css/foundation.css">
  <link rel="stylesheet" type="text/css" href="/static/MESSAGES-PAGE/css/font-awesome/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Acme|Oswald:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/MESSAGES-PAGE/css/custom.css">
  <link rel="stylesheet" href="/static/MESSAGES-PAGE/css/media-queries.css">
  <script src="/static/MESSAGES-PAGE/js/vendor/modernizr.js"></script>
  <link rel="stylesheet" href="/static/MESSAGES-PAGE/css/messages.css">
</head>
<body>
<div class="main">
  <div class="row messages-page-row">
    <!-- Main nav -->
    <div class="small-2 columns full-page" id="left-nav">
      <nav>
        <ul class="side-nav">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/profile_comments">Profile</a></li>
          <li><a href="/projects">Projects</a></li>
          <li class="active"><a href="/notifications">Notifications</a></li>
          <li><a href="/groupmessages">Messages</a></li>
          <li><a href="#">Logout</a></li>

        </ul>
      </nav>
    </div>
    <!-- Messages and projects nav -->
    <div class="small-2 columns full-page" id="messages-nav">
      <br>
      <div class="messages-nav-title">
        <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
        <span>Messages</span>
      </div>
      <div class="messages-menu" style="overflow-y: scroll; max-height: 95%;">
        <div class="messages-submenu">
          <div class="submenu-title">
            <% current_user_projects = current_user.projects rescue nil%>
            <span class="menu-subtitle">PROJECTS (<%= current_user_projects.count rescue 0 %>)</span>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </div>
          <ul class="circle">
            <%unless current_user.projects.blank? %>
              <% current_user_projects.each do |project|%>
                  <li><a href="#"><%= project.try(:title) %></a></li>
             <%end %>
            <%end%>

          </ul>
        </div>
        <hr>
        <div class="messages-submenu">
          <div class="submenu-title">
            <span class="menu-subtitle">DIRECT MESSAGES</span>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </div>
          <ul class="circle">
            <!--<li><a href="#">Eric</a></li>-->
            <!--<li class="active"><a href="#">Caju</a></li>-->
            <!--<li><a href="#">Tendai</a></li>-->
            <% unless (current_user_projects.blank?) %>
                 <%current_user_projects.each do |project| %>
                    <%project.chatrooms.each do |chat_room|%>
                        <%#= chat_room.inspect %>

                        <div style="background-color: lightseagreen; color:white;padding: 10px;text-align: center">Project: <a href="#" style="color:white"><%= project.try(:title) %></a></div>
                        <% project_team = get_project_team(project) %>
                        <li><a href="#"><%= get_chatroom_title(chat_room.id) %></a></li>
                        <%unless project_team.blank?%>
                          <%project_team.each do |member|%>
                              <li><a href="#"><%= member.try(:name) %></a></li>
                        <%end%>
                        <%end%>
                    <%end%>
                    <%end%>
               <%else%>
                <!--TeamMembership.where(task_id: @task.id)-->
                <li><a href="#"><%=  'No Group Found' %></a></li>
            <%end%>
          </ul>
        </div>
        <hr>
      </div>
    </div>

    <div class="small-7 columns" id="page-message-content">
      <br>
      <div>
        <!-- Conversation name -->
        <div class="small-6 columns">
          <h4>
            #Caju Costa
          </h4>
        </div>

        <div class="small-6 columns">
          <!-- Search box -->
          <div class="small-8 columns">
            <form>
              <div class="row messages-page-row collapse">
                <div class="small-9 columns">
                  <input type="search" placeholder="search">
                </div>
                <div class="small-3 columns">
                  <span class="postfix"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
              </div>
            </form>
          </div>
          <!-- Settings and attach file icons -->
          <div class="small-4 columns">
              <span style="margin-right: 8px;">
                <i class="fa fa-cog fa-2x" title="Settings" aria-hidden="true"></i>
              </span>
              <span>
                <i class="fa fa-paperclip fa-2x" title="Attach file" aria-hidden="true"></i>
              </span>
          </div>
        </div>
      </div>

      <hr>
      <!-- Messages box. includes messages and new message form -->
      <div id="messages">
        <!-- Represents single message -->
        <div class="row message">
          <div class="small-1 columns">
            <a href="#"><img class="profile-image" src="images/profile-image.jpg"></a>
          </div>
          <div class="small-11 columns message-content">
              <span>This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
              </span>
            <div class="message-date">june 2016</div>
          </div>
        </div>
        <div class="row message">
          <div class="small-1 columns">
            <a href="#"><img class="profile-image" src="images/profile-image2.jpg"></a>
          </div>
          <div class="small-11 columns message-content">
              <span>This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
              </span>
            <div class="message-date">june 2016</div>
          </div>
        </div>
        <div class="row message">
          <div class="small-1 columns">
            <a href="#"><img class="profile-image" src="images/profile-image.jpg"></a>
          </div>
          <div class="small-11 columns message-content">
              <span>This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
              </span>
            <div class="message-date">june 2016</div>
          </div>
        </div>
        <h4 class="message-break">
          <span>June 21th</span>
        </h4>
        <div class="row message">
          <div class="small-1 columns">
            <a href="#"><img class="profile-image" src="images/profile-image2.jpg"></a>
          </div>
          <div class="small-11 columns message-content">
              <span>This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
              </span>
            <div class="message-date">june 2016</div>
          </div>
        </div>
        <div class="row message">
          <div class="small-1 columns">
            <a href="#"><img class="profile-image" src="images/profile-image.jpg"></a>
          </div>
          <div class="small-11 columns message-content">
              <span>This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
              </span>
            <div class="message-date">june 2016</div>
          </div>
        </div>
      </div>
      <hr>

      <form class="new-message-form">
        <div class="small-11 columns">
          <textarea placeholder="Type message"></textarea>
        </div>
        <div class="small-1 columns">
            <span class="postfix">
              <i class="fa fa-paperclip fa-2x" title="Attach file" aria-hidden="true"></i>
            </span>
        </div>
          <span class="send-hint">
            Hit "Enter" to send
          </span>
      </form>

    </div>
  </div>
</div>
<script src="/static/MESSAGES-PAGE/js/vendor/jquery.js"></script>
<script src="/static/MESSAGES-PAGE/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>