
<div class="landing-footer">
  <div class="about-banner">
    <%= link_to t('commons.improve_the_platform'), '/projects/1/taskstab?tab=tasks' %>
    <span>&nbsp;&bull;&nbsp;</span>
    <%= link_to t('commons.faq'), 'https://weservehelp.zendesk.com/hc/en-us/categories/115000785847-FAQ' %>
    <span>&nbsp;&bull;&nbsp;</span>
    <%= link_to t('commons.about'), '/projects/1/taskstab?tab=plan' %>
  </div>

  <div class="social-banner">
    <span>
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </span>
    <span>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </span>
  </div>

  <div class="privacy-banner">
    <%= link_to t('commons.privacy_policy'), pages_privacy_policy_path, data: { no_turbolink: true } %>
    <span>&nbsp;&bull;&nbsp;</span>
    <%= link_to t('commons.term_of_use'), pages_terms_of_use_path, data: { no_turbolink: true } %>
  </div>

  <div class="copy-right">
    &copy;&nbsp;
    <%= t('commons.copy_right', year: 2017) %>
  </div>

</div>
