
<div class="landing-footer">
  <div class="about-banner">
    <a href="<%= t('commons.improve_the_platform') %>">Improve the Platform</a>
    <span>&nbsp;&bull;&nbsp;</span>
    <a href="<%= t('commons.faq_landing_link') %>">FAQ</a>
    <span>&nbsp;&bull;&nbsp;</span>
    <a href="<%= t('commons.about_links') %>">About</a>
  </div>

  <div class="social-banner">
    <span>
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </span>
    <span>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </span>
  </div>

  <div class="privacy-banner">
    <%= link_to 'Privacy Policy', pages_privacy_policy_path, data: { no_turbolink: true } %>
    <span>&nbsp;&bull;&nbsp;</span>
    <%= link_to 'Terms of Use', pages_terms_of_use_path, data: { no_turbolink: true } %>
  </div>

  <div class="copy-right">
    &copy;&nbsp;2017 WeServe.io Beta
  </div>

</div>
