<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
<link href="/static/menu/font-awesome.css"rel="stylesheet">
<link href="/static/menu/style.css"rel="stylesheet">
<link rel="stylesheet" href="/static/menu/menu.css" />
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


<header class="user-menu">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">

       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
       <li class="has-dropdown ">
        <a href="#" class="no-line-height">
          <div class="badge-wrap">
            <i class="icon-bell-alt" aria-hidden="true"></i>
            <span class="count">3</span>
          </div>
        </a>
        <ul class="dropdown">
          <li><a href="#">Notifications</a></li>
          <li class="active"><a href="#">Messages</a></li>
        </ul>
        </li>
         <li class="has-dropdown">
        <% if user_signed_in? %>
          <a href="<%= user_path(current_user) %>">
            <% if current_user.picture? %>
              <%= image_tag(current_user.picture.url, size: "35x35") %>
            <% else %>
              <%= gravatar_for(current_user, 35)%>
            <%end%>
          </a>
        <% else %>
          <a href="/" data-no-turbolink="true">Home</a>
        <% end %>
          <ul class="dropdown">
            <% if user_signed_in? %>
              <li><%= link_to 'My Profile', user_path(current_user), data: { no_turbolink: true } %></li>
              <li><%= link_to 'Edit Profile', edit_user_registration_path, data: { no_turbolink: true } %></li>
              <li class="active"><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
            <% else %>
              <li class="active"><%= link_to 'Sign in', new_user_session_path, data: { no_turbolink: true } %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <!-- Left Nav Section -->
      <a href="/" class="left" data-no-turbolink="true">
        <%= image_tag 'logo.png', style: "height:100%" %>
      </a>
      <ul class="left title-area">
        <% if user_signed_in? %>
        <li class="active">
          <%= link_to 'WeServe Dashboard', user_path(current_user), data: { no_turbolink: true } %>
        </li>
        <% end %>
        <li class="active">
          <%= link_to 'Start a Project', new_project_path, data: { no_turbolink: true } %>
        </li>
        <li class="active">
          <%= link_to 'Active Projects', projects_path, data: { no_turbolink: true } %>
        </li>
        <li class="active">
          <%= link_to 'Directory', users_path, data: { no_turbolink: true } %>
        </li>
        <li class="active">
          <%= link_to 'Institutions', institutions_path, data: { no_turbolink: true } %>
        </li>
      </ul>
    </section>
  </nav>
</header>
