<div id="side-menu-id" class="side-menu">
  <div class="side-logo">
    <% if user_signed_in? %>
        <%= link_to 'WeServe', projects_path %>
    <%else %>
        <%= link_to 'WeServe', root_path %>
    <% end %>

    <div class="user-profile">
      <% if current_user.picture? %>
        <%= image_tag(current_user.picture, size: "50x50") %>
      <% else %>
        <%= gravatar_for_user(current_user)%>
      <%end%>
      <span><%= current_user.name %></span>
    </div>
  </div>

  <ul class="side-nav">
    <li class="<%= active_class(user_path(current_user)) %>">
      <i class="fa fa-user" aria-hidden="true"></i>
      <%= link_to 'Profile', user_path(current_user) %>
    </li>
    <li class="<%= active_class(my_projects_path) %>">
      <i class="fa fa-tachometer " aria-hidden="true"></i>
      <%= link_to 'My Projects', my_projects_path %>
    </li>
    <li class="<%= active_class(notifications_path) %>">
      <span class="notify-wrapper">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
        <span class="count"><%= current_user.notifications.unread.count %></span>
      </span>
      <a href="/notifications">Notifications</a>
    </li>
    <li class="<%= active_class(group_messages_path) %>">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <a href="/group_messages">Messages</a>
    </li>
    <li>
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete%>
    </li>
  </ul>
</div>
