<div id="start-new-project-popup" class="modal">

  <!-- Modal content -->
  <div class="modal-content2" style="width: 60%">
    <!--<span class="closeinvite">×</span>-->
    <button type="button" class="close" data-dismiss="modal" id="close-project-popup" style="background-color:white">&#10006</button>
    <div class="modal-header">
      <h4 class="modal-title">Start New Project</h4>
    </div>
    <div class="modal-body">
      <div id="project-status" class="alert alert-danger">
      </div>

      <div id="project-success" style="display: none">
        <%= image_tag("loading.gif", :alt => "rss feed") %>
      </div>
      <%= simple_form_for(Project.new ,html: { id: 'project-form', multipart: true })do |f| %>
          <%= f.error_notification %>

          <%#= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <%= f.label :title%>
            <%= f.text_field :title, class: 'form-control', required: 'true' %>
          </div>

          <div class="form-group">
            <%= f.label :short_description, "Short description for Project"%>
            <%= f.text_area :short_description,size: "15x5",  class: 'form-control', required: 'true'%>
          </div>



          </div>
          <div class="modal-footer">
            <div class="form-actions" style="float: right; margin-right: 1% ">
              <%= f.button :submit, class: "btn-lg radius", id:'project-form-id' %>
            </div>



          </div>
      <% end %>


      </div>
</div>



<script>
  // Get the modal
  var modalteam = document.getElementById('start-new-project-popup');

  // Get the button that opens the modal
  var btnteam = document.getElementById("startbtn");

  // Get the <span> element that closes the modal
  var spanteam = document.getElementById("close-project-popup");

  // When the user clicks the button, open the modal
  btnteam.onclick = function() {
    modalteam.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  spanteam.onclick = function() {
    modalteam.style.display = "none";
  }

  // close Social invite Popup
//
//
//  var social_invite_modalteam = document.getElementById('social-invite-popup');
//
//  // Get the <span> element that closes the modal
//  var social_invite_spanteam = document.getElementById("close-social-invite-popup");
//
//  // When the user clicks on <span> (x), close the modal
//  social_invite_spanteam.onclick = function() {
//    social_invite_modalteam.style.display = "none";
//  }




</script>

<style>


  html{
    font-size: 16px !important;
  }
</style>
<script>



  $( document ).ready(function() {
    $(document).keydown(function(e) {
      // ESCAPE key pressed
      if (e.keyCode == 27) {
        $("#start-new-project-popup").hide();
      }
    });

    $('html body').css({'font-size':'16px !important'});
    $('#project-status').hide();
    $('#project-success').hide();


    $('#project-form').submit(function() {
      $("#project-form-id").attr("disabled", true);

      $('#project-status').html('');
      $('#project-status').hide();
      $('#project-success').show();

      var valuesToSubmit = $(this).serialize();
      debugger
      $.ajax({
        url:  $(this).attr('action'),
        type: "POST", //send it through get method
        data:valuesToSubmit,
        dataType: "JSON",
      }).always(function(response){

        $('#project-status').html("");
        $('#project-success').hide();
        $("#project-form-id").attr("disabled", false);

        $('#project-status').show();
        $('#project-status').html(response.responseText);


        if (response.status == 200 ){

          $('#project-status').html(response.responseText + ". Redirecting  ...");
          $('#project-success').show();

          setTimeout(
              function()
              {

              }, 4000);
          window.location.href = "/projects/"+response.id+"/taskstab";

        }
        console.log(response);

      });

      return false; });

  });
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">