<div class="nav-header" data-topbar role="navigation">

  <div class="logo-container">
    <%= image_tag 'logo.png' %>
  </div>

  <ul class="links-wrapper ml30">
    <li>
      <a href="javascript:void(0)" data-reveal-id="Project-Invite-Model" >ADD / INVITE PEOPLE</a>
    </li>
    <li>
      <a data-toggle="modal" data-target="#startProjectModal">Start a Project</a>
    </li>
    <li>
      <%= link_to 'Active Projects', projects_path, data: { no_turbolink: true } %>
    </li>
  </ul>

  <ul class="links-wrapper pull-right">
    <li class="user-profile-link">
      <%= link_to user_path(current_user), data: { no_turbolink: true } do %>
        <% if current_user.picture? %>
          <%= image_tag(current_user.picture.url, size: "30x30") %>
        <% else %>
          <%= gravatar_for_user(current_user)%>
        <%end%>
        <%= current_user.name %>
      <% end %>
    </li>
    <li>
      <%= link_to messages_path, data: { no_turbolink: true } do %>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <% end %>
    </li>
    <li>
      <%= link_to notifications_path, data: { no_turbolink: true } do %>
        <div class="badge-wrap">
          <i class="fa fa-bell-o" aria-hidden="true"></i>
          <span class="count">0</span>
        </div>
      <% end %>
    </li>
    <li class="active">
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  </ul>

</div>
