<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <a href="#" data-reveal-id="SignInModal" class="signup_buttons">Sign In</a>
      </li>
      <!--<li>-->
        <!--<a href="#" data-reveal-id="socialSignIn">Social sign In</a>-->
      <!--</li>-->
      <li>
        <a href="#" data-reveal-id="SignUpModal" class="signup_buttons">Sign Up</a>
      </li>
      <%#= render "layouts/social_auth_container" %>
    </ul>
    <!-- Left Nav Section -->
    <div class="left">
      <%= image_tag 'logo.png', style: "height:100%; padding-left: 5px;" %>
    </div>
    <ul class="left title-area">
      <li class="active">
        <%= link_to "<strong>Start a Project</strong>".html_safe, new_project_path, data: { no_turbolink: true } %>
      </li>
      <li class="active">
        <%= link_to 'Active Projects', projects_path, data: { no_turbolink: true } %>
      </li>
    </ul>
  </section>
</nav>

<div id="SignInModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= react_component 'SignInModal', {authenticity_token: form_authenticity_token}%>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
<center>  <h2 align="center">OR</h2></center>
<div style="text-align: center;padding-bottom: 30px ;margin-top: 20px">
      <%= link_to image_tag("facebook.png"), user_facebook_omniauth_callback_path %>
      <%= link_to image_tag("signup-twitter.png"), user_twitter_omniauth_authorize_path %>
      <%= link_to image_tag("google.png"), user_google_oauth2_omniauth_callback_path %>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</div>

<div id="SignUpModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= react_component 'SignUpModal', {authenticity_token: form_authenticity_token}%>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>